.c-map-screen
  min-height: calc(100vh - 56px)
  display: flex;
  flex-direction: column;
  background-color: #F2F2F2
  &__top
    padding: 1rem
    background-color: #fff
  &__title
    display: flex;
    padding: 1rem 0
    color: $color-primary3
    align-items: center;
    .title
    .text
      font-weight: 400
      margin: 0 1rem 0 0
      font-size: 2.3rem
      line-height: 0.8
    .u-icon
      color: $color-primary
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.75rem
    .button
      border: none
      background-color: #FFEF00
      color: $color-primary
      font-size: 0.9rem
      font-weight: 700
      border-radius: 1.5rem
      padding: 0 1.5rem
      height: 2.5rem
    @media (max-width: 650px)
      flex-wrap: wrap;
      .text
        margin 0
        width: calc(100% - 40px)
      .button
        width: 100%
        margin-top: 1rem
  &__filters
    display: flex;
    font-size: 0.9rem
    .title
      display: none
    & > *
      padding-left: 1.5rem
      padding-right: 1.5rem
      border-left: 1px solid #F2F2F2
    & > *:nth-child(1)
      padding-left: 0
      border-left: none
    & > *:nth-last-child(1)
      padding-right: 0
    input
      border: 2px solid #F2F2F2
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px
      background-color: #F2F2F2
      height: 2.5rem
      padding: 0 1rem
      outline: none
      transition: background-color 0.4s ease
      width: 13rem
    input::placeholder
      opacity: 0.75
    input:focus
      background-color: #fff
    button
      background: $color-primary3
      border: none
      font-weight: 700
      border-top-right-radius: 5px
      border-bottom-right-radius: 5px
      height: 2.5rem
      padding: 0 1rem
      color: #fff
    select
      background-color: #F2F2F2
      height: 2.5rem
      border: none
      border-radius: 5px
      padding: 0 1rem
      color: #555
      outline: none
    @media (max-width: 1250px)
      flex-wrap: wrap;
      .search
        width: 100%
        margin-bottom: 1rem
    @media (max-width: 750px)
      position: fixed;
      top: 0
      left: 0
      background: #fff
      z-index: 100
      height: 100%
      display: none;
      width: 100%
      &.is-active
        display: block
      .title
        display: block;
        font-size: 1rem
        margin: 0
        padding: 1.5rem 1rem
        text-align: right;
        width: 100%
        border-bottom: 1px solid #eee
        margin-bottom: 1rem
      .search
        display: flex;
        justify-content: center;
      & > *:nth-last-child(1),
      & > *:nth-last-child(2),
      & > *:nth-last-child(3)
        margin-top: 1rem

  &__content
    background-color: #F2F2F2
    padding-bottom: 3rem
    display: flex;
    min-height: 100%
    .c-map-screen__list
      width: 60%
    .c-map-screen__map
      width: 40%
    @media (max-width: 750px)
      padding-bottom: 5.5rem
  &__list
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem
    @media (max-width: 450px)
      padding: 1rem 0.5rem 0 0.5rem
  &__item
    background-color: #fff
    border-radius: 1rem
    overflow: hidden;
    display: flex;
    height: 10rem
    margin: 5px
    width: calc(50% - 10px)
    transition: transform 0.4s ease, box-shadow 0.4s ease
    border: 2px solid #F2F2F2
    cursor: pointer;
    line-height: 1
    @media (max-width: 700px)
      width: 100%
    &:hover
      transform: scale(1.01);
      box-shadow: 1px 1px 8px rgba(#000, .2)
    figure
      height: 100%
      flex none
      width: 9rem
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img
        height: 100%
        width: auto;
    @media (max-width: 450px)
      figure
        width: 7rem
    & > .content
      padding 1rem
      display: flex;
      flex-direction: column;
      & > *
        margin: 0
      .number
        display: block;
        width: 2rem
        background: $color-primary3
        color: #fff
        border-radius: 1rem
        padding-top: 3px
        padding-bottom: 3px
        text-align: center;
        font-size: 0.7rem
        margin-bottom: 0.5rem
      .title
        height: 17px
      .activities
        font-size: 0.9rem
        color: #888
        margin-bottom: 0.5rem
      .u-icon
        font-size: 0.7rem
        color: $color-primary
      .location, .schedules
        font-weight: 300
        font-size: 0.9rem
        color: #666

  &__pages
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%
    button
      border: 1px solid #fff
      border-radius: 50%
      color: $color-primary
      width: 2rem
      height: 2rem
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 0.25rem
      margin-right: 0.25rem
      background: #fff
      transition: 0.4s ease all
    button:hover
      border: 1px solid $color-primary
    .is-active
      background: $color-primary
      color: #fff
      border: 1px solid $color-primary
    .u-icon
      margin-right: 0
      font-size: 0.7rem
    .footer
      color: #555
      font-size: 1rem
      margin: 0.5rem 0 0 0

  .c-map-screen__content
    .c-map-screen__list
      @media (max-width: 1111px)
        width: 100%
  &__map
    background: #fff
    height: 32.5rem
    position: relative;
    .title
      display: none
    @media (max-width: 1111px)
      position: fixed;
      width: 100% !important
      height: 100%
      top: 0
      left: 0
      flex-direction: column;
      padding-bottom: 4.5rem
      display: flex;
      z-index: -2
      &.is-active
        z-index: 99
      .title
        display: block;
        font-size: 1rem
        margin: 0
        padding: 1.5rem 1rem
        text-align: right;
    @media (min-width: 1112px)
      z-index: 1

  &__footer-btns
    position: fixed;
    bottom: 0
    left: 0
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
    background-color: rgba(#fff, 0.6)
    height: 4.5rem
    z-index: 99
    button
      background: $color-primary
      color: #fff
      border-radius: 2rem
      padding: 0 1.5rem
      height: 2.5rem
      font-weight: 700
      font-size: 0.9rem
      margin: 0 0.5rem
      border: none
    @media (min-width:750px)
      display: none;
