.c-map-register

  &__cover-page
    background: $color-primary;
    background: linear-gradient(to right, $color-primary 0%, $color-primary3 100%);
    color: #fff
    display: flex;
    align-items: center;
    padding-top: 1rem
    height: 22rem
    justify-content: center;
    img
      height: 13rem
    .right
      max-width: 20rem
      margin-left: 5rem
    .hashtag
      background: $color-primary
      color: #fff
      font-size: 1.5rem
      font-weight: 600
      border-radius: 2rem
      text-align: center;
      padding: 0.4rem 1rem
    .title
      font-size: 2rem
      line-height: 1
      margin 1rem 0 0 0
    .subtitle
      margin 0.75rem 0 0 0
      font-size: 1.2rem
    @media (max-width: 875px)
      img
        height: 8rem
      .right
        margin-left: 2rem
    @media (max-width: 875px)
      flex-direction: column;
      height: initial
      padding: 3rem 2rem
      img
        margin-bottom: 1rem
      .right
        margin-left: 0

  &__section
    padding-top: 2rem
    padding-bottom: 2rem
    .left,
    .right
      width: 50%
    .left
      margin-right: 2rem
      .title
        margin: 0 0 2rem 0
        font-size: 2.2rem
        line-height: 1
        font-weight: 300
        opacity: 0.8
        strong
          font-weight: 700
      .item
        display: flex;
        align-items: center;
        font-size: 1.25rem
        margin-top: 1rem
        line-height: 1
        color: #333
      .item::before
        flex: none
        font-size: 1rem
        margin-right: 0.5rem
        content: "\e913"
        font-family: 'icomoon' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        border-radius: 50%
        background: #00C350
        height: 2rem
        width: 2rem
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff
    .right
      margin-left: 2rem
      img
        height: 25rem
        width: auto;
    @media (max-width: 900px)
      .right
        margin-left: 0
        img
          height: 20rem
    @media (max-width: 900px)
      .right,
      .left
        width: 100%
        max-width: 500px
      .left
        margin-right: 0
      & > *
        flex-direction: column;

  &__form
    padding: 2.5rem 0
    .message
      font-size: 0.8rem
      color: $color-primary
      display: block;
      text-align: center;
    .title
      margin: 0 0 1rem 0
      font-weight: 400
      font-size: 2rem
      color: $color-primary3
      text-align: center;
    input, select, textarea
      background: #fff
      border-radius: 1.5rem
      border: 1px solid #e2e2e2
      display: block;
      height: 3rem
      outline: none
      padding-left: 1.5rem
      padding-right: 1.5rem
      transition: 0.4s ease border
      width: 100%
    input::placeholder
      color: #bbb
    .button
      align-items: center;
      background: $color-primary3
      border-radius: 1.5rem
      color: #fff
      cursor: pointer;
      display: flex;
      font-size: 0.9rem
      font-weight: 600
      height: 3rem
      justify-content: center;
      padding-left: 2rem
      padding-right: 2rem
      text-transform: uppercase;
    textarea
      height: 10rem
      width: 100%
      padding-top: 0.5rem
      padding-bottom: 0.5rem
    select:focus,
    textarea:focus,
    input:focus
      border: 1px solid $color-primary3
    .two
      display: flex;
      & > *
        width: 100%
      & > *:nth-child(1)
        margin-right: 0.5rem
      & > *:nth-child(2)
        margin-left: 0.5rem
      @media (max-width: 650px)
        flex-direction: column;
        & > *:nth-child(1)
          margin-right: 0
        & > *:nth-child(2)
          margin-left: 0
    .footer
      margin: 0.5rem 0 0 0
      color: #444
      font-size: 0.9rem
    .footer::before
      content: '*'
      color: #f00
      margin-right: 0.5rem
