$category_bg_color             : darken(white, 5%);
$category_bg_color_hover       : darken(white, 10%);
$category_bg_color_succes      : #4BAA2C;




.o-category-item {
  align-content: center;
  background-color: $category_bg_color;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: 8rem;
  justify-content: center;
  padding-bottom: 1rem;
  padding-top: 1rem;
  position: relative;
  text-align: center;
  transition: 0.4s background-color ease;
  width: 100%;

  &:hover {
    background-color: $category_bg_color_hover;
  }
}

.o-category-item__check {
  display: none;
  font-size: 1.3rem;
  position: absolute;
  right: 5%;
  top: 7%;
}

.o-category-item__icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;

  img {
    height: 4rem;
    width: auto;
    margin: 0 auto;
  }
}

.o-category-item__text {
  display: block;
}

.is-close {

  .o-category-item__text {
    font-size: 4rem;
    color: $color-primary;
  }
}

.is-selected {
  background-color: $category_bg_color_succes;
  color: #fff;

  .o-category-item__check {
    display: block;
  }

  &:hover {
    background-color: darken($category_bg_color_succes, 5%);
  }
}
