.companyRegister__aside p {
  margin-bottom: 0;
  color: darken(#fff, 40%);

  strong {
    color: darken(#fff, 60%);
  }
}

.companyRegister__aside .phrase {
  .figure {
    width: 35%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .title {
    width: 55%;
    margin-left: 1rem;
    min-width: 412px;

    h1, h2, h3 {
      line-height: 1;
    }

    h1 {
      color: $color-primary;
      font-size: 2.1rem;
      font-weight: 300;
      margin: 0;
    }

    h2 {
      font-weight: 800;
      font-size: 3.3rem;
      margin: 0;
    }

    h2 .clr-gray {
      color: darken(#fff, 15%);
    }

    h2 .clr-primary {
      color: $color-primary;
    }

    h2 .clr-mall {
      color: $color-malldigital;
    }
  }

  @media (max-width: 1070px) {
    .figure {
      display: none;
    }

    .title {
      width: 100%;
      min-width: 374px;

      h2 {
        font-size: 3rem;
      }
    }
  }
}
