.companyRegister__nav {
  background-image: url('/defaults/bg.png');
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: auto 20px;
  height: 100px;
  padding-bottom: 20px;

  .container {
    background-color: $color-primary;
    height: 100%;

    .o-container {
      height: 100%;

      .btn {
        background-color: $color-malldigital;
        border-radius: 0.3rem;
        border: none;
        color: #fff;
        font-size: 1.5rem;
        padding-left: 1.3rem;
        padding-right: 1.2rem;
        transition: 0.4s ease background-color;

        &:hover {
          background-color: darken($color-malldigital, 7%)
        }
      }
    }
  }

  figure {
    img {
      height: 3.5rem;
    }
  }
}
