.companyRegister__form {
  max-width: 400px;
  margin-left: 1.5rem;

  .conditions {
    font-size: 0.8rem;
    color: darken(#fff, 40%);

    strong {
      color: darken(#fff, 60%);
    }
  }

  .submit {
    background-color: $color-primary;
    color: #fff;
    font-size: 1.3rem;
    line-height: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0.3rem;
    height: 3rem;
    border: none;
    transition: 0.3s ease background-color;

    &:hover {
      background-color: darken($color-primary, 6%);
    }
  }

  @media (max-width: 700px) {
    margin-left: 0;
  }
}
