.o-container {
  // max-width: 1024px + 1rem;
  max-width: 1240px;
  box-sizing: border-box;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;

  @media (min-width: 776px) {
    // max-width: 1024px + 2rem;
    max-width: 1256px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

}

.o-container--marginInt {
  & > *:nth-child(1) {
    margin-bottom: 2rem;
  }
  @media (min-width: 900px) {
    & > *:nth-child(1) {
      margin-right: 1rem;
      margin-bottom: 0;
    }
    & > *:nth-child(2) {
      margin-left: 1rem;
    }
  }
  @media (max-width: 899px) {
    & > *:nth-child(1) {
      width: 100%;
    }
    // & > *:nth-child(2) {
    // }
  }
}
