.o-config-dialog {
  cursor: pointer;
  height: 100%;
  position: relative;

  &:hover {
    & > ul {
      display: block;
    }
  }
}

.o-config-dialog > ul {
  background: white;
  box-shadow: 2px 2px 20px rgba(147, 147, 147, 0.81);
  color: darken(#fff, 30%);
  display: block;
  display: none;
  font-size: 0.8rem;
  min-width: 11rem;
  padding-bottom: 0.5rem;
  position: absolute;
  top: 70%;
  z-index: 99;
  right: -1.5rem;
  // left: 50%;
  // transform: translateX(-50%);

  &::before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-bottom: 0.8rem solid #fff;
    position: absolute;
    bottom: 100%;
    right: 21%;
  }
}

.o-config-dialog > ul > li:nth-child(1),
.o-config-dialog > ul > a:nth-child(1) {
  margin-top: 0.5rem;
}

.o-config-dialog > ul > .active:not(p) {
  position: relative;
  // border-top: 1px solid $color-primary;
  // border-bottom: 1px solid $color-primary;

  &:hover {
    background: none;
    color: inherit;
  }

  &::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    background-color: $color-primary;
  }

  // &::before,
  // &::after {
  //   border-bottom: 5px solid transparent;
  //   border-top: 5px solid transparent;
  //   content: "";
  //   display: block;
  //   height: 0;
  //   position: absolute;
  //   top: 50%;
  //   transform: translateY(-60%);
  //   width: 0;
  // }
  //
  // &::before {
  //   left: 0;
  //   border-left: 10px solid $color-primary;
  // }
  //
  // &::after {
  //   right: 0;
  //   border-right: 10px solid $color-primary;
  // }
}

.o-config-dialog > ul > li,
.o-config-dialog > ul > a {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  cursor: pointer;
  height: 32px;
  line-height: 1;
  width: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  font-weight: 600;

  &:hover {
    background: $color-primary;
    color: #fff;
  }

  i{
    margin-right: 0.3rem;
  }

  i::before {
    vertical-align: middle;
  }
}

.o-config-dialog > ul > p {
  color: #999;
  border-bottom: 1px solid rgba(#999, 0.4);
  margin: 0 0 0.5rem 0;
  padding-top: 0.8rem;
  padding-bottom: 0.6rem;
  text-align: center;
}
