$column_number : 1;
$column_space : 20;



@mixin grilla-item($column) {
  .o-grilla > li {
    flex: none;
    margin-left: #{$column_space}px;
    margin-top: #{$column_space}px;
    width: calc(#{100/$column}% - #{($column_space*($column - 1))/$column}px);

    &:nth-child(#{$column}n+1){
      margin-left: 0;
    }

    @for $i from 1 through $column {
      &:nth-child(#{$i}) {
        margin-top: 0;
      }
    }
  }
}



.o-grilla {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
}
    .o-grilla > li {
      flex: none;
      margin-left: 0;
      margin-top: #{$column_space}px;
      width: 100%;
      @for $i from 1 through $column_number {
        &:nth-child(#{$i}) {
          margin-top: 0;
        }
      }
    }

@media screen and (min-width: 475px) and (max-width: 749px){
  @include grilla-item(2);
}

@media screen and (min-width: 750px) and (max-width: 1023px){
  @include grilla-item(3);
}

@media screen and (min-width: 1024px) and (max-width: 1249px) {
  @include grilla-item(4);
}

@media screen and (min-width: 1250px) {
  @include grilla-item(5);
}
