.o-modal-cart {
  position: relative;

  &__btn {
    background: $color-primary;
    cursor: pointer;
    padding: 0.8rem 0.2rem 0.2rem 0.7rem;
    position: fixed;
    right: 0;
    top: 30%;
    z-index: 9;
    text-align: center;
    width: 4.5rem;
    transition: 0.7s ease all;

    i {
      color: #fff;
      font-size: 3rem;
    }

    .number {
      position: absolute;
      top: 20%;
      left: 21%;
      border-radius: 50%;
      background: yellow;
      color: $color-primary;
      text-align: center;
      width: 1.5rem;
    }

  }

  &__close {
    position: absolute;
    top: 0;
    right: 1rem;
    color: $color-secondary;
    z-index: 9999999;
    font-size: 2.5rem;
    outline: none;
    border: none;
  }
}

.o-model-cart__btn--active {
  top: 40% !important;
  left: initial;
  right: 450px;
  z-index: 99999;
}
