.o-subheader {
  // height: 5rem;
  @media (min-width: 701px) {
    width: initial !important
  }
}

.o-subheader__category {
  position: relative;
  min-width: 120px;

  button {
    border: none;
    padding: 0
  }
  i {
    margin-right: 0;
  }
  &__text {
    margin-left: 0.3rem;
  }
  @media (max-width: 700px) {
    min-width: initial;
    .o-subheader__category__text {
      display: none;
    }
  }
}
.o-subheader__search {
  position: relative;
  min-width: 200px;

  height: 2rem !important;
  align-self: center;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #F7F7F9;

  input {
    border: none;
    color: $color-secondary;
    font-weight: 300;
    padding-left: 1rem;
    padding-right: 1rem;
    position: absolute;
    right: 0;
    top: 0;
  }

  i {
    bottom: 50%;
    color: lighten($color-secondary, 10%);
    font-size: 1.2rem;
    position: absolute;
    right: 2%;
    transform: translateY(50%);
  }
}

.o-subheader__range {
  max-width: 23rem;

  @media (max-width: 900px) {
    display: none !important;
  }
}

.o-subheader__show-products {
  max-width: 17rem;

  p {
    font-weight: 200;
  }

  strong {
    font-weight: 400;
    padding-left: 1.5rem;
    padding-right: 1rem;
  }

  @media (max-width: 1050px) {
    display: none !important;
  }
}


.o-subheader > * {
  align-items: center;
  border-left: 1px solid rgba(#fff, 0.2);
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.o-subheader > *:nth-child(1) {
  border-left: none;
}
