.o-wrapper {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;

  @include to(lg) {
    width: 80%
  }

  @include to(md) {
    width: 90%
  }
}

.o-wrapper-coursel {
  max-width: 1248px;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
