<template lang="pug">
  .OrderForm(style="margin-bottom:2rem")
    div(style="margin-bottom:1.5rem;border-bottom: 1px solid rgba(84, 84, 84, 0.075);padding-bottom: .75rem;")
      h2.u-clr-primary.u-weight-300.u-fz-h1(style="margin:0") Orden de pedido
    form.c-orderform
      div.c-orderform__item
        input(v-model="form.person.email", placeholder="Correo Electrónico", type="email")
        span.u-align-center(v-show="!valiEmail",
          style="color:red;font-size:0.8rem")
          |Por favor complete este campo!

      div(class="c-orderform__item")
        input(v-model="form.person.firstName", placeholder="Nombres", type="text")
        span.u-align-center(v-show="!valiName",
          style="color:red;font-size:0.8rem")
          |Por favor complete este campo!

      div(class="c-orderform__item")
        input(v-model="form.person.lastName", placeholder="Apellidos", type="text")
        span.u-align-center(v-show="!valiLastName",
          style="color:red;font-size:0.8rem")
          |Por favor complete este campo!

      div(class="c-orderform__item")
      //-   input(v-model="form.person.identityDocument", placeholder="Número de DNI", type="tel")

      div(class="c-orderform__item")
        input(v-model="form.person.whatsapp", placeholder="Whatsapp o número telefónico", type="tel")
        span.u-align-center(v-show="!valiCel",
          style="color:red;font-size:0.8rem")
          |Por favor complete este campo!

      div(class="c-orderform__item")
        select(v-model="form.person.countryId")
          option(style="display:none", :value="0") País
          option(
            v-for="(element, index) in countries",
            :keys="`country${index}`",
            :value="element.id")
            |{{ element.name }}

      div(class="c-orderform__item")
        select(v-model="form.person.regionId")
          option(style="display:none", :value="0") Región
          option(
            v-for="(element, index) in regions",
            :keys="`country${index}`",
            :value="element.id")
            |{{ element.name }}

      //- div(class="c-orderform__item")
      //-   textarea(v-model="form.description", placeholder='Si desea, especifique detalles sobre su pedido', rows="4")

      div(class="u-width-100 u-flex-two--marginInt u-mt3")
        //- btn(:selectbutton="5", :text="'REGRESAR'", :func_exe="returnPrev")

        //- div
        //-   button(@click="returnPrev",
        //-   type="button",
        //-   class="c-btn c-btn--submit")
        //-     span REGRESAR
        div
          button(@click="submitOrder",
          type="button",
          class="c-btn u-pt3 u-pb3")
            span REALIZAR PEDIDO
</template>

<script>
  import axios from 'axios'
  import { camelizeKeys } from 'humps'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'OrderForm',
    data () {
      return {
        form: {
          description: '',
          person: {
            email: '',
            firstName: '',
            lastName: '',
            identityDocument: '',
            whatsapp: '',
            regionId: 0,
            countryId: 0
          }
        },
        countries: [],
        regions: [],
        valiName: true,
        valiCel: true,
        valiEmail: true,
        valiLastName: true
      }
    },

    created () {
      axios.get(`${window.API_URL}/countries`)
        .then(({data}) => {
          this.countries = camelizeKeys(data.data)
        })
        .catch(() => {
          console.log('error')
        })
    },

    watch: {
      'form.person.countryId' (newVal) {
        const record = this.countries.find(i => i.id === newVal)
        if (record) {
          this.regions = record.regions
          this.form.person.regionId = 0
        }
      },
      'form.person.firstName' (newVal) {
        if (newVal) {
          this.valiName = true
        } else {
          this.valiName = false
        }
      },
      'form.person.lastName' (newVal) {
        if (newVal) {
          this.valiLastName = true
        } else {
          this.valiLastName = false
        }
      },
      'form.person.email' (newVal) {
        let emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i
        if (emailRegex.test(newVal)) {
          this.valiEmail = true
        } else {
          this.valiEmail = false
        }
      },
      'form.person.whatsapp' (newVal) {
        let emailRegex = /\+?[0-9]+-?\d{8}$/
        if (emailRegex.test(newVal)) {
          this.valiCel = true
        } else {
          this.valiCel = false
        }
      },
      userData (newVal) {
        if (newVal) {
          this.form.person = newVal
        }
      }
    },
    methods: {
      ...mapActions([ 'checkout', 'clearCart' ]),
      returnPrev () {
        this.$router.push({ name: 'Catalog' })
      },
      submitOrder () {
        if (this.form.person.firstName) {
          if (this.form.person.lastName) {
            let emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i
            if (emailRegex.test(this.form.person.email)) {
              let emailRegex = /\+?[0-9]+-?\d{8}$/
              if (emailRegex.test(this.form.person.whatsapp)) {
                this.postOrder()
              } else {
                this.valiCel = false
              }
            } else {
              this.valiEmail = false
            }
          } else {
            this.valiLastName = false
          }
        } else {
          this.valiName = false
        }
      },
      postOrder () {
        window.toastr.warning('Enviando pedido...', 'COMPROENTACNA')
        let json = {
          ...this.form,
          orders: []
        }
        this.cart.forEach((i) => {
          i.feature.forEach((j) => {
            json.orders.push({
              ...j.inventory,
              itemId: i.product.id
            })
          })
        })
        axios({
          method: 'post',
          url: `${window.API_URL}/orders`,
          data: json,
          headers: {
            'Content-Type': 'application/json'
          }
        })
          .then(({ data }) => {
            this.clearCart()
            this.$router.push({
              name: 'Lists',
              params: {
                listCode: data.uuid
              }
            })
            window.toastr.success('Pedido enviado', 'COMPROENTACNA')
          })
      }
    },

    computed: {
      ...mapGetters([
        'prevPath', 'cart', 'userData'
      ])
    }
  }
</script>
