<template lang="pug">
  .OrderScreen
    app-top()
    shopping-cart()

    .o-container.u-mt3
      show-category

    //- .o-container.o-container--marginInt.u-flex-two.u-pb4
    //-   order-form(class="u-width-50")
    //-   order-list(
    //-     style="max-width:450px;width:100%",
    //-     class="u-width-50")
    .o-container.o-container--marginInt.u-flex-two.u-pb4
      order-form(class="u-width-100")
        .c-shopping-cart__items(
          v-show="cartItems.items.length > 0")
      .u-flex.u-flex-column.u-width-100(
        style="align-items:flex-end")
        order-item(
          v-for="(element, index) in cartItems.items",
          :key="`order-item${index}`",
          :item="element",
          style="max-width:450px;width:100%",
          class="u-width-50",
          :index_cart="index")

    subscription()
    app-footer()
</template>

<script>
  import OrderForm from './OrderForm'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'OrderScreen',
    components: {
      OrderForm
    },

    created () {
      this.loadItems()
      window.$('body').css({overflow: 'auto'})
    },

    methods: {
      ...mapActions([
        'loadItems'
      ])
    },

    computed: {
      ...mapGetters([
        'items', 'cartItems'
      ])
    }
  }
</script>
