<template lang="pug">
  .BusinessCategoryScreen.o-background-pattern
    app-top()

    adverts()

    item-detail()

    div(style="position:relative")
      .o-container
        show-category()

      router-view(
        class="u-pb4",
        transition="modalExpandBG")

    //- modal-cart()
    shopping-cart()
    subscription()
    app-footer()
</template>

<script>
  import Adverts from '../../Catalog/components/Adverts'
  export default {
    name: 'BusinessCategoryScreen',
    components: { Adverts }
  }
</script>
