<template lang="pug">
  ul.c-item-list.o-grilla.u-mt0.u-mb0

    li(v-for="(element, index) in in_items")
      .element(@click="clickItem(element, index)")
        item(:in_item="element")
</template>

<script>
  import Item from './Item'
  import { mapActions } from 'vuex'

  export default {
    name: 'item-list',
    components: { Item },
    props: {
      in_items: {
        type: Array,
        default () {
          return []
        }
      }
    },

    methods: {
      ...mapActions([
        'updateIdItem', 'visibleItemDetail'
      ]),
      clickItem (element, index) {
        if (window.innerWidth <= 750 || this.$route.name === 'Home') {
          this.$router.push({
            name: 'Products',
            params: {
              productSlug: element.slug
            }
          })
        } else {
          this.updateIdItem({ id: element.id, index: index })
          this.visibleItemDetail()
        }
      }
    }

    // data () {
    //   return {
    //     quantity_list: 0,
    //     items: []
    //   }
    // },

    // mounted () {
    //   this.count_list()
    // },

    // watch: {
    //   in_items (newVal) {
    //     this.count_list()
    //   },
    //   in_items_per_page (newVal) {
    //     this.count_list()
    //   },
    //   quantity_list (newVal) {
    //     this.items = []
    //     for (var i = 0; i < this.in_items.length; i++) {
    //       if ((i + 1) <= newVal) {
    //         this.items.push(this.in_items[i])
    //       }
    //     }
    //   }
    // },

    // methods: {
    //   count_list () {
    //     if (this.in_items.length > this.in_items_per_page) {
    //       this.quantity_list = this.in_items_per_page
    //     } else {
    //       this.quantity_list = this.in_items.length
    //     }
    //   }
    // }
  }
</script>
