<template lang="pug">
  article.c-item()
    .c-item__promotion(v-if="in_item.price.promotion")
      span.c-item__promotion__text OFERTA
    div.c-item__content
      figure.c-item__figure()
        //- progressive-img(
        //-   :blur="30",
        //-   :src="in_item.imageUrl",
        //-   :placeholder="in_item.imageUrl")
        img(:src="in_item.imageUrl")

      .c-item__title
        h3.c-item__title__name
          |{{ in_item.name }}
        h4.c-item__title__company
          |{{ in_item.companyName }}

        price(:in_price="in_item.price", :in_addclass="['code-none', 'mini']")
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'item',
    props: {
      in_item: {
        type: Object,
        default () {
          return {}
        }
      }
    },

    data () {
      return {
        location: '/' + this.in_item.businessCategorySlug + '/' + this.in_item.categorySlug + '/' + this.in_item.slug,
        image: window.location.origin + '/defaults/product.png'
      }
    },

    watch: {
      in_item (newVal) {
        this.location = '/' + newVal.businessCategorySlug + '/' + newVal.categorySlug + '/' + newVal.slug
      }
    },

    methods: {
      ...mapActions([
        'updatePreviousPath'
      ]),
      previous_path () {
        this.updatePreviousPath(this.$route.path)
        // this.$router.push({ path: this.location })
        window.location = this.location
      }
    }
  }
</script>
