<template lang="pug">
  .c-order-list
    .c-order-list__title.u-ml2.u-mr2()
      h2.u-clr-primary.u-weight-300.u-fz-h0.u-mr3.u-mt0.u-mb0
        |Productos seleccionados
      .u-flex.u-items-center
        span.u-tertiary.u-fz-h2.u-mr2.u-1-2-rem(v-if="$route.path === '/order'")
          |TOTAL:
        price(:in_price="cartItems.total", v-if="$route.path === '/order'")
    div
      order-item(
        v-for="(element, index) in cartItems.items",
        :key="`order-item${index}`",
        :item="element",
        :index_cart="index")
    //- hr
    //- .u-flex.u-items-center.u-center.u-justify-center
    //-   span.u-tertiary.u-fz-h2.u-mr2.u-1-2-rem(v-if="$route.path !== '/order'")
    //-     |TOTAL:
    //-   price(:in_price="cartItems.total", v-if="$route.path !== '/order'")
</template>

<script>
  import { mapGetters } from 'vuex'
  import OrderItem from './OrderItem'

  export default {
    name: 'order-list',
    components: { OrderItem },

    computed: {
      ...mapGetters([
        'cartItems'
      ])
    }
  }
</script>
