<template lang="pug">
  .c-order-item(:class="{'is-active': stateList}")
    .u-flex.u-items-center.u-fz-h4.u-tertiary
      figure.c-order-item__image
        img(:src="item.product.imgURL")

      div.c-order-item__text
        p.c-order-item__title {{ item.product.name }}
        span.c-order-item__company {{ item.product.companyName }}
        price(:in_price="item.subTotal", :in_addclass="['gray']")
        span.c-order-item__company {{ item.feature.length }} Items

      button.c-order-item__btn-select.u-border-none.u-ml1(
        @click="toggleList")
        i.u-icon.icon(class="u-mr0 u-clr-primary u-fz-h2") right

    ul.c-order-feature__list(:style="maxHeightList")
      order-feature(
        v-for="(element, index) in item.feature",
        :key="`order-feature${index}`",
        :index_cart="index_cart",
        :index_feature="index",
        :fea="element")
</template>

<script>
  import OrderFeature from './OrderFeature'

  export default {
    name: 'order-item',
    components: { OrderFeature },
    props: {
      item: {
        type: Object,
        default () {
          return {}
        }
      },
      index_cart: {
        type: Number,
        default: 0
      }
    },
    data () {
      return {
        stateList: false,
        maxHeightList: {
          maxHeight: '0px'
        }
      }
    },
    watch: {
      item (newVal) {
        this.defaultMaxHeight()
      },
      stateList (newVal) {
        if (newVal) {
          this.defaultMaxHeight()
        } else {
          this.noneMaxHeight()
        }
      }
    },
    methods: {
      toggleList () {
        this.stateList = !this.stateList
      },
      defaultMaxHeight () {
        this.maxHeightList.maxHeight = (this.item.feature.length * 123) + 'px'
      },
      noneMaxHeight () {
        this.maxHeightList.maxHeight = '0px'
      }
    }
  }
</script>
