<template lang="pug">
  li.c-order-feature.is-active(
    class="u-fz-h4 u-weight-300", :style="maxHeightAttr")
    .u-flex.u-items-center.u-justify-around.u-weight-300(
      style="height:47px")
      button(class="c-order-feature__btn-select u-border-none u-flex u-items-center", @click="toggleState")
        span(style="font-weight:300") Característica
        i(class="u-icon u-mr0 u-primary") right

      price(
        class="u-flex",
        :in_price="fea.price",
        :in_addclass="['gray', 'light', '1']")

      //- span Cant. {{ fea.inventory.quantity }}

      input-number(
        class='c-input-number--mini',
        :onChange="update_quantity",
        :quantity="fea.inventory.quantity")

      price(
        class="u-flex",
        :in_price="{value: fea.price.value*fea.inventory.quantity, currencyId: 1}",
        :in_addclass="['gray', '1']")

      button(class="u-border-none", @click="removeFeatureCart(fea.inventory.inventoryId)")
        i(class="u-icon icon u-mr0 u-fz-h2 u-clr-primary") close-circle

    order-attr(:in_attributes="fea.attributes")
</template>

<script>
  import { mapActions } from 'vuex'
  import OrderAttr from './OrderAttr'

  export default {
    name: 'order-feature',
    components: {
      OrderAttr
    },
    props: {
      fea: {
        type: Object,
        default () {
          return {}
        }
      },
      index_cart: {
        type: [Number, Boolean],
        default: false
      },
      index_feature: {
        type: [Number, Boolean],
        default: false
      }
    },
    data () {
      return {
        stateAttr: false,
        maxHeightAttr: { maxHeight: '47px' }
      }
    },
    watch: {
      stateAttr (newVal) {
        this.toggleAttr()
      }
    },
    methods: {
      ...mapActions([
        'removeFeatureCart', 'changedQuantity'
      ]),
      toggleState () {
        this.stateAttr = !this.stateAttr
      },
      toggleAttr (index) {
        if (this.stateAttr) {
          this.maxHeightAttr = { maxHeight: '100px' }
        } else {
          this.maxHeightAttr = { maxHeight: '47px' }
        }
      },

      update_quantity (val) {
        if (this.index_feature !== false) {
          this.changedQuantity({
            indexProduct: this.index_cart,
            indexFeature: this.index_feature,
            value: val
          })
        }
      }
    }
  }
</script>
