<template lang="pug">
  .c-order-feature__detail.u-mb2.u-px4
    label(v-for="(element, index) in in_attributes",
          :key="`order-attr${index}`",
          :class="'c-order-feature__' + element.type")
      span(:style="{'backgroundColor': element.option.value}")
        |{{element.option.value}}
</template>

<script>
  export default {
    name: 'order-attr',
    props: {
      in_attributes: {
        type: Array,
        default () {
          return []
        }
      }
    }
  }
</script>
