.c-blog-profile
  padding: 0 0 2rem 0

  &__image
    height: 23rem
    background-color: $color-background
    width: 100%
    overflow: hidden
    display: flex
    justify-content: center
    align-items: center
    img
      display: block
      width: 100%
      height: auto

  &__wrapper
    display: flex
    margin: 0 auto
    max-width: 1024px
    padding: 3rem 2rem 2rem 2rem
    @media (max-width:800px)
      flex-direction: column;

  &__title
    color: #333
    font-size: 2.2rem
    font-weight: 200
    line-height: 1
    margin: 0
    margin-bottom: 2rem
  &__date
    font-size: 1.2rem
    padding-bottom: 1rem
  &__paragraph
    color: #666
    font-weight: 300
  &__shareds
    display: flex;
    color: $color-primary3
    font-weight: 600
    align-items: center;
    margin-top: 1.5rem
    & > *
      margin: 0 1rem 0 0
    .u-icon
      border-radius: 50%
      height: 2rem
      width: 2rem
      display: flex;
      justify-content: center;
      align-items center
      margin: 0 0.25rem
      color: #fff
      cursor: pointer;
    .u-icon.u-icon--facebook
      background-color: #2B5998
    .u-icon.u-icon--twitter
      background-color: #4099FF
    .u-icon.u-icon--google-plus
      background-color: #D6492F
      font-size: 1.3rem
    .u-icon.u-icon--whatsapp
      background-image: url('http://icons.illustrake.com/wp-content/uploads/2016/08/whatsapp-circle-logo-vector.png')
      background-size: 115% auto;
      background-position: center;
  &__comments
    width: 100%
    *
      width: 100% !important
    iframe
      max-width: 550px
      width: 100% !important
