.c-blog
  padding: 3rem 2rem 2rem 2rem
  max-width: 1024px
  margin: 0 auto
  &__title
    text-align: center
    & > *
      margin: 0
      font-weight: 400
      font-size: 2.5rem
      color: $color-primary3
      padding: 2.5rem 0
    strong
      font-weight: 700

  &__principal
    border-bottom: 1px solid $color-tertiary
    padding-bottom: 1.5rem

    &__image
      height: 13rem
      background-color: $color-background
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      img
        display: block
        height: 100%
        width: auto
        transition: transform .5s ease
    &__date
      padding: 0.5rem 0 0 0
      display: block
      opacity: .8
    &__title
      font-weight: 400
      color: #333
      font-size: 1.9rem
      margin: 0
      line-height: 1.2
      transition: color .4s ease
    &:hover
      .c-blog__principal__title
        color: $color-secondary
      .c-blog__principal__image
        img
          transform: scale(1.05)

  &__items
    margin-top: 4rem
    display: flex
    flex-wrap: wrap
    justify-content: space-between
  &__item
    width: calc(50% - 1rem)
    border-bottom: 1px solid $color-background
    padding-bottom: 1.5rem
    margin-top: 2rem
    &:nth-child(1)
      display: none
    &:nth-child(2),
    &:nth-child(3)
      margin-top: 0
    &__image
      height: 13rem
      background-color: $color-background
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      img
        display: block
        transition: transform .5s ease
        height: 100%
    &__date
      padding: 0.5rem 0 0rem 0
      display: block
      opacity: .8
    &__title
      font-weight: 400
      color: #666
      font-size: 1.3rem
      margin: 0
      line-height: 1.2
      transition: color .4s ease
    &:hover
      .c-blog__item__title
        color: $color-secondary
      .c-blog__item__image
        img
          transform: scale(1.05)
  &__wrapper
    display: flex
    @media (max-width:1000px)
      flex-direction: column;
      align-items: center;
  &__content
    width: calc(100% - 348px);
    @media (max-width:1000px)
      width: 100%

  &__aside
    width: 320px
    flex: none
    margin-left: 28px
    @media (max-width:800px)
      margin-left: auto;
      margin-top 5rem
      max-width: 550px
      margin-right: auto;
      width: 100%
    .c-bog__tags
      padding: 2rem 0
      &__title
        font-size: 1.5rem
        font-weight: 300
        padding-bottom 1rem
        border-bottom: 1px solid $color-background
        color: #333
        margin: 0
      &__list
        padding: 1rem 0 0 0 0
        margin-bottom: 0
      &__tag
        padding: 0.2rem 0
        & > *
          display: flex
          align-items: center
          &::before
            content ''
            background-color: $color-primary
            border-radius: 50%
            display: block
            width: 10px
            height: 10px
            margin-right: 0.3rem

.c-blog__advert
  width: 300px
  flex: none
  margin-top: 2rem
  margin-left: auto;
  margin-right: auto;
  img
    display: block;
    width: 100%
    height: auto;
    cursor: pointer;

.c-blog__advert-horizontal
  width: 100%
  flex: none
  margin-left: auto;
  margin-right: auto;
  img
    display: block;
    width: 100%
    height: auto;
    cursor: pointer;
  @media (max-width: 699px)
    max-width: 280px



.c-blog__subscription
  background-color: $color-primary3
  color: #fff
  padding: 3rem 2.5rem 2rem 2.5rem
  text-align: center
  .icomoon
    font-size: 2.5rem
  &__title
    font-size: 1rem
    font-weight: 600
    line-height: 1
    margin: 0
    padding: 0 1rem 1rem 1rem
  &__input,
  &__submit
    text-align: center
    width: 100%
  &__input
    background-color: #fff
    border-radius: 3px
    border: none
    color: $color-tertiary
    font-size: 0.9rem
    font-weight: 300
    margin-bottom: 0.6rem
    padding: 0.8rem 0.6rem
  &__submit
    background-color: $color-primary
    border-radius: 5px
    border: none
    font-size: 1rem
    font-weight: 700
    outline: none
    padding: 1.3rem 0
  &__footer
    font-size: .9rem
    margin 0
    line-height: 1
    opacity: .7
    padding: 1.5rem 2rem 0 2rem
