.c-allies {
  &__item {
    display: flex;
    align-items: center;
    width: 80%;
    margin-bottom: 2rem;

    @media (min-width: 480px) {
      margin-left: 2.5%;
      margin-right: 2.5%;
      width: 45%;
    }

    @media (min-width: 768px) {
      width: 20%;
    }

    img {
      width: 100%;
    }
  }
}
