.c-benefits {
  background-position: center;
  position: relative;
  padding-left: .5rem;
  padding-right: .5rem;

  @media (min-width: 992px) {
    background-image: url('/static/images/malldigital.png');
    height: 750px;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  &__list {
    line-height: 1;
    color: $color-tertiary;
    font-weight: 300;
    font-size: 1.2rem;
  }

  &__item {
    display: flex;

    i {
      color: $color-primary;
    }

    @media (min-width: 992px) {
      margin-bottom: 1rem;
    }

    @media (min-width: 992px) {
      position: absolute;
      width: 22%;

      i {
        position: absolute;
      }

      &:before, &:after {
        content: '';
        position: absolute;
        border-color: rgba($color-primary, .75);
        border-style: dashed;
        border-width: 0;
      }

      &:nth-child(1) {
        text-align: right;
        top: 2rem;
        left: 5%;

        &:before {
          left: 105%;
          top: 50%;
          width: 70%;
          height: 90px;
          border-right-width: 2px;
          border-top-width: 2px;
          display: flex;
          align-items: flex-start;
        }

        i {
          left: 102%;
          top: 28%;
        }
      }

      &:nth-child(2) {
        right: 12%;

        &:before {
          right: 105%;
          top: 50%;
          width: 80%;
          height: 60px;
          border-left-width: 2px;
          border-top-width: 2px;
        }

        i {
          right: 101%;
          top: 25%;
        }
      }

      &:nth-child(3) {
        text-align: right;
        top: 22%;
        width: 20%;
        left: 2%;

        &:before {
          left: 110%;
          top: 50%;
          width: 50%;
          height: 35px;
          border-right-width: 2px;
          border-top-width: 2px;
        }

        i {
          left: 105%;
          top: 39%;
        }
      }

      &:nth-child(4) {
        top: 15%;
        width: 20%;
        right: 12%;

        &:before {
          right: 105%;
          top: 50%;
          width: 60%;
          height: 40px;
          border-left-width: 2px;
          border-top-width: 2px;
        }

        i {
          right: 101%;
          top: 33%;
        }
      }

      &:nth-child(5) {
        top: 28%;
        width: 19%;
        right: 10%;

        &:before {
          right: 105%;
          top: 50%;
          width: 40%;
          height: 30px;
          border-left-width: 2px;
          border-top-width: 2px;
        }

        i {
          right: 100%;
          top:34%;
        }
      }

      &:nth-child(6) {
        top: 42%;
        width: 18%;
        text-align: right;

        &:before {
          left: 50%;
          top: 110%;
          width: 90%;
          height: 30px;
          border-bottom-width: 2px;
          border-left-width: 2px;
        }

        i {
          top: 102%;
          left: 46%;
        }
      }

      &:nth-child(7) {
        top: 50%;
        width: 18%;
        right: 0;

        &:before {
          right: 50%;
          bottom: 112%;
          width: 90%;
          height: 30px;
          border-right-width: 2px;
          border-top-width: 2px;
        }

        i {
          bottom: 102%;
          right: 43%;
        }
      }

      &:nth-child(8) {
        top: 68%;
        width: 18%;
        right: 2%;

        &:before {
          right: 50%;
          bottom: 112%;
          width: 75%;
          height: 30px;
          border-right-width: 2px;
          border-top-width: 2px;
        }

        i {
          bottom: 102%;
          right: 44%;
        }
      }

      &:nth-child(9) {
        top: 68%;
        width: 18%;
        left: 10%;
        text-align: right;

        &:before {
          left: 55%;
          bottom: 120%;
          width: 75%;
          height: 30px;
          border-left-width: 2px;
          border-top-width: 2px;
        }

        i {
          bottom: 102%;
          left: 51%;
        }
      }

      &:nth-child(10) {
        top: 85%;
        left: 35%;
        width: 140px;
        text-align: right;

        &:before {
          left: 70%;
          bottom: 190%;
          width: 50%;
          height: 30px;
          border-right-width: 2px;
          border-bottom-width: 2px;
        }

        &:after {
          left: 70%;
          bottom: 140%;
          height: 20px;
          border-left-width: 2px;
        }

        i {
          bottom: 102%;
          left: 64%;
        }
      }

      &:nth-child(11) {
        top: 86%;
        right: 20%;
        text-align: right;

        &:before {
          right: 50%;
          bottom: 190%;
          width: 50%;
          height: 30px;
          border-left-width: 2px;
          border-bottom-width: 2px;
        }

        &:after {
          right: 50%;
          bottom: 140%;
          height: 20px;
          border-left-width: 2px;
        }

        i {
          bottom: 102%;
          right: 45%;
        }
      }
    }
  }
}
