.c-btn {
  background-color: $color-primary;
  border-radius: 1rem;
  border: none;
  color: #ffffff;
  display: inline-block;
  font-weight: 400;
  line-height: 1;
  padding: 0.5em 1.3em 0.5em 1.3em;
  transition: 0.4s background-color ease;

  span,
  i {
    display: inline-block;
    // font-size: 1em;
    line-height: 1;
    vertical-align: middle;
  }

  i {
    font-size: 1.5em;
    margin-right: .25em;
  }

  &:hover {
    background-color: darken($color-primary, 7.5%);
  }
}

.c-btn--rounded {
  align-items: center;
  border-radius: 50%;
  display: inline-flex;
  height: 2rem;
  justify-content: center;
  padding: 0;
  width: 2rem;
  background-color: #fff;

  &:hover {
    background-color: #fff;
  }

  i {
    color: $color-primary;
    font-size: 2.8rem;
    line-height: 2.8rem;
    margin: 0;
    margin-top: -4px;
    transition: 0.5s color ease;

    &:hover {
      color: darken($color-primary, 7.5%);
    }
  }
}

.c-btn--rounded.disable {
  cursor: no-drop;
  i {
    color: #000;

    &:hover {
      color: #000;
    }
  }
}

.c-btn--large {
  width: 15rem;
  // font-size: 1.5rem

  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
}

.c-btn--submit {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  width: 9rem;
  display: inline-block;
}



.c-btn.publica {
  // background-color: darken($color-primary, 7.5%);
  // border: 2px solid darken($color-primary, 7.5%);
  // &:hover {
  //   background-color: transparent;
  // }
  @media (max-width: 550px) {
    .icon{
      display: none;
    }
  }
  @media (max-width: 490px) {
    .text{
      display: none;
    }
  }
}
