.c-contact {
  flex-wrap: wrap;
  justify-content: space-between;

  @include to(md) {
    display: block;
  }

  &__input {
    display: flex;
    margin-bottom: 1rem;
    width: 100%;

    @include from(md) {
      width: 49%;
    }

    &:nth-child(5) {
      width: 100%;
    }

    input, textarea {
      color: $color-tertiary;
      background-color: lighten($color-secondary, 48%);
      padding: 1rem 1.25rem;
      border-radius: 6px;
      width: 100%;
      line-height: 1;
      font-weight: 300;
    }

    textarea {
      padding: 1rem 1.25rem;
    }
  }


  &__info {
    margin-bottom: 1.5rem;

    @include from(lg) {
      width: 40%;
      margin-right: 5%;
    }
  }


  &__submit {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;

    button {
      border-radius: 28px;
      font-weight: bold;
      padding: 1.35rem 4.5rem;
    }
  }


  &__wrapper {
    max-height: 90vh;
    padding: 5rem;
    display: flex;

    @include to(lg) {
      flex-direction: column;
      overflow-y: auto;
      padding: 2rem 1.75rem 2rem 2rem;
      width: 90%;
    }
  }
}
