.c-currencies {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 0 0.5rem;
  text-transform: uppercase;
}

  .c-currencies__content {
    display: flex;
    align-items: center;

    .icon {
      color: #fff;
      display: inline-block;
      vertical-align: bottom;
      @media(max-width: 700px) {
        margin-right: 0;
      }
    }

  }
  .c-currencies__text {
    // color: $color-tertiary;
    // font-size: 1rem;
    font-weight: 300;
    @media(max-width: 700px) {
      display: none;
    }
  }
