.c-footer {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: center;
  position: relative;
  background-color: $color-primary3 !important;
}

    .c-footer__contact {
      align-items: center;
      display: flex;
      height: 100%;
      justify-content: space-between;
      padding-bottom: 1rem;
      padding-top: 1.5rem;
      line-height: 1;

      figure {
        width: 13rem;

        img {
          height: 100%;
          margin: 0 0 0 auto;
          width: auto;
        }
      }

      @media screen and (max-width: $breakpoint-md) {
        ul {
          display: flex;
          flex-direction: column;
          margin: 0 auto;
        }
      }
    }

    .c-footer__complaints {
      border-top: 1px solid lighten(#2b4ba4, 15%);
      font-size: 0.8rem;
      padding: 1rem .25rem 1.3rem .25rem;
      text-align: center;
    }

  .c-contact {
    display: flex;

    li {
      font-weight: 300;
      margin-right: 1.5rem;
    }
  }

    .c-contact--strong{
      font-weight: 400 !important;
      margin-right: 0;
    }
