.c-gallery {
  position: relative;
  height: 100%;

  img {
    // width: 100%;
    display: block;
    margin: 0 auto;
    height: auto;
    width: 100%;
  }

  .buttons {
    position: absolute;
    left: 2rem;
    top: 2rem;
    width: 3.5rem;
    z-index: 2;

    & > * {
      height: 3.5rem;
      margin-top: 1rem;
      // background-color: rgba($color-primary, 0.5);
      background-color: #fff;
      cursor: pointer;
      border: 2px solid #fff;
      transition: border 0.4s ease;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      &:hover {
        border: 2px solid rgba($color-primary, 0.7);
      }
    }

    & > *:nth-child(1) {
      margin-top: 0;
    }

    & .active {
      opacity: 0.5;
    }
  }

  .figure {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  // @media screen and (max-width: 1282px) {
  @media screen and (max-width: 1100px) {
    // height: 174px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .buttons {
      bottom: 1rem;
      display: flex;
      height: 1.5rem;
      left: initial;
      left: 1rem;
      top: initial;
      width: initial;

      & > * {
        border-radius: 4px;
        flex: none;
        height: 1.5rem;
        margin-left: 0.5rem;
        margin-top: 0;
        width: 1.5rem;
        overflow: hidden;
      }

      & > *:nth-child(1) {
        margin-left: 0;
      }
    }

    img {
      height: auto;
      width: 100%;
    }
  }
}
