$in-height: 2.2em;
$in-height-small: 1.8em;




.c-input-number {
  color: lighten(black, 50%);
  display:flex;
 }

  .c-input-number__minus,
  .c-input-number__plus,
  .c-input-number__number{
    border-color: lighten(black, 90%);
    border-style: solid;
    border-width: 1px;
    flex: none;
  }

  .c-input-number__minus,
  .c-input-number__plus {
    align-items: center;
    color: #9B9AA2;
    cursor: pointer;
    display: flex;
    font-size: $in-height/2.5;
    height: $in-height;
    justify-content: center;
    width: $in-height;

    i {
      &::before {
        vertical-align: middle;
      }
    }
  }

  .c-input-number__minus {
    border-bottom-left-radius: 0.3rem;
    border-top-left-radius: 0.3rem;
  }

  .c-input-number__plus {
    border-bottom-right-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
  }

  .c-input-number__number{
    border-left: none;
    border-right: none;
    color: #737277;
    font-size: $in-height/1.7;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    width: $in-height -($in-height*0.2);
  }





.c-input-number--mini {}
  .c-input-number--mini .c-input-number__minus,
  .c-input-number--mini .c-input-number__plus {
    font-size: $in-height-small/2.4;
    height: $in-height-small;
    width: $in-height-small;
  }

  .c-input-number--mini .c-input-number__number{
    font-size: $in-height-small/1.8;
    font-weight: 400;
    width: $in-height-small ;
  }
