.c-modal {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;
  opacity: 1;

  &__container {
    background-color: rgba(0, 0, 0, .8);
    height: 100%;
    position: absolute;
    top: 0;
    transition: opacity .3s ease;
    width: 100%;
    // cursor: pointer;
  }

  &__content {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    margin: 0px auto;
    max-width: 1200px;
    overflow: hidden;
    position: relative;
    transition: 0.7s ease transform;
    // width: calc(100% - 5rem);
    z-index: 2;
    transition: 0.7s ease all;
  }
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.modalExpand-enter-active, .modalExpand-leave-active {
  transform: translateX(0%);
}
.modalExpand-enter, .modalExpand-leave-to {
  transform: translateX(100%);
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.modalExpandBG-enter-active, .modalExpandBG-leave-active {
  opacity: 1;
  transition: 0.7s ease all;
}
.modalExpandBG-enter, .modalExpandBG-leave-to {
  opacity: 0;
}

/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.modalFather-enter-active, .modalFather-leave-active {
  z-index: 1001;
  transition: 0.5s ease all;
  transition-delay: 1s;
}
.modalFather-enter{
  z-index: 1001;
}
// .modalFather-leave-to {
//   z-index: 1;
// }


/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter-active, .modal-leave-active {
  transition: 0.5s ease all;
}
.modal-enter, .modal-leave-to {
  opacity: 0;
  transform: scale(1.1);
}
