.c-not-found {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;

  &__title {
    font-size: 10rem;
    opacity: .5;
  }

  p {
    margin: 0;
  }

  &__link {

  }
}
