.c-show-category {}


.c-show-category__selected {
  align-items: center;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;

  & > * {
    color: $color-secondary;
    font-weight: 300;
    font-size: 13px;
    text-transform: uppercase;
    margin: 0 0.5rem 0 0;
    display: flex;
    align-items: center;

    .u-icon {
      font-size: 0.6rem;
      margin-left: 0.5rem;
    }
  }

  & > *:nth-last-child(1) {
    color: $color-primary;
  }
}


.c-show-category__description {
  display: flex;
  color: $color-secondary;

  h3 {
    text-transform: uppercase;
    width: 10rem;
  }
}
