.c-what-is {
  min-height: 100vh;
  background-image: url('/static/images/empresario.jpg');
  background-size: cover;
  color: white;
  padding: 10rem 0 6rem;
  display: flex;
  align-items: center;


  &__title {
    font-weight: 300;
    font-size: 3rem;
    margin-bottom: .5rem;
    margin-top: 0;
  }

  &__text {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 2rem;

    @include from(md) {
      padding-right: 15%;
      font-size: 4rem;
    }
  }


  &__list {
    margin-top: 0;
    margin-bottom: 3.5rem;

    @include from(md) {
      font-size: 1.25rem;
      padding-right: 30%;
    }

    li {
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 1rem;
      line-height: 1;
    }

    .icon-circle {
      margin-top: .2rem;
      margin-right: 1rem;
      width: 12px;
      height: 12px;
      background-color: $color-primary;
      display: block;
      border-radius: 50%;
    }
  }
}
