$associates-pl = 1.5rem
$associates-pr = 1.5rem

.c-associates

  .c-associates__header
    background-color: #fff
    box-shadow: 2px 0px 15px rgba(#000, .2)
    height: 5rem
    left 0
    position: fixed;
    top: 0
    width: 100%
    z-index: 9
    &__wrapper
      display: flex;
      height: 100%
      justify-content: space-between;
      margin-left: auto;
      margin-right: auto;
      max-width: 1150px
      padding: 0.5rem 2rem
      width: 100%
      & > *
        position: relative;
        z-index: 3
    &__logo
      height: 100%
      img
        height: 100%
        width: auto
    &__links
      background-color: #eee
      display: flex;
      flex-direction: column;
      left: 0
      opacity: 0
      position: absolute;
      top: 100%
      transform: translateX(100%);
      transition: all 0.7s ease
      width: 100%
      z-index: 1
      &.is-displayed
        opacity: 1
        transform: translateX(0);
      @media(min-width: 851px)
        background-color: initial
        flex-direction: row;
        opacity: 1
        position: static;
        transform: translateX(0);
        width: initial
    &__menu
      border: none
      color: $color-primary3
      font-size: 1.1rem
      padding: 0
      .icomoon
        margin-right: 0
      @media(min-width: 851px)
        display: none;
    &__button
      border-bottom: none
      border-left: none
      border-right: none
      border-top: 1px solid #ddd
      color: #555
      font-size: 0.9rem
      font-weight: 700;
      padding: 1rem 0
      position: relative;
      transition: opacity 0.5s ease
      @media(min-width: 1012px)
        font-size: 1rem
      @media(min-width: 1065px)
        font-size: 1.1rem
      @media(min-width: 851px)
        border: none
        color: $color-primary3
        opacity: 1
        padding: 0 1.25rem
      @media screen and (max-width: 950px) and (min-width: 851px)
        padding: 0 0.5rem
      &::before
        background: $color-primary
        border-radius: 2rem
        bottom: 15%
        content: ''
        height: 3px
        left 49%
        opacity: 0
        position: absolute;
        transition: opacity 0.5s ease
        width: 20px
        @media(min-width: 851px)
          left 1.25rem
      &:hover
        opacity: 0.5
        &::before
          opacity: 1

  .c-associates__cover-page
    height: calc(100vh + 1px)
    width: 100%
    background: #000;
    .swiper-container
      height: 100%
    .item
      align-items: center;
      display: flex;
      height: 100%
      overflow: hidden
      position: relative;
      width: 100%
      &__container
        padding-left: $associates-pl
        padding-right: $associates-pr
        @media (min-width: 650px)
          padding-left: 3rem
          padding-right: 3rem
        @media (min-width: 1024px)
          padding-left: 10%
          padding-right: 10%
          .title
            margin: 0 auto;

    .title
      color: #fff
      font-size: 2.8rem
      font-weight: 300
      line-height: 0.9
      max-width: 550px
      position: relative;
      text-shadow: 2px 2px 18px #000
      z-index: 2
      @media (min-width: 1200px)
        font-size: 3.5rem
    .image
      filter: opacity(0.6);
      left: 50%
      position: absolute;
      top: 0;
      transform: translateX(-50%);
      width: 100%
      @media (min-width: 1150px)
        width: 100%
        height: auto;



  .c-associates__section-tacna
    line-height: 1
    padding: 4rem $associates-pr 4rem $associates-pl
    text-align: center
    & > *
      margin: 0 auto
    .title
      color: $color-primary
      font-size: 2.2rem
      line-height: 0.9
      max-width: 600px
      @media (min-width: 1024px)
        font-size: 3rem
    .description
      color: $color-tertiary
      font-size: 0.9rem
      max-width: 400px
      padding: 0.8rem 0
      @media (min-width: 1024px)
        padding: 1.25rem 0
        font-size: 1.1rem
    .subtitle
      color: $color-primary
      font-size: 1.15rem
      @media (min-width: 1024px)
        font-size: 1.5rem



  .c-associates__what-is-it
    background: #f60455;
    background: -moz-linear-gradient(-45deg, #f60455 0%, #33439f 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, #f60455), color-stop(100%, #33439f));
    background: -webkit-linear-gradient(-45deg, #f60455 0%, #33439f 100%);
    background: -o-linear-gradient(-45deg, #f60455 0%, #33439f 100%);
    background: -ms-linear-gradient(-45deg, #f60455 0%, #33439f 100%);
    background: linear-gradient(135deg, #f60455 0%, #33439f 100%);

    color: #fff
    padding: 3rem $associates-pr 3rem $associates-pl
    @media (min-width: 900px)
      align-items: center;
      display: flex;
      padding: 3rem 7% 3rem 7%
      & > *:nth-child(1)
        width: 60%
    @media (min-width: 1100px)
      & > *:nth-child(1)
        width: 70%
    @media (min-width: 900px)
      padding: 5rem 7% 5rem 7%
    .tag
      font-size: 0.7rem
      margin-bottom: 1.5rem
    .title
      font-size: 1.8rem
      line-height: 1
      margin: 0 0 1.2rem 0
      @media (min-width: 650px)
        font-size: 3rem
        font-weight: 600
    .content
      font-size: 0.8rem
      line-height: 1.1
      @media (min-width: 450px)
        font-size: 0.9rem
      @media (min-width: 900px)
        font-size: 1rem
      @media (min-width: 1024px)
        font-size: 1.1rem
      & > *:nth-child(1)
        margin-top: 0
        padding-top: 0
      & > *:nth-last-child(1)
        margin-bottom: 0
        padding-bottom: 0
    .button
      background-color: $color-primary
      border-radius: 2rem
      border: none
      font-size: 0.7rem
      font-weight: 700;
      margin-top: 1.5rem
      padding: 0.6rem 2rem
      @media (min-width: 650px)
        font-size: 1rem
        font-weight: 600
        padding: 0.75rem 2.5rem
    .video
      cursor: pointer
      margin-top: 2.5rem
      position: relative;
      width: 100%
      @media (min-width: 900px)
        margin-top: 0
      img
        display: block;
        height: 12rem
        margin: 0 auto;
        width: auto;
        @media (min-width: 650px)
          height: 16rem
        @media (min-width: 900px)
          margin-right: 0
        @media (min-width: 1024px)
          height: 21rem
        @media (min-width: 1100px)
          margin-right: auto;
      .play
        border-radius: 50%
        height: 5rem
        position: absolute;
        right: 50%
        top: 50%
        transform: translateY(-50%) translateX(50%);
        transition: box-shadow 0.4s ease
        @media (min-width: 900px)
          transform: translateY(-50%);
          right: 7rem
        @media (min-width: 1024px)
          transform: translateY(-50%) translateX(50%);
          right: 50%

      &:hover
        .play
          box-shadow: 2px 2px 10px #000



  .c-associates__benefits
    padding: 3rem 0
    text-align: center;
    @media (min-width: 500px)
      margin: 0 auto;
      max-width: 1200px
      padding: 3rem 3rem
    @media (min-width: 800px)
      padding: 4rem 3rem
    .title
      margin: 0 0 3rem 0
      font-size: 2.2rem
      @media (min-width: 500px)
        font-size: 2.5rem
    .list
      margin: 0
      & > *
        margin-top: 2rem
      & > *:nth-child(1)
        margin-top: 0
      @media (min-width: 500px)
        display: flex;
        flex-wrap: wrap;
        & > *
          margin: 0
          padding: 1rem
      @media (min-width: 800px)
        & > *
          padding: 1rem 0
    .item
      margin-left: auto;
      margin-right: auto;
      max-width: 12rem
      width: 100%
      img
        height: 4.5rem
        width: auto
      p
        color: $color-tertiary
        font-size: 1.1rem
        line-height: 1.1
        padding-top: 1.25rem
        margin: 0
      @media (min-width: 800px)
        width: 33.33%
        max-width: initial
        img
          margin-bottom: 1rem
        p
          max-width: 12rem
          margin: 0 auto;



.c-associates__mall
  background-color: $color-primary
  color: #fff
  overflow: hidden;
  padding: 3rem $associates-pr 3rem $associates-pl
  position: relative;
  @media (min-width: 550px)
    padding: 6rem 3rem 6rem 3rem
  @media (min-width: 750px)
    padding: 6rem 6rem 6rem 6rem
  &::before
    background-color: $color-primary
    border-radius: 50%
    content: ''
    height: 130%
    left: 170px
    padding-left: 35%
    position: absolute;
    top: 50%
    transform: translateY(-50%);
    z-index: 2
  &::after
    background-image: url('/defaults/background_mall.jpg');
    background-size: cover;
    background-position: center center;
    content: ''
    height: 100%
    left: 550px
    position: absolute;
    top: 0
    width: calc(100% - 550px)
    z-index: 1
  &__wrapper
    max-width: 450px
    position: relative;
    z-index: 3
  &__title
    display: flex
    flex-direction: column
    line-height: 0.8
    margin: 0
    & > *:nth-child(1)
      font-size: 1.3rem
      font-style: italic;
      font-weight: 300
      margin-bottom: 0.5rem
    & > *:nth-child(2)
      font-weight: 800
      font-size: 2rem
    & > *:nth-child(3)
      font-size: 3.5rem
      font-weight: 900
    @media (min-width: 500px)
      & > *:nth-child(1)
        font-size: 1.5rem
      & > *:nth-child(2)
        font-size: 2.5rem
      & > *:nth-child(3)
        font-size: 4.5rem
        font-weight: 900
  &__list
    margin: 2rem 0 0 0
    counter-reset: section;
  &__item::before
    align-items: center;
    background-color: $color-primary3
    border-radius: 50%
    content: counter(section);
    counter-increment: section;
    display: flex;
    flex: none
    height: 1.5rem
    justify-content: center;
    margin-right: 0.5rem
    width: 1.5rem
    @media (min-width: 500px)
      height: 2rem
      width: 2rem
  &__item
    display: flex;
    font-size: 0.9rem
    line-height: 1
    margin-top: 0.5rem
    @media (min-width: 500px)
      font-size: 1.1rem
    @media (min-width: 500px)
      margin-top: 1rem
  &__item:nth-child(1)
    margin-top: 0
  &__button
    background-color: $color-primary3
    border-radius: 2rem
    border: none
    font-size: 0.7rem
    font-weight: 800
    margin-top: 2.5rem
    padding: 0.75rem 2.5rem
    @media (min-width: 500px)
      font-size: 0.85rem
      padding: 0.9rem 3rem



.c-associates__partners
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px
  padding-bottom: 2rem
  padding-top: 5rem
  text-align: center;
  &__title
    margin: 0
    font-size: 2.5rem
  &__hr
    border-bottom: 2px dashed #ccc
    margin-bottom: 2rem
    margin-top: 2rem

  // &__list
  //   display: flex;
  //   justify-content: space-around;
  &__img
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
    display: block;
    height: 10rem
    width: 10rem
    margin: 0 auto



.c-associates__footer
  position: relative;
  &__white
    height: 15rem
    background-color: #fff
    @media (min-width: 650px)
      height: 8rem
  &__wrapper
    background-color: $color-primary3
    padding-top: 35rem
    @media (min-width: 650px)
      padding-top: 27rem
  &__content
    left: 50%
    position: absolute;
    top: 2rem
    transform: translateX(-50%);
    width: calc(100% - 2rem)
    @media (min-width: 650px)
      display: flex;
    @media (min-width: 750px)
      width: calc(100% - 4rem)
      max-width: 1024px
  &__button
    background-color: $color-primary
    border-radius: 2rem
    border: none
    color: #fff
    font-size: 0.8rem
    font-weight: 800
    margin-top: 1rem
    padding: 0.75rem 2.5rem
  &__form
    background-color: #fff
    box-shadow: 0px -2px 15px rgba(#000, .3)
    color: $color-tertiary
    padding: 2.5rem 1.25rem 2.5rem 1.25rem
    @media (min-width: 750px)
      width: 50%
      padding: 3rem 2rem 3rem 2rem
    .title
      color: #222
      font-size: 1rem
      font-weight: 600
      line-height: 1
      margin: 0 0 0 0
      width: 70%
    input
      background-color: $color-background
      border-radius: 2rem
      border: 1px solid $color-secondary
      font-size: 0.9rem
      margin-top: 0.75rem
      padding: 0.6rem 1.5rem
      transition: background-color 0.4s ease
      width: 100%
      @media (min-width: 750px)
        padding: 0.75rem 1.5rem
    input:focus
      background-color: #fff
    input:nth-child(1)
      margin-top: 0
  &__contact
    background-color: #4C4C4C
    color: #fff
    padding: 2.5rem 1.25rem 2.5rem 1.25rem
    @media (min-width: 750px)
      width: 50%
      padding: 3rem 2rem 3rem 2rem
    .title
      font-size: 1.75rem
      font-weight: 600
      line-height: 1
      margin-top: 0
      @media (min-width: 750px)
        font-size: 2rem
    .paragraph
      font-size: 0.8rem
      line-height: 1
      @media (min-width: 750px)
        font-size: 1rem
    .list
      @media (min-width: 750px)
        margin-top: 2rem
        margin-bottom: 2rem
    .item
      font-size: 0.9rem
      margin-top: 0.25rem
      @media (min-width: 750px)
        font-size: 1rem
    .item:nth-child(1)
      margin-top: 0
