.c-attach-image
  height 100%
  width 250px
  flex: none
  margin-left: auto;
  margin-right: auto;

  .container
    align-items center
    display flex
    flex-direction column
    justify-content: center
    margin-top 1rem
    width 100%
    height initial !important

  .figure
    align-items center
    border 15px solid #eee
    border-radius 50%
    display flex
    flex none
    height 10rem
    justify-content center
    margin 0
    overflow hidden
    width 10rem
    img
      width: 100%;
      height: auto;
  .btn
    background $color-primary3
    padding: 0 1.5rem
    height: 2.5rem
    color: #fff
    display: flex;
    align-items: center;
    border-radius: 5px
    margin-top: 1rem
    cursor: pointer;
  input[type="file"]
    display: none
