.c-category-menu
  height: 100%
  position: fixed
  width: 100%
  z-index: 9
  .bg
    background-color: rgba(#000, 0.75)
    height: 100%
    width: 100%
  .container
    background-color: #fff
    display: flex
    height: calc(100% - 195px) !important
    left: 2.2rem
    max-height: 25rem !important
    padding-bottom: 3rem
    padding-top: 3rem
    position: absolute
    top: 0
    max-width: 700px
    width: calc(100% - 4.4rem)
    @media (min-width: 1260px)
      left: 6%
      width: 88%
      &::before
        left: 8rem
  ul
    margin: 0
    width: 100%
    li
      color: $color-secondary
      font-weight: 300
      height: 2.5rem
      line-height: 2.5rem

  .businessCategories
    width: 51%
    .active
      color: $color-primary
      border-top: 1px solid #ddd
      border-bottom: 1px solid #ddd
      background-color: #fff
      width: calc(100% + 1px)
      @media(max-width: 750px)
        width: 100%
    .displayed
      .u-icon
        transform: rotateZ(90deg)
    li
      border-bottom: 1px solid transparent
      border-top: 1px solid transparent
      color: $color-primary3
      cursor: pointer
      font-weight: 600
      padding-left: 3.5rem
      position: relative
      position: relative
      transition: border-top 0.4s ease, border-bottom 0.4s ease
      .content
        align-items: center
        display: flex
        justify-content: flex-start
        .u-icon
          position: absolute
          left: 314px
      figure
        height: 1.5rem
      figure img
        height: 100%
        width: auto
      span
        margin-left: 0.5rem
      @media (max-width: 750px)
        .content
          .u-icon
            left: initial
            right: 1.25rem
            transition: transform 0.5s ease

  .categories
    border-left: 1px solid darken(#fff, 10%)
    width: 49%

    h4
      color: $color-primary
      font-size: 1.5rem
      font-weight: 300
      line-height: 1.5rem
      margin: 0.7rem 0

    li, h4
      padding-left: 3.5rem
      position: relative

    li:hover
      color: $color-primary
      &::before
        content: ""
        background: #f6083f
        border-radius: 50%
        height: 5px
        left: 2.5rem
        position: absolute
        top: 44%
        width: 5px
    li a
      cursor: pointer
      display: block
      height: 2.5rem
      line-height: 2.5rem

  .businessCategories__categories
    display: none
  .icon
    display: none

  @media (max-width: 750px)
    .icon
      display: block
      margin-left: auto
      margin-right: 1rem

    .categories
      display: none
    .businessCategories
      width: 100%
      & > li
        height: initial !important
        opacity: 0.9 !important
        padding-left: 0
        transition: max-height 0.7s ease-in-out
        .content
          padding-left: 1rem
          text-transform: uppercase
        .content:hover
          background-color: #ddd

      & > .active
        opacity: 0.9 !important

      & > li::before
        display: none !important

    .businessCategories__categories
      display: block
      li
        background-color: #fff
        padding-left: 4rem
      li:hover
        background-color: #ddd
    .container
      left: 0
      max-height: initial !important
      width: 100%
