.c-home

  .swiper-home
    background: #111
    position: relative;

  &__title
    color: $color-primary3
    font-size: 2rem
    font-weight: 400
    line-height: 1
    margin: 0
    padding: 3rem 0 2rem 0
    text-align: center;
    strong
      font-weight: 700
    .after
      &, &::before, &::after
        border-radius: 50%
        height: 7px
        width: 7px
      &
        background: $color-primary
        margin: 1rem auto 0 auto;
        position: relative;
      &::before, &::after
        background: $color-primary3
        content: ''
        position: absolute;
      &::before
        left: -1.2rem
      &::after
        right: -1.2rem

  &__cover-categories
    .one, .two
      height: 22rem
      width: 100%
      .footer
        align-items: center;
        bottom: 0
        color: #fff
        cursor: pointer;
        display: flex;
        height: 3.5rem
        justify-content: space-between;
        left: 0
        padding: 0 1rem
        position: absolute;
        transition: 0.4s ease background-color
        width: 100%
      .title
        line-height: 1
        font-size: 1.5rem
      .button
        align-items: center;
        background-color: $color-primary3
        border-radius: 1rem
        display: flex;
        flex: none;
        height: 2rem
        justify-content: center;
        margin: 0
        width: 4.5rem
        .u-icon
          font-size: 0.5rem
          margin: 0
    .one
      background-size: cover !important
      position: relative;
      margin-bottom: 1rem
      .footer
        background-color: rgba(#000, .6)
      &:hover
        .footer
          background-color: rgba($color-primary, .85)
    .two
      & > *
        background-size: cover !important
        position: relative;
        width: 100%
        height: calc(50% - 8px)
        margin-top: 1rem
        .footer
          background-color: rgba(#000, .6)
        &:hover
          .footer
            background-color: rgba($color-primary, .85)
      & > *:nth-child(1)
        margin-top: 0
    @media (min-width: 650px)
      display: flex;
      flex-wrap: wrap;
      .one
        width: calc(50% - 8px)
      .one
        margin-left: 16px
      .one:nth-child(1)
        margin-left: 0
    @media (min-width: 850px)
      flex-wrap: nowrap;
      .one, .two
        width: calc(33.333% - 8px)
      .two
        margin-left: 1rem

  &__business-categories
    background-color: #F2F2F2
    padding-bottom: 2rem
    .list
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @media (max-width: 650px)
        justify-content: center;
    .item
      min-height: 18rem
      background-color: #fff
      padding: 2rem
      width: 100%
      max-width: 17rem
      box-shadow: 3px 3px 7px rgba(#000, .15)
      margin: 0.5rem
      img
        height: 4rem
        width: auto;
      .title
        color: $color-primary
        margin: 1rem 0 1rem 0
      .link
        color: #444
      .link:hover
        text-decoration: underline;

  &__features
    .c-home__title
      strong
        color: $color-primary
        font-size: 2.3rem
      @media (max-width: 450px)
        font-size: 1.7rem
        strong
          font-size: 1.9rem
    .items
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      & > *
        margin-left: 0.5rem
        margin-right: 0.5rem
        width: 10rem
        flex: none;
        text-align: center;
        line-height: 1
        font-size: 0.9rem
      img
        height: 5rem
        width: auto;
        display: block;
        margin: 0 auto;
    @media (min-width: 800px)
      .content
        display: flex;
        & > *:nth-child(1)
          width: 35%
        & > *:nth-child(2)
          width: 65%

  &__payments
    img
      height: 3.5rem
      width: auto;
      margin: 0 auto;
      display: block;
    .title
      text-align: center;
      strong
        font-size: 1.2rem
      span
        font-size: 1rem
      img
        height: 5rem
    .items
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      & > *
        width: 7.5rem
        text-align: center;
        font-size: 0.9rem
        line-height: 1
        margin: 0.5rem
    @media (min-width: 800px)
      display: flex;
      justify-content: space-around;
      align-items: center;
      .title
        width: 16.5rem
        flex: none;
