.c-malls

  &__cover-page
    position: relative
    background-color: #333
    &__wrapper-image
      width: 100%
      height: 350px
      display: flex
      justify-content: center
      align-items: center
      img
        height: auto
        width: 100%

    .swiper--next,
    .swiper--prev
      position: absolute
      top: 50%
      background: $color-primary
      border-radius: 50%
      width: 2.5rem
      height: 2.5rem
      z-index: 8
      display: flex;
      justify-content: center
      align-items: center
      color #fff
      cursor: pointer
      user-select: none
      transform: translateY(-50%)
      .u-icon
        margin-right: 0
        font-size: 0.8rem
        line-height: 1
      &.swiper-button-disabled
        cursor: not-allowed
        background: #444
        display: none
    .swiper--next
      right: 2rem
    .swiper--prev
      left: 2rem


  &__section
    margin-top: 6rem
  &__section:nth-child(1)
    margin-top: 0
  &__section:nth-last-child(1)
    margin-bottom: 4rem

  &__title
    text-align: center
    & > *
      margin: 0
      font-weight: 400
      font-size: 2.2rem
      color: $color-primary3
      padding: 2.5rem 0
    strong
      font-weight: 700



  &__list
    display: flex
    flex-wrap: wrap;
    margin: 0
    & > *
      margin-top: 2rem
      width: calc(50% - 2rem)
    & > *:nth-child(1),
    & > *:nth-child(2)
      margin-top: 0
    & > *:nth-child(2n-1)
      margin-right: 1rem
    & > *:nth-child(2n)
      margin-left: 1rem
    @media (max-width: 1024px)
      flex-direction: column;
      & > *
        margin-top: 1rem
        width: 100%
      & > *:nth-child(1)
        margin-top: 0
      & > *:nth-child(2)
        margin-top: 1rem
      & > *:nth-child(2n-1)
        margin-right: 0
      & > *:nth-child(2n)
        margin-left: 0

  &__item
    display: flex
    // border: 1px solid #f00
    &__figure
      height: 220px
      width: 230px
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      flex: none
    &__figure img
      height: 100%
      width: auto
      display: block
    &__content
      display: flex
      flex-direction: column
      justify-content: center
      align-items: flex-start
      padding: 0 1.5rem
    &__title
      font-size: 1.5rem
      margin: 0
      font-weight: 600
      color: #444
    &__info
      color: $color-tertiary
      .u-icon
        font-size: 0.8rem
    &__button
      border: none
      border-radius: 2rem
      background-color: $color-primary
      color: #fff
      padding: 1rem 2.5rem
      font-size: 1.1rem
      font-weight: 400
      margin-top: 1.5rem

  &__news
    display: flex;
    @media (max-width: 1024px)
      flex-direction: column;
      align-items: center;
    & > *
      width: calc(33.33% - 3rem)
    & > *:nth-child(1)
      margin-right: 0.5rem
    & > *:nth-child(2)
      margin-left: 0.5rem
      margin-right: 0.5rem
    & > *:nth-child(3)
      margin-left: 0.5rem
