.c-order-lists
  display: flex;
  background-color: #F2F2F2
  border-radius: 8px
  height: 8rem
  & > *
    min-width: 9.5rem
    padding: 0.75rem 1rem
    // border-radius: 8px
    border-left: 1px solid #ddd
  & > *:nth-child(1)
    border-left: none
  &__header
    font-size: 0.8rem
    color: #999
    margin-bottom: 0.5rem
    display: block;
  &__title
    margin: 0
    color: $color-primary3
    font-size: 1.2rem
  &__link
    color: $color-primary
    font-size: 0.8rem
    margin-top: 0.5rem
    .icomoon
      font-size: 0.6rem
      margin-right: 0
      margin-left: 2px
  &__list
    display: flex;
    flex-direction: column;
    height: 100%
    flex-wrap: wrap;
    a
      font-size: 0.9rem
      color: #444
      display: flex;
      align-items: center;
      width: 6rem
      margin-right: 0.5rem
      padding: 2px 0
      transition: 0.4s ease opacity
    a:before
      content: ''
      display: block;
      border-radius: 50%
      width: 4px
      height: 4px
      background-color: $color-primary
      margin-right: 0.3rem
      flex: none
    a:hover
      opacity: 0.8
      text-decoration: underline;
