$spacing = 16px;

.c-panel-grid
  background-color: darken(#F7F7F8, 2%);
  display: flex;
  width: 100%;
  min-height: calc(100vh - 56px);

  &__options
    background: #fff;
    flex: none;
    padding-top: $spacing;
    width: 230px;
    @media (min-width: 1100px)
      width: 250px;
    @media (max-width: 750px)
      position: absolute;
      left: -230px;
    li
      height: 3.5rem
      display: flex;
      align-items: center;
      text-align: center;
      width: 100%
      // border-top: 1px solid #ddd
      padding: 0 15%
      color: #888
      cursor: pointer;
      transition: background 0.4s ease, color 0.4s ease
      .icomoon
        margin-right: 0.5rem
    li:nth-child(1)
      border-top: none
    li:hover
      color: $color-primary
    li.is-active
      background: $color-primary
      color: #fff
  &__content
    padding: $spacing+11 $spacing $spacing $spacing;
    width: 100%;
    @media (min-width: 1024px)
      display: flex;


  &__column-one,
  &__column-two
    display: flex;
    flex-direction: column;
    & > *
      background: #fff;
      padding: $spacing*1.5;
      margin-top: $spacing;
    & > *:nth-child(1)
      margin-top: 0;
  &__column-one
    @media (min-width: 1024px)
      margin-right: $spacing;
  &__column-two
    margin-top: $spacing;
    @media (min-width: 1024px)
      margin-top: 0;

  &__title
    color: #555
    font-size: 1rem
    line-height: 1
    margin-top: 0
    &::after
      content: ''
      background-color: $color-primary
      width: 15px
      height: 3px
      display: block;
      margin-top: 0.5rem
