.c-preview-search
  background-color: #fff;
  border-bottom: 1px solid rgba($color-secondary, 0.3);
  border-left: 1px solid rgba($color-secondary, 0.3);
  border-right: 1px solid rgba($color-secondary, 0.3);
  box-shadow: 2px 2px 7px  rgba($color-secondary, 0.4);
  left: 0;
  padding-top: 0.5rem;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 999;

  figure
    flex: none;

  .btn
    align-items: center;
    background: rgba($color-secondary, 0.15);
    border-bottom: none;
    border-left: none;
    border-right: none;
    color: rgba($color-secondary, 0.8);
    display: flex;
    font-size: 12px;
    font-weight: 300;
    height: 3rem;
    justify-content: center;
    margin-top: 0.3rem;
    text-align: center;
    width: 100%;
    transition: 0.4s ease color;
    strong
      font-weight: 700

  .btn:hover
    text-decoration: underline;

  .list
    margin: 0;
    z-index: 99;
    position: relative;

    li
      cursor: pointer;
      padding: 0.25rem 0.5rem;
    li:hover
      background: #e4e4e4;
      .texts
        h3, p
          color: #333;

    .texts
      align-items: flex-start;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 0.7rem;
      h3
        color: rgba($color-secondary, 0.9);
        font-size: 0.9rem;
        font-weight: 300;
        line-height: 1;
        margin: 0;
      p
        color: rgba($color-secondary, 0.8);
        font-size: 0.7rem;
        font-weight: 300;
        margin: 0;

    .price
      margin-left: auto;
      display: flex;
      align-items: center;
