.c-subcription
  color #fff
  background-color: $color-primary

  .c-subcription__wrapper
    // max-width: 1200px
    padding-left: 2rem
    padding-right: 2rem
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
    padding-top: 1rem
    padding-bottom: 1rem
    @media (max-width: 900px)
      flex-wrap: wrap;
    @media (max-width: 700px)
      flex-direction: column;

  &__paragraph
    margin-right: 2rem
    @media (max-width: 900px)
      width: 100%
      text-align: center;
      margin-bottom: 1rem
    @media (max-width: 700px)
      display: flex;
      flex-direction: column;

  &__input
    border-radius: 1.5rem
    border: none
    background-color: #fff
    font-size: 0.9rem
    padding: 0 1.5rem
    height: 47px
    margin-right: 0.75rem
    outline: none;
    color: #666
    @media (max-width: 700px)
      width: 100%
      max-width: 15rem
      margin-right: 0
      margin-top: 0.5rem

  &__submit
    color: #666
    outline: none;
    height: 47px
    border-radius: 1.5rem
    background-color: $color-primary3
    color: #fff
    font-weight: 700
    font-size: 1rem
    border: none
    width: 10rem
    flex: none
    @media (max-width: 700px)
      width: 100%
      max-width: 15rem
      margin-top: 1rem
