.c-udpate-info
  display: flex;
  transition: 0.4s ease background
  padding: 0 24px
  &:hover
    background: lighten($color-background, 30%)

  &__title
    color: $color-primary3
    flex: none;
    padding: 9px 0
    font-size: 1rem
    font-weight: 400
    margin: 0
    width: 7rem

  &__content
    color: #858488
    width: 100%
    .c-udpate-info__text
      font-size: 0.9rem
      line-height: 1
      margin: 0
    .c-update-info__item
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-top: 0.5rem
      @media (min-width: 1175px)
        padding-right: 4rem
    .c-update-info__item:nth-child(1)
      margin-top: 0
    .c-update-info__subtitle
      // flex none
      font-size: 0.9rem
      line-height: 1
      margin: 0
      width: 100%
      text-align: right;
      padding-right: 1rem

  &__button
    align-items: center;
    background-color: $color-primary3
    border-radius: 5px
    color #fff
    display: flex;
    height: 2.5rem
    justify-content: center;
    min-width: 7rem
    padding: 0 1rem

  input
    align-items: center;
    background: #fff
    border-radius: 5px
    border: 1px solid #ccc
    display: flex;
    height: 2.5rem
    padding: 0 0.75rem
