.pl-ui-wrapper
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px
  padding-left: 1.5rem
  padding-right: 1.5rem

.c-user-input

  &__wrapper
    align-items: center;
    background-image: url('/defaults/background_pattern.png')
    background-repeat: repeat
    display: flex;
    height: 98vh
    justify-content: center;
  &__container
    background-color: #fff
    border-radius: 1.5rem
    box-shadow: 3px 3px 30px rgba(#000, 0.7)
    display: flex;
    max-width: 1024px
    overflow: hidden;
    text-align: center;
    width: 100%
    @media(max-width:850px)
      width initial
  &__content
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem 3rem
    width: 100%
    img
      height: 4rem
    .content
      margin-left: auto;
      margin-right: auto;
      max-width: 300px
    .title
      color: #777
      a
        border-bottom: 1px solid $color-primary3
        color: $color-primary3
        display: inline-block;
        font-weight: 600
        margin-left: 0.4rem
    input:not([type="checkbox"])
      background-color: #F2F2F2
      border-radius: 1.5rem
      border: 1px solid #F2F2F2
      display: block;
      font-size: 0.9rem
      height: 3rem
      margin-bottom: 0.5rem
      padding-left: 2rem
      padding-right: 2rem
      width: 100%
    .submit
      background-color: $color-primary
      border-radius: 2rem
      border: none
      color: #fff
      font-size: 1rem
      font-weight: 600
      height: 3.5rem
      transition: box-shadow 0.4s ease
      width: 100%
      &:hover
        box-shadow: 3px 3px 10px rgba(#000, .5)
    .forgot
      margin: 0 0 1rem 0
      text-align: right
      color: #777
      font-size: 0.9rem
      cursor: pointer;
    .terms
      border-top: 1px solid #ddd
      color: #999
      font-size: 0.9rem
      margin-top: 0.5rem
      padding-bottom: 1rem
      padding-top: 0.75rem
      text-align: left;
      input[type="checkbox"]
        margin-right: 0.25rem
    .hr
      align-items: center;
      display: flex;
      font-size: 0.9rem
      font-weight: 600;
      opacity: 0.5
      width: 100%
      &::before, &::after
        width: 100%
        border-bottom: 1px solid #444
        content: ''
        display: block;
        height: 5px
      span
        flex: none
        padding: 0 0.5rem
    .button-facebook,
    .button-gooplus
      align-items: center
      border-radius: 2rem
      color: #fff
      display: flex;
      font-size: 0.7rem
      font-weight: 800
      height: 3rem
      justify-content: center;
      padding: 0 1rem
      width: 100%
      img
        height: 2rem
      .u-icon
        font-size: 1.2rem
    .button-facebook
      background-color: #23599B
    .button-gooplus
      background-color: #FE4A35
  &__aside
    background-image: url('/defaults/background_login.png')
    background-position: center center;
    background-size: cover;
    color: #fff
    min-width: 550px
    padding: 4rem 4rem
    text-align: left;
    @media(max-width:1000px)
      min-width: 430px
    @media(max-width:850px)
      display: none
    .title
      display: flex;
      flex-direction: column;
      font-size: 2.2rem
      line-height: 0.9
      margin: 0
      & > *:nth-child(1)
        font-size: 3rem
    .subtitle
      max-width: 16rem
    .list
      margin-bottom: 0
      margin-top: 2.5rem
      & > *
        display: flex;
        line-height: 1
        margin-top: 1rem
        max-width: 16rem
      & > *:nth-child(1)
        margin-top: 0
      .u-icon
        color: $color-primary
        padding-top: 0.1rem

  &__redsocial
    background-color: $color-primary
    color: #fff
    height: 4.75rem
    & > *
      @extend .pl-ui-wrapper
      align-items: center;
      display: flex;
      height: 100%
      opacity: 0.95
      width: 100%
      & > *
        margin-left: 0.25rem
      & > *:nth-child(1)
        margin-left: 0

  &__footer
    background-color: $color-primary3
    color: #fff
    font-size: 0.8rem
    height: 3rem
    & > *
      @extend .pl-ui-wrapper
      align-items: center;
      display: flex;
      height: 100%
      margin-bottom: 0
      margin-top: 0
      opacity: 0.7
