<template lang="pug">
  .CompaniesScreen
    app-top()
    shopping-cart()

    router-view()

    subscription()
    app-footer()
</template>

<script>
  export default {
    name: 'CompaniesScreen'
  }
</script>
