.c-order-item {
  padding-top: 1rem;
  padding-bottom: 1rem;

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__image {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 120px;
    overflow: hidden;
    height: 100px;
    background-color: #fff;
    // flex: none;
    img {
      border-radius: 5px;
      width: 100%;
    }
  }

  &__content {
    margin-left: 1rem;
    width: 100%;
    cursor: pointer;
  }

  &__title {
    font-size: 0.9rem;
    font-weight: 800;
    line-height: 1;
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
  }
  &__text {
    width: 100%;
    padding-left: 1rem;
  }

  &__company {
    color: lighten($color-tertiary, 25%);
    display: block;
    font-size: 0.8rem;
    font-weight: 300;
    line-height: 1
  }
  &__items {
    color: $color-primary3;
    font-weight: 600;
    font-size: 0.9rem;
  }

  &__buttons {
    text-align: center;
    width: 1.5rem;
  }

  &__btn-select {
    transform: rotate(90deg);
    transition: all .3s ease-in-out;
    padding: 0;
    text-align: center;
    margin: 0;
    height: 100%;
    .icon {
      font-size: 0.9rem;
      margin-right: 0
    }
    &.close {
      .icon {
        font-size: 1.3rem;
      }
    }
  }

  &.is-active {
    .c-order-item__btn-select {
      transform: rotate(0);
    }
  }
}
