.c-order-feature {
  overflow: hidden;
  transition: 0.5s ease-out max-height;

  &__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    padding-top: 4px;
    padding-bottom: 4px;
  }

  &.is-active {
    // margin-bottom: .75rem;

    .c-order-feature__detail {
      // border-bottom: 1px solid rgba($color-primary, .5);
      // border-top: 1px solid rgba($color-primary, .5);
      max-height: none;
      padding-bottom: .5rem;
      padding-top: .5rem;
    }

    .c-order-feature__btn-select i {
      transform: rotate(0);
    }
  }


  &__list {
    max-height: 0;
    overflow: hidden;
    color: $color-secondary;
    transition: 0.8s ease max-height;
    margin: 0
  }


  &__detail {
    background-color: #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    font-size: .95rem;
    max-height: 0;
    overflow: hidden;
    padding: 0;

    label {
      background-color: white;
      display: block;
      line-height: 1;
      margin: 0 .4rem;
      padding: .65rem .9rem .55rem;
    }
  }


  &__color {
    border-radius: 50%;
    border: 1px dashed;
    border-color:#999;
    padding: .2rem !important;

    span {
      border-radius: 50%;
      display: block;
      height: 25px;
      width: 25px;
      color: transparent;
    }
  }

  &__brand {
    span {
      color: $color-tertiary;
      font-family: 'Aladin', cursive;
    }
  }


  &__btn-select {
    padding: 0;
    i {
      transform: rotate(-90deg);
    }
  }
}
