.c-orderform {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


  &__item {
    margin-bottom: 0.5rem;
    width: 100%;

    // @include from(md) {
    //   width: 49%;
    // }

    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(6),
    &:nth-child(7){
      width: 49%;
    }

    input,textarea,select {
      border: 1px solid lighten($color-tertiary, 50%);
      padding: 0.75rem 1.5rem;
      border-radius: 10px;
      width: 100%;
      font-size: 1rem;
      font-weight: 300;
      color: $color-secondary
    }
  }
}
