.c-order-list {
  width: 444px;
  &__title {
    border-bottom: 1px solid rgba($color-tertiary, .075);
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: .75rem;

    & > h2,
    & > h3,
    & > h4 {
      font-size: 1.8rem;
    }
  }
}
