.c-app-header {
  position: relative;
  height: 56px;
  &::after {
    position: fixed;
    top: 56px;
    left: 0;
    height: 18px;
    width: 100%;
    content: '';
    z-index: 10;
    background-image: url('/defaults/mall_ornament.png');
    background-size: auto 18px;
    background-repeat: repeat-x;
  }
  &__wrapper {
    background-color: $color-primary;
    position: fixed;
    width: 100%;
    z-index: 99;
  }
  &__content {
    color: #fff;
    display: flex;
    justify-content: space-between;
    // text-transform: uppercase;
    width: 100%;
    height: 56px;
    .icomoon {
      font-size: 1.2rem;
    }
    justify-content: flex-end;
    & > * {
      width: 2.5rem;
      flex: none;
      margin-left: auto;
      margin-right: auto;
      & > * {
        width: 100%;
      }
    }
    .c-app-header__tacna,
    .c-app-header__currencies,
    .c-app-header__login-btn,
    .c-app-header__user,
    .c-shopping-cart__tag {
      padding-left: 10px;
      position: relative;
      &::before {
        position: absolute;
        height: 50%;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        content: '';
        width: 1px;
        background: rgba(#000, .1)
      }
    }
    @media (min-width: 1024px) {
      .c-app-header__tacna,
      .c-app-header__currencies,
      .c-app-header__login-btn,
      .c-app-header__user,
      .c-shopping-cart__tag {
        margin-left: 5px;
        margin-right: 5px;
      }
      .c-app-header__tacna {
        margin-left: auto;
      }
      .c-app-header__categories {
        margin-left: 8px;
      }
    }
  }
  &__menu {
    border: none;
    text-align: center;
    padding: 0;
    margin-left: 0;
    .icomoon {
      margin-right: 0;
      display: block;
    }
  }
  &__logo {
    margin-right: auto;
    margin-left: 0;
    width: initial;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__login-btn {
    display: none;
    justify-content: center;
    align-items: center;
    width: initial;
    button {
      background-color: $color-primary3;
      padding: 0.5rem 1.5rem;
      border: none;
      border-radius: 1.5rem;
      font-size: 0.9rem;
      font-weight: 600;
      // height: 2.5rem;
    }
  }
  &__search {
    align-items: center;
    display: none;
    flex: initial;
    font-size: 0.9rem;
    justify-content: center;
    max-width: 25rem;
    padding: 0 0.5rem;
    width: 100%;
    .store {
      align-items: center;
      background-color: $color-primary3;
      border-bottom-right-radius: 7px;
      border-top-right-radius: 7px;
      border: none;
      color: #fff;
      display: flex;
      font-size: 0.8rem;
      height: 32px;
      padding: 0 1rem;
      transition: 0.4s ease color;
      width: initial;
    }
    .store:hover {
      color: #ddd;
    }
  }
  &__search-btn {
    border: none;
    padding: 0;
    .icomoon {
      margin: 0;
    }
  }
  &__search-global {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-primary;
    &__btn {
      border: none;
      margin-left: 0.5rem;
      width: initial;
      .icomoon {
        margin: 0;
        font-size: 1.5rem
      }
    }
  }
  &__tacna {
    width: initial;
    padding: 0 0.5rem;
    display: none;
    &__title {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      span {
        display: block;
        flex: none
      }
    }
  }
  &__publish {
    width: initial;
    border: none;
    display: none;
  }
  &__currencies {
    display: none;
  }
  &__user {
    width: initial;
    display: flex;
    align-items: center;
    &__title {
      display: flex;
      align-items: center;
      span {
        display: none;
      }
    }
    img {
      height: 2.5rem;
      border: 5px solid darken($color-primary, 10%);
      width: 2.5rem;
      border-radius: 50%;
      background-color: #fff;
    }
  }
  @media (min-width: 1100px) {
    &__publish {
      display: block;
    }
  }
  @media (min-width: 901px) {
    &__currencies {
      display: block;
    }
    &__user {
      &__title {
        span {
          display: block;
        }
      }
    }
    &__login-btn {
      display: flex;
    }
    &__menu {
      display: none;
    }
    .o-subheader {
      margin-right: 0;
    }
    &__search {
      margin-left: 0;
    }
  }
  @media (min-width: 776px) {
    &__tacna {
      display: block;
    }
    &__currencies {
      width: initial;
    }
  }
  @media (min-width: 551px) {
    &__content {
      justify-content: space-around;
    }
    &__logo {
      margin-right: initial;
    }
    &__search {
      display: flex;
    }
    &__search-btn {
      display: none;
    }
  }
}
