.c-app-menu
  // background-color: #333
  background darken($color-primary, 10%)
  color: #fff
  height: 100%;
  margin: 0
  max-width: 320px
  padding: 18px 0
  position: fixed;
  transform: translateX(-320px);
  transition transform ease 0.5s
  width: 100%;
  z-index: 99;
  &.is-active
    transform: translateX(0);

  &__item
    padding: 0.75rem 24px
    display: flex;
    // justify-content: center;
    align-items: center;
    // background $color-primary
    font-size: 0.9rem
    font-weight: 600
    transition: color 0.4s ease
    cursor: pointer;
    &:hover
      color: #222

  &__sublist
    background $color-primary3
    & > *
      cursor: pointer;
      padding: 0.75rem 40px
      font-size: 0.9rem
      transition: background 0.4s ease
      &:hover
        background: darken($color-primary3, 20%)
