<template lang="pug">
  .c-update-info__item()

    p.c-update-info__subtitle {{name}}
    input(v-model="textEntered",
    @keyup="$emit('input', textEntered)")
</template>

<script>
  export default {
    props: {
      displayed: {
        type: Boolean,
        default: false
      },
      name: {
        type: String,
        default: ''
      },
      text: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        textEntered: ''
      }
    },
    watch: {
      displayed (newVal) {
        if (newVal) {
          this.textEntered = this.text
        }
      }
    }
  }
</script>
