<template lang="pug">
  .ProfileDefault
    panel-grid()
      div(slot="column-one", class="u-pb4")
        h2.c-panel-grid__title
          |Foto de Perfil
        attach-image(
          :update_func="updateImage",
          :in_resource="dataUser.imageUrl")

      div(slot="column-two")
        h2.c-panel-grid__title(style="padding:0 24px")
          |Información Basica de tu Cuenta
        update-info(class="u-mt4 u-pt2 u-pb2",
          title="Nombre",
          :text="dataUser.firstName + ' ' + dataUser.lastName",
          :inputs="[{name:'Nombres', text:dataUser.firstName, key:'firstName'}, {name:'Apelllidos', text:dataUser.lastName, key:'lastName'}]",
          :answer="updateData")
        update-info(class="u-pt2 u-pb2",
          title="E-mail",
          :text="dataUser.email || ''",
          :inputs="[{name:'Correo electrónico', text:dataUser.email, key:'email'}]",
          :answer="updateData")

        .c-udpate-info.u-pt2.u-pb2
          h2.c-udpate-info__title Genero:

          .c-udpate-info__content.u-flex.u-justify-between.u-items-center
            p.c-udpate-info__text
              |{{dataUser.gender ? 'Masculino' : 'Femenido'}}
            button.c-udpate-info__button(@click="updateData({gender: !dataUser.gender})")
              |Editar

        update-info(class="u-pt2 u-pb2",
          title="Dirección",
          :text="dataUser.address || ''",
          :inputs="[{name:'Dirección', text:dataUser.address, key:'address'}]",
          :answer="updateData")
        update-info(class="u-pt2 u-pb2",
          title="Celular",
          :text="dataUser.cellphone || ''",
          :inputs="[{name:'Celular', text:dataUser.cellphone, key:'cellphone'}]",
          :answer="updateData")
        update-info(class="u-pt2 u-pb2",
          title="Facebook",
          :text="dataUser.facebook || ''",
          :inputs="[{name:'Perfil de Facebook', text:dataUser.facebook, key:'facebook'}]",
          :answer="updateData")
        update-info(class="u-pt2 u-pb2",
          title="Contraseña",
          text="********",
          :inputs="[{name:'Contraseña Actual', text: '', key:'oldPassword'},{name:'Nueva Contraseña', text:'', key:'password'}]",
          :answer="updateData")
</template>

<script>
  import UpdateInfo from './UpdateInfo'
  import axios from 'axios'
  import { mapGetters } from 'vuex'

  export default {
    name: 'ProfileDefault',
    components: { UpdateInfo },

    data () {
      return {
        dataUser: {
          firstName: '',
          lastName: ''
        }
      }
    },

    mounted () { this.requestProfile() },
    methods: {
      requestProfile () {
        axios({
          method: 'get',
          url: `${window.API_URL}/profile`,
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${this.accessToken}`
          }
        })
        .then(({data}) => {
          this.dataUser = data.data
        })
      },
      updateData (param) {
        axios({
          method: 'put',
          url: `${window.API_URL}/profile`,
          data: param,
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${this.accessToken}`
          }
        })
          .then(() => {
            window.toastr.success('Información actualizada', 'COMPROENTACNA')
            for (let prop in param) {
              this.dataUser[prop] = param[prop]
            }
          })
          .catch(() => {
            window.toastr.error('Ocurrio un fallo al actualizar tu información', 'COMPROENTACNA')
          })
      },
      updateImage (resource, extension) {
        axios({
          method: 'put',
          url: `${window.API_URL}/profile`,
          data: {
            img: {
              base64: resource,
              extension: extension
            }
          },
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${this.accessToken}`
          }
        })
          .then(() => {
            window.toastr.success('Se actualizo tu foto de perfil', 'COMPROENTACNA')
          })
          .catch(() => {
            window.toastr.error('Ocurrión un fallo al actualizar tu foto de perfil')
          })
      }
    },
    computed: {
      ...mapGetters([
        'accessToken'
      ])
    }
  }
</script>

<style lang="stylus">
  .ProfileDefault
    .c-panel-grid__column-two
      width: 100%
      & > *
        padding: 24px 0 !important
        width: 100%
      @media(min-width: 1024px)
        height: 100%
        & > *
          height: 100%
</style>
