<template lang="pug">
  .c-udpate-info
    h2.c-udpate-info__title {{title}}:

    .c-udpate-info__content.u-flex.u-justify-between.u-items-center(
      v-show="!displayed")
      p.c-udpate-info__text {{text}}
      button.c-udpate-info__button(@click="displayed = true")
        |Editar

    .c-udpate-info__content.u-mt2.u-mb3(v-show="displayed")
      input-info(
        v-for="(element, index) in inputs",
        :key="`update-info${index}`",
        :displayed="displayed",
        :name="element.name",
        :text="element.text",
        v-model="jsonEntered[element.key]")

      .u-flex.u-justify-end.u-mt3
        button.c-udpate-info__button.u-mr2(@click="updateData")
          |Actualizar
        button.c-udpate-info__button.u-ml2(@click="displayed = false")
          |Cancelar
</template>

<script>
  import InputInfo from './InputInfo'

  export default {
    components: { InputInfo },
    data () {
      return {
        displayed: false,
        jsonEntered: {}
      }
    },
    props: {
      title: {
        type: String,
        required: true,
        default: 'Nombre'
      },
      text: {
        type: String,
        required: true,
        default: 'Nombre'
      },
      inputs: {
        type: Array,
        required: true,
        default () {
          return [{
            name: 'Nombres',
            text: 'firstName',
            key: 'firstName'
          }]
        }
      },
      answer: {
        type: Function,
        default () { return false }
      }
    },
    methods: {
      updateData () {
        this.displayed = false
        if (JSON.stringify(this.jsonEntered) !== '{}') {
          this.answer(this.jsonEntered)
        }
      }
    }
  }
</script>
