<template lang="pug">
  .CompaniesScreen
    app-top()
    shopping-cart()

    router-view()
      
    app-footer()
</template>

<script>
  export default {
    name: 'ServicesScreen'
  }
</script>
