<template lang="pug">
  div
    .c-shopping-list__item(
      @click="active = !active",
      :class="{'is-active': active}")
      div
        span {{ in_data.productName }}
        span(
          class="u-weight-400"
          style="font-size:0.8rem")
          |Provedor: {{ in_data.company.name }}
          i.u-icon.u-ml2.u-mr0.u-color-primary(
            style="font-size:0.5rem")
            |right
      .u-flex.u-justify-center
        span {{currencySelected.symbol + in_data.priceUnit}}
      .u-flex.u-justify-center
        span {{ in_data.quantity }}
      .u-flex.u-justify-center
        span {{currencySelected.symbol + in_data.priceUnit * in_data.quantity}}
    div.c-shopping-list__company(
      :class="{'is-displayed': active}")
      .u-flex
        .u-flex.u-width-50
          div.u-clr-tertiary(
            style="min-width:6rem")
            div Presentate
            div Web
            div E-mail
            div Célular
            div Whatsapp
            div País - Región
            div Dirección
            div Atención
          div
            div : {{ in_data.company.representative }}
            div : {{ in_data.company.web }}
            div : {{ in_data.company.email }}
            div : {{ in_data.company.celphone }}
            div : {{ in_data.company.whatsapp }}
            div : {{ in_data.company.country}} - {{ in_data.company.region }}
            div.address(@click="openModal")
              |: {{ in_data.company.address }}
            div : {{ in_data.company.schedule }}
        div.c-shopping-list__company__map.u-width-50
          gmap-map(
            :center="{lat:in_data.company.latitude+0.0009, lng:in_data.company.longitude+0.00005}",
            :zoom="16",
            map-type-id="terrain",
            style="width: 100%; height: 100%")
            gmap-marker(
              :position="{lat:in_data.company.latitude, lng:in_data.company.longitude}",
              :clickable="true",
              :draggable="true",
              @click="info = !info")
              gmap-info-window(
                :position="{lat:in_data.company.latitude, lng:in_data.company.longitude}",
                :opened="info")
                span {{in_data.company.address}}
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    props: {
      in_data: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    data () {
      return {
        active: false,
        info: true
      }
    },
    methods: {
      openModal () {
        if (window.innerWidth < 750) {
          this.$emit('open-modal', {
            text: this.in_data.company.address,
            marker: {
              lat: this.in_data.company.latitude,
              lng: this.in_data.company.longitude
            }
          })
        }
      }
    },
    computed: {
      ...mapGetters([
        'currencySelected'
      ])
    }
  }
</script>
