<template lang="pug">
  .ListsScreen
    app-top()
    shopping-cart()

    .u-pt3()
      .c-shopping-list.u-pt4.u-pb4
        .hr
        .c-shopping-list__title
          .c-shopping-list__name
            h2.name
              span.u-mr1 Hola
              span.u-clr-primary {{ dataJson.userName}}
            p.pharse Planifica tus compras con esta guía.
          .c-shopping-list__code
            p
              span.u-mr1 Fecha:
              span {{ dataJson.date }}
            p
              span.u-mr1 Código:
              span.u-clr-primary {{ dataJson.code }}
        .hr

        .c-shopping-list__list
          .c-shopping-list__item.c-shopping-list__item--title
            span Producto
            span Precio Unit
            span Cantidad
            span Subtotal
          item(v-for="(element, index) in dataJson.items",
              :key="`items${index}`",
              :in_data="element",
              @open-modal="openModal")

    item-detail()
    subscription()
    app-footer()
    modal-google-maps(
      @close="activeModal = false",
      :text="text",
      :marker="marker",
      :active="activeModal")
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import Item from './Item'
  import axios from 'axios'
  import ModalGoogleMaps from 'App/screens/Malls/components/ModalGoogleMaps'

  export default {
    name: 'ListsScreen',
    components: { Item, ModalGoogleMaps },
    data () {
      return {
        dataJson: {},

        activeModal: false,
        text: 'Tacna',
        marker: {lat: 10.0, lng: 10.0}
      }
    },

    created () {
      this.requestList()
    },

    methods: {
      ...mapActions([]),
      openModal (params) {
        this.activeModal = true
        this.text = params.text
        this.marker = params.marker
      },
      requestList () {
        axios({
          method: 'get',
          url: `${window.API_URL}/lists/${this.$route.params.listCode}`,
          headers: { 'Content-Type': 'application/json' }
        })
          .then(({ data }) => {
            this.dataJson = data.data
          })
      }
    },
    computed: {
      ...mapGetters([])
    }
  }
</script>
