<template lang="pug">
  .c-currencies.o-config-dialog
    .c-currencies__content
      i.u-icon coins

      span.c-currencies__text
        |{{ frontCurrency }}

    ul
      li(
        v-for="element in currencies",
        :class="{ active: element.id===currencySelected.id }",
        @click="changeCurrencySelected(element.id)")
        |{{ element.code }}&#32{{ element.symbol }}&#32{{ element.name }}
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    data () {
      return {
        frontCurrency: 'SOLES'
      }
    },
    watch: {
      currencySelected (val) {
        this.frontCurrency = this.currencySelected.name
        // this.frontCurrency += ` ${this.currencySelected.symbol}`
      }
    },

    methods: {
      ...mapActions([
        'changeCurrencySelected'
      ])
    },

    computed: {
      ...mapGetters([
        'currencies',
        'currencySelected'
      ])
    }
  }
</script>
