<template lang="pug">
  .HeaderComponent.c-app-header
    .c-app-header__wrapper
      .c-app-header__content.o-container
        button.c-app-header__menu(
          @click="$emit('toggle-menu')")
          i.u-icon menu
        router-link.c-app-header__logo(
          :to="{ name: 'Catalog'}")
          figure.o-logo
            img(:src="imgURl")

        .c-app-header__categories.o-subheader
          .o-subheader__category
            //- button.u-100(
            //-   @click="toggle_category_menu",
            //-   @mouseover="toggle_category_menu(true)")
            //-   i.icomoon.icon-categories
            //-   span.o-subheader__category__text CATEGORÍAS
            button.u-100.u-flex.u-align-center.u-justify-center(
              @click="toggle_category_menu")
              i.u-icon category
              span.o-subheader__category__text CATEGORÍAS

        .c-app-header__search
          .o-subheader__search.u-position-realtive.u-width-100
            input(
              v-model="textTmp",
              v-focus="focusInput",
              @blur="focusInput = false",
              @focus="focusInput = true",
              @keyup.enter="startSearch",
              class="u-100",
              placeholder="¿Qué estás buscando?",
              type="text")
            i.u-icon(style="cursor:pointer",
                    v-on:click="startSearch") search
            preview-search(:text="textSearch", :state="statePreview")
          button.store(
            @click="$router.push({ name: 'Shops' })")
            i.u-icon store
            span Tiendas

        button.c-app-header__search-btn(
          @click="searchGlobal = true")
          i.u-icon search

        div.c-app-header__tacna.o-config-dialog
          .c-app-header__tacna__title
            i.u-icon tacna
            span Sobre&#32Tacna

          ul
            li(@click="$router.push({ name: 'Catalog' })")
              |Ver Catálogo
            li(@click="$router.push({ name: 'Services' })")
              |Ver Servicios
            li(@click="$router.push({ name: 'Shops' })")
              |Ver Tiendas
            li(@click="$router.push({ name: 'Blog' })")
              |Ver Publicaciones
            li(@click="$router.push({ name: 'Malls' })")
              |Centros Comerciales
            li(@click="$router.push({ name: 'Map' })")
              |Ver Mapa de Tacna

        //- button.c-app-header__publish(
        //-   @click="$router.push({ name: 'Home' })")
        //-   i.u-icon tag
        //-   span PUBLICA TU PRODUCTO

        div.c-app-header__currencies
          currencies()

        .c-app-header__login-btn(v-show="!tokenState")
          button(@click="$router.push({name: 'LogIn'})")
            span Ingresar
        .c-app-header__user.o-config-dialog(
          v-show="tokenState")
          .c-app-header__user__title
            img(:src="userData.imageUrl")
            span {{userData.firstName}}
          //- .c-app-header__user__title
          //-   img(src="https://www.atomix.com.au/media/2015/06/atomix_user31.png")
          //-   span Jorge
          ul
            li(@click="$router.push({name:'Profile'})")
              |Editar perfil
            li(@click="$router.push({name:'Profile'})")
              |Cambiar contraseña
            li(@click="$router.push({name:'OrderLists'})")
              |Mis listas
            li(@click="closeSession") Cerrar sesión

        .c-shopping-cart__tag(@click="enableShoppingCart")
          span.number {{cartCount}}
          i.u-icon heart

        .c-app-header__search-global.o-container(
          v-show="searchGlobal")
          .o-subheader__search.u-width-100
            input(
              v-model="textTmp2",
              @keyup.enter="startSearch2",
              class="u-100",
              placeholder="¿Qué deseas comprar?",
              type="text")
          button.c-app-header__search-global__btn(
            @click="searchGlobal = false")
            i.u-icon close
</template>

<script>
  import Currencies from './Currencies'
  import PreviewSearch from './PreviewSearch'
  import { mapActions, mapGetters } from 'vuex'
  import { mixin as focusMixin } from 'vue-focus'

  export default {
    name: 'AppHeader',
    components: { Currencies, PreviewSearch },
    mixins: [ focusMixin ],
    props: {
      toggle_category_menu: {
        type: Function,
        default () { return false }
      }
    },

    data () {
      return {
        imgURl: '/defaults/logo_white.png',

        textSearch: '',
        textTmp: '',
        textTmp2: '',
        statePreview: false,
        focusInput: false,

        searchGlobal: false
      }
    },

    created () {
      this.requestUser()
      this.loadCurrencies()
    },

    watch: {
      textTmp (newVal, oldVal) {
        let mv = this
        setTimeout(() => {
          if (newVal === mv.textTmp) {
            mv.textSearch = newVal
            mv.enabledPreview()
          }
        }, 300)
      },
      focusInput (newVal) {
        if (!newVal && this.statePreview) {
          let mv = this
          setTimeout(() => {
            mv.statePreview = false
          }, 300)
        }
        if (newVal && !this.statePreview && this.textSearch) {
          this.statePreview = true
        }
      }
    },

    methods: {
      ...mapActions([
        'loadCurrencies',
        'loadSearch',
        'enableShoppingCart',
        'removeToken',
        'beginUser'
      ]),

      redirect_register_company () {
        // this.$route.router.go({name: 'CompanyRegister'})
        this.$router.push({name: 'MallDigital'})
      },

      startSearch () {
        this.loadSearch(this.textSearch)
        this.$router.push({
          name: 'Search',
          query: { q: this.textSearch }
        })
      },

      startSearch2 () {
        this.loadSearch(this.textTmp2)
        this.$router.push({
          name: 'Search',
          query: { q: this.textTmp2 }
        })
      },

      enabledPreview () {
        if (this.textSearch !== '') {
          this.statePreview = true
        } else {
          this.statePreview = false
        }
      },

      requestUser () {
        if (this.tokenState) {
          this.beginUser()
        }
      },
      closeSession () {
        this.removeToken()
        this.$router.push({ name: 'Catalog' })
      }
    },
    computed: {
      ...mapGetters([
        'cartCount', 'tokenState', 'accessToken', 'userData'
      ])
    }
  }
</script>
