<template lang="pug">
  .c-preview-search(v-show="state")
    ul.u-width-100.list
      li.u-flex(
        v-for="(element, index) in searchPreview",
        :key="`PreviewSearch${index}`",
        @click="clickItem(element)")
        figure
          img(:src="element.imageUrl",
              style="width:50px;height:50px;")
        .texts
          h3 {{ element.name }}
          p {{ element.companyName }}
        .price
          price(
            :in_price="element.price",
            :in_addclass="['code-none', 'mini']")

    button.btn(@click="seeMore", type="button")
      p Ver mas resultados para <strong>{{ text }}</strong>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'preview-search',
    props: {
      text: {
        type: String,
        default: ''
      },
      state: {
        type: Boolean,
        deafult () {
          return false
        }
      }
    },

    watch: {
      text (newVal) {
        if (this.state) {
          this.loadPreview(newVal)
        }
      },
      state (newVal) {
        if (newVal) {
          this.loadPreview(this.text)
        }
      }
    },

    methods: {
      ...mapActions([
        'loadPreview', 'updateIdItem', 'visibleItemDetail'
      ]),
      seeMore () {
        // this.disableState()
        this.$router.push({
          name: 'Search',
          query: { q: this.text }
        })
      },
      modalProduct (index) {
        // this.disableState()
        // this.$router.push({path: '/' + this.searchPreview[index].businessCategorySlug + '/' + this.searchPreview[index].categorySlug + '/' + this.searchPreview[index].slug})
        window.location = '/' + this.searchPreview[index].businessCategorySlug + '/' + this.searchPreview[index].categorySlug + '/' + this.searchPreview[index].slug
      },
      // disableState () {
      //   this.state = false
      // }

      clickItem (item) {
        this.$router.push({
          name: 'Products',
          params: {
            productSlug: item.slug
          }
        })
        // this.updateIdItem({ id: id, index: index })
        // this.visibleItemDetail()
      }
    },

    computed: {
      ...mapGetters([
        'searchPreview'
      ])
    }
  }
</script>
