@mixin scrolled {
  background-color: white;

  &:after {
    opacity: 1;
  }

  .c-mall-header__social {
    color: white;
    background-color: $color-primary;
  }

  .c-mall-header__item  {
    a {
      border-color: $color-primary;
      color: $color-tertiary;
    }
  }

  .c-mall-header__logo {
    &:first-child {
      opacity: 0;
    }
    &:last-child {
      opacity: 1;
    }
  }
}

.c-mall-header {
  $transition-mheader: all .3s ease-in-out;
  width: 100%;
  position: fixed;
  transition: $transition-mheader;
  top: 0;
  padding: 1.5rem 5rem 1.5rem 4rem;

  // @include to(md) {
  @media (max-width: 768px) {
    padding: .75rem 1rem;
    @include scrolled;
  }

  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-repeat: repeat;
    background-size: contain;
    transition: $transition-mheader;
    background-image: url('/static/images/border-header.png');
    opacity: 0;

    // @include from(md) {
    @media (min-width: 768px) {
      height: 18px;
    }
  }

  &__social {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    color: black;
    display: flex;
    height: 30px;
    justify-content: center;
    margin-left: .5rem;
    width: 30px;
    transition: $transition-mheader;
  }


  &__item {
    a {
      color: white;
      border-right: 1px solid white;
      font-size: 1.2rem;
      display: block;
      text-transform: uppercase;
      padding: 0 1rem;
      line-height: 1;
      transition: $transition-mheader;
      cursor: pointer;
    }

    &.is-active a {
      color: $color-secondary;
    }

    &:last-child a {
      border-right-width: 0;
    }


    @media (max-width: 767px) {
      border-top: 1px solid rgba($color-secondary, .2);
      flex: 1;
      padding: 1.25rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      text-transform: uppercase;
      font-size: 1.5rem;
      color: $color-secondary;
      box-sizing: border-box;
    }
  }


  &__logo {
    width: 150px;
    height: auto;

    &:last-child {
      opacity: 0;
      z-index: 2;
    }

    @media (min-width: 767px) {
      width: 200px;
    }
  }


  &__responsive {
    background-color: white;
    display: flex;
    flex-direction: column;
    left: 0;
    max-height: 0;
    min-height: 0;
    overflow: hidden;
    position: fixed;
    top: 5.325rem;
    transition: all .3s ease;
    width: 100%;

    &.is-show {
      min-height: calc(100vh - 5.325rem);
    }
  }


  &--scrolled {
    @include scrolled;
  }
}


.u-hide-md {
  @media (min-width: 768px) {
    display: none;
  }
}

.u-show-md {
  display: none !important;
  @media (min-width: 768px) {
    display: flex !important;
  }
}
