.c-mall-slider {

  &__item {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 6rem 0 4rem;
    box-sizing: border-box;
  }


  &__title {
    line-height: 1;
    font-size: 2rem;

    @media (min-width: 767px) {
      font-size: 5rem;
    }
  }


  &__button {
    background-color: $color-primary;
    border: 0;
    border-radius: 2rem;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .3s ease;
    padding: 1rem 2rem;

    @media (min-width: 767px) {
      font-size: 1.25rem;
      padding: 1.5rem 3.75rem;
    }

    &:hover {
      background-color: darken($color-primary, 10%);
    }
  }
}
