<template lang="pug">
  .BlogScreen
    app-top()
    shopping-cart()

    item-detail()

    router-view()

    app-footer()
</template>

<script>
  export default {
    name: 'BlogScreen'
  }
</script>
