<template lang="pug">
  div
    p.title
      |Recuperar contraseña
    input(
      v-model="email",
      placeholder="Correo electrónico")
    button.submit(@click="submit")
      |RECUPERAR

    div.title.u-mt3
      a(href="#!", @click="$emit('close')")
        |Iniciar sesión
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        email: ''
      }
    },
    methods: {
      submit () {
        axios({
          method: 'put',
          url: `${window.API_URL}/reset`,
          headers: { 'Content-Type': 'application/json' },
          data: { email: this.email }
        })
          .then(({ data }) => {
            this.$emit('close')
            window.toastr.success('La contraseña fue restablecida, los datos fueron enviados a su Correo electrónico', 'COMPROENTACNA')
            this.email = ''
          })
      }
    }
  }
</script>
