<template lang="pug">
  .LogInScreen
    user-input()
      reset-password(
        slot="content",
        class="content",
        v-show="reset",
        @close="reset = false")
      div(slot="content",
        class="content",
        v-show="!reset")
        p.title
          |Hola, ¿Estás listo para iniciar sesión?
          router-link(:to="{name: 'SignIn'}") Registrarme
        .u-flex.u-flex-column.u-items-center
          input(
            v-model="username",
            placeholder="Correo electrónico")
          input(
            v-model="password",
            placeholder="Contraseña", type="password")
        p.forgot(@click="reset = true")
          |¿Olvidaste tu contraseña?
        button.submit(@click="submit")
          |INICIAR SESIÓN
        p.hr
          span o conéctate con
        div.u-flex
          button.button-facebook.u-mr1(
            @click="toLocation('/facebook')")
            i.u-icon.u-icon--facebook
            |FACEBOOK
          button.button-gooplus.u-ml1(
            @click="toLocation('/google')")
            i.u-icon.u-icon--google-plus
            |GOOGLE
</template>

<script>
  import UserInput from 'components/UserInput'
  import ResetPassword from './ResetPassword'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'LogIn',
    components: { UserInput, ResetPassword },
    data () {
      return {
        password: '',
        username: '',
        reset: false
      }
    },

    mounted () {
      if (this.$route.query.token) {
        this.createSocialToken({
          network: this.$route.query.network,
          token: this.$route.query.token
        })
      }
      if (this.tokenState) {
        this.$router.push({
          name: 'Catalog'
        })
      }
    },

    watch: {
      tokenState (newVal) {
        if (newVal) {
          this.$router.push({
            name: 'Catalog'
          })
        }
      }
    },

    computed: {
      ...mapGetters([ 'tokenState' ])
    },

    methods: {
      ...mapActions([ 'createdToken', 'createSocialToken' ]),
      submit () {
        if (this.username !== '') {
          if (this.password !== '') {
            this.createdToken({
              password: this.password,
              username: this.username
            })
          } else {
            window.toastr.warning('Ingresa tu contraseña para continuar', 'COMPROENTACNA')
          }
        } else {
          window.toastr.warning('Ingresa tu correo electrónico para continuar', 'COMPROENTACNA')
        }
      },
      toLocation (url) {
        window.location = url
      }
    }
  }
</script>
