<template lang="pug">
  .c-item-detail.u-flex-1.u-scroll-light(
    style="width: initial;height:initial")
    div(v-for="(element, index) in in_data.attributes")
      label(class="u-uppercase u-fz-h3 u-tertiary")
        |{{ element.title }}

      ul.u-flex.u-wrap.u-mx0.u-mt2.u-mb3

        li(v-for="option in element.options",
        :class="{'color-item': element.format===1, 'size-item': element.format===2, 'brand-item': element.format===3, 'is-active': attrSelected[index]===option.id}")

          button(v-if="element.format===1",
                @click="update_attr_selected(element, option)",
                :style="{backgroundColor: option.value, color: option.value}")
            |{{option.value}}
          button(v-if="element.format!==1",
                @click="update_attr_selected(element, option)")
            |{{option.value}}
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'attributes',
    props: {
      in_data: {
        type: Object,
        default () {
          return {}
        }
      },
      out_attr: {
        type: Array,
        default () {
          return []
        }
      },
      update_out_attr: {
        type: Function
      }
    },
    data () {
      return {
        attrSelected: []
      }
    },
    // mounted () {
    //   if (this.attrSelected[0] !== undefined) {
    //     if (this.prevPath === '/') {
    //       this.loadInventory({
    //         idItem: window.itemId,
    //         attrSelected: this.attrSelected
    //       })
    //     } else {
    //       this.loadInventory({
    //         idItem: this.idItem,
    //         attrSelected: this.attrSelected
    //       })
    //     }
    //   }
    // },
    watch: {
      in_data (newVal) {
        this.fillAttributes(newVal.attributes)
        this.init_attr_selected()
        this.updateIdItem({id: newVal.id, index: 0})
      },
      attrSelected (newVal, oldVal) {
        if (newVal[0] !== undefined) {
          this.loadInventory({
            idItem: this.in_data.id,
            attrSelected: newVal
          })
        }
      },
      printAttributes (newVal) {
        this.update_attr_selected(newVal[this.attrSelected.length - 1], newVal[this.attrSelected.length - 1].options[0])
      }
    },
    methods: {
      ...mapActions([
        'fillAttributes',
        'loadInventory',
        'updateAttributes',
        'updateIdItem'
      ]),
      init_attr_selected () {
        let outArray = []
        for (var i = 0; i < this.in_data.attributes.length; i++) {
          outArray[i] = this.printAttributes[i].options[0].id
        }
        this.attrSelected = outArray

        let outTmp = this.out_attr
        for (var j = 0; j < this.in_data.attributes.length; j++) {
          outTmp[j] = {
            'title': this.in_data.attributes[j].title,
            'type': this.in_data.attributes[j].type,
            'option': this.in_data.attributes[j].options.find(op => op.id === this.attrSelected[j])
          }
        }
        this.update_out_attr(outTmp)
      },
      update_attr_selected (Attr, option) {
        let n = 0
        let url = ''

        for (var i = 0; i < this.in_data.attributes.length; i++) {
          if (this.in_data.attributes[i].type === Attr.type) {
            n = i
            break
          }
        }

        let tmp = this.attrSelected
        tmp[n] = option.id
        this.attrSelected = []
        this.attrSelected = tmp

        for (var y = 0; y < this.in_data.attributes.length; y++) {
          url += 'optionId[' + y + ']=' + this.attrSelected[y]
          if (this.in_data.attributes[y].type === Attr.type) {
            break
          }
          url += '&'
        }

        let outTmp = this.out_attr
        for (var j = 0; j < this.in_data.attributes.length; j++) {
          outTmp[j] = {
            'title': this.in_data.attributes[j].title,
            'type': this.in_data.attributes[j].type,
            'option': this.in_data.attributes[j].options.find(op => op.id === this.attrSelected[j])
          }
        }
        this.update_out_attr(outTmp)

        if (n !== (this.in_data.attributes.length - 1)) {
          this.updateAttributes(url)
        }
      }
    },
    computed: {
      ...mapGetters([
        'printAttributes',
        'prevPath',
        'initialCompletion'
      ])
    }
  }
</script>
