<template lang="pug">
  div.u-bg-white.u-relative
    div.o-wrapper-coursel.u-pt5.u-pb5
      h2.u-mt0.u-mb4.u-clr.u-clr-primary3.u-align-center(
        class="u-fz-h0")
        span.u-weight-300 Productos que
        span.u-ml2 te pueden interesar

      div
        .swiper-container.swiper-product
          .swiper-wrapper
            .swiper-slide(v-for="(element, index) in items",
                        :key="`Offer__notice${index}`")
              .c-item(@click="clickItem(element)")
                .c-item__promotion(v-if="element.price.promotion")
                  span.c-item__promotion__text OFERTA
                div.c-item__content
                  figure.c-item__figure()
                    img(:src="element.imageUrl")

                  .c-item__title
                    h3.c-item__title__name
                      |{{ element.name }}
                    h4.c-item__title__company
                      |{{ element.companyName }}

                    price(:in_price="element.price", :in_addclass="['code-none', 'mini']")

        .c-item-detail__previus.c-btn.c-btn--rounded(
          style="position:absolute;left:16px;z-index:999;cursor:pointer")
          i.u-icon.u-icon--left-circle
        .c-item-detail__next.c-btn.c-btn--rounded(
          style="position:absolute;right:16px;z-index:999;cursor:pointer")
          i.u-icon.u-icon--right-circle
</template>

<script>
  import axios from 'axios'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    props: {
      category: {
        type: Number,
        default: 0
      }
    },
    data () {
      return {
        items: [],
        swiperOptions: {
          // autoplay: 4000,
          // loop: true,
          nextButton: '.c-item-detail__next',
          prevButton: '.c-item-detail__previus',
          slidesPerView: 5,
          speed: 1000,
          spaceBetween: 15,
          breakpoints: {
            1100: {
              slidesPerView: 4,
              spaceBetween: 15
            },
            920: {
              slidesPerView: 3,
              spaceBetween: 15
            },
            720: {
              slidesPerView: 2,
              spaceBetween: 15
            },
            450: {
              slidesPerView: 1,
              spaceBetween: 0
            }
          }
        }
      }
    },

    watch: {
      category () {
        this.requestItemsReference()
      }
    },

    computed: {
      ...mapGetters([
        'itemDetailId',
        'tokenState',
        'accessToken'
      ])
    },

    methods: {
      ...mapActions([
        'updateIdItem', 'visibleItemDetail'
      ]),
      requestItemsReference () {
        let url = window.API_URL
        if (this.tokenState) { url += '/client' }
        url += `/items/${this.itemDetailId}/related`
        let dataRequest = {
          method: 'get',
          url: url,
          headers: { 'Content-Type': 'application/json' }
        }
        if (this.tokenState) {
          dataRequest.headers = {
            'Authorization': `Bearer ${this.accessToken}`
          }
        }

        axios(dataRequest)
          .then(({ data }) => {
            this.items = data.data
            this.initCarousel()
          })
          .catch(({response}) => {})
      },

      initCarousel (tmp) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-product', this.swiperOptions)
          if (tmp) { console.log(swiper) }
        }, 300)
      },

      clickItem (element, index) {
        if (window.innerWidth <= 750) {
          window.location = `/productos/${element.slug}`
        } else {
          this.updateIdItem({ id: element.id, index: 0 })
          this.visibleItemDetail()
        }
      }
    }
  }
</script>
