<template lang="pug">
  .c-item-profile__profile
    .c-item-profile__images
      ul.c-item-profile__array-images
        li(v-for="(element, index) in itemDetailimages",
          :key="`gallery${index}`",
          @click="udpate_img(index)")
          figure.figure
            img(:src="element.urlThumb")
      figure.c-item-profile__main-photo
        img(:src="mainImage")

    .c-item-profile__data
      h2.c-item-profile__title
        |{{in_data.name}}
      p.c-item-profile__subtitle
        |Publicado por
        a.c-item-profile__data__company(
          :href="`/${in_data.companySlug}`",
          @click.prevent="$router.push({name:'ShopProfile', params: {shopSlug: in_data.companySlug}})")
          |{{in_data.companyName}}
      price.u-mt2(
        :in_price="subtotal",
        :in_addclass="['code-none', 'big']")
      .c-item-profile__hr

      attributes(
        class="u-mt3",
        :in_data="in_data",
        :out_attr="out_attr",
        :update_out_attr="update_out_attr")

      .u-flex.u-justify-between
        div(class='u-mb3')
          label.u-uppercase.u-fz-h3.u-tertiary cantidad
          input-number(
            class='u-fz-h3',
            :on-change="update_quantity",
            :quantity="1")
        //- div(class='u-mb2')
        //-   label(class="u-uppercase u-fz-h3 u-tertiary") total
        //-   price(:in_price="total", :in_addclass="['noneCode']")

      .u-flex
        button(
          @click="to_order",
          style="height:44px;width:136px",
          class='c-btn u-mr2')
          |PEDIR
        button(v-if="min640",
        @click="contactWhatsapp",
        style="background:#62B352;height:44px",
        class='c-btn u-flex u-items-center')
          img(src="http://icons.illustrake.com/wp-content/uploads/2016/08/whatsapp-circle-logo-vector.png",
          style="height:100%;width:29px")
          |Consultar

      div
        a(
          class="u-mt2 u-py2 u-clr-tertiary",
          style="font-size:0.9rem;border-bottom:1px dotted #aaa;display:inline-block;",
          href="/order",
          @click.prevent="add_to_cart")
          |Agregar a la lista
          i.u-icon right

      .c-item-profile__shareds
        p.u-mt0.u-mb2
          |Comparte con tus amigos:
        .u-flex.u-justify-center
          i.u-icon.u-icon--facebook(
            @click="openTabFacebook")
          i.u-icon.u-icon--twitter(
            @click="openTabTwitter")
          i.u-icon.u-icon--google-plus(
            @click="openTabGooglePlus")
          i.u-icon.u-icon--whatsapp(
            v-if="min640",
            @click="openTabWhatsapp")
</template>

<script>
  import Attributes from './Attributes'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    components: { Attributes },

    data () {
      return {
        out_attr: [],
        mainImage: '',

        quantity: 1,
        priceId: 1,
        subtotal: {
          currencyId: 1,
          value: '00.00'
        },
        total: {
          currencyId: 1,
          value: '00.00'
        },
        min640: window.innerWidth < 640,
        path: window.PATH
      }
    },

    props: {
      in_data: {
        type: Object,
        default () {
          return {}
        }
      }
    },

    watch: {
      itemDetailimages (newVal) {
        if (newVal.length > 0) {
          this.mainImage = this.itemDetailimages[0].url
        }
      },
      quantity (newVal) {
        this.update_price()
      },
      prices (newVal) {
        this.update_price()
      },
      mainImage (newVal) {
        if (newVal) {
          window.$('.c-item-profile__main-photo')
            .zoom({ url: newVal })
        }
      }
    },

    methods: {
      ...mapActions([
        'addToCart', 'enableShoppingCart'
      ]),
      update_out_attr (tmp) {
        this.out_attr = tmp
      },
      udpate_img (index) {
        this.mainImage = ''
        setTimeout(() => {
          this.mainImage = this.itemDetailimages[index].url
        }, 300)
      },
      update_quantity (tmp) {
        this.quantity = tmp
      },
      update_price () {
        for (var i = 0; i < this.prices.length; i++) {
          if (parseInt(this.prices[i].purchaseVolumen) <= parseInt(this.quantity)) {
            this.subtotal = {
              'currencyId': this.prices[i].currencyId,
              'value': this.prices[i].value
            }
            this.total = {
              'currencyId': this.prices[i].currencyId,
              'value': this.prices[i].value * this.quantity
            }
            this.priceId = this.prices[i].id
          }
        }
      },
      add_cart () {
        let itemCart = {
          product: {
            companyName: this.in_data.companyName,
            id: this.in_data.id,
            imgURL: this.itemDetailimages[0].urlThumb,
            name: this.in_data.name
          },
          feature: [
            {
              attributes: this.out_attr,
              inventory: {
                companyId: parseInt(this.inventory.companyId),
                inventoryId: this.inventory.id,
                priceId: this.priceId,
                quantity: parseInt(this.quantity)
              },
              price: {
                currencyId: this.subtotal.currencyId,
                value: parseFloat(this.subtotal.value)
              }
            }
          ]
        }
        this.addToCart(itemCart)
      },
      add_to_cart () {
        this.add_cart()
        this.enableShoppingCart()
      },
      to_order () {
        this.add_cart()
        this.$router.push({name: 'Order'})
      },
      openTabFacebook (tmp) {
        let url = 'https://www.facebook.com/sharer.php?u='
        url += 'http://www.comproentacna.com' + this.$route.fullPath
        let vartmp = window.open(url, this.in_data.name, 'menubar=1,resizable=1,width=320,height=500')
        if (!tmp) {
          console.log(vartmp)
        }
      },
      openTabTwitter (tmp) {
        let url = 'https://twitter.com/intent/tweet?url='
        url += 'http://www.comproentacna.com' + this.$route.fullPath
        url += '&text=' + this.in_data.name + ' -'
        url += '&hashtags=ComproEnTacna'
        let vartmp = window.open(url, this.in_data.name, 'menubar=1,resizable=1,width=400,height=500')
        if (!tmp) {
          console.log(vartmp)
        }
      },
      openTabGooglePlus (tmp) {
        let url = 'https://plus.google.com/share?url='
        url += 'http://www.comproentacna.com'
        url += this.$route.fullPath
        let vartmp = window.open(url, this.in_data.name, 'menubar=1,resizable=1,width=400,height=500')
        if (!tmp) { console.log(vartmp) }
      },
      openTabWhatsapp (tmp) {
        let url = 'whatsapp://send?text='
        url += 'Hola, mira esta oferta en Tacna.%0A'
        url += 'http://www.comproentacna.com'
        url += this.$route.fullPath
        let vartmp = window.open(url, this.in_data.name, 'menubar=1,resizable=1,width=400,height=500')
        if (!tmp) { console.log(vartmp) }
      },
      contactWhatsapp (tmp) {
        let url = 'whatsapp://send'
        url += '?phone=' + this.in_data.cellphone
        url += '&text=Quiero más información.%0A'
        url += 'http://www.comproentacna.com'
        url += this.$route.fullPath
        let vartmp = window.open(url, this.in_data.name, 'menubar=1,resizable=1,width=400,height=500')
        if (!tmp) { console.log(vartmp) }
      }
    },

    computed: {
      ...mapGetters([
        'inventory',
        'itemDetailimages',
        'prices'
      ])
    }
  }
</script>
