<template lang="pug">
  .ProductsScreen.o-background-pattern
    app-top()
    shopping-cart()

    .o-container.u-mt3.u-pb4
      .c-show-category()
        .c-show-category__selected
          router-link(:to="{ name: 'Home' }")
            span Inicio
            i.u-icon.u-mr0 right

          router-link(:to="{ name: 'Catalog' }")
            span Catálogo
            i.u-icon.u-mr0 right

          router-link(:to="{ name: 'BusinessCategory', params: {business_category: info.businessCategorySlug}}")
            span {{businessCategory}}
            i.u-icon.u-mr0 right

          router-link(:to="{ name: 'Category', params: {business_category: info.businessCategorySlug, category: info.categorySlug} }")
            span {{info.categoryName}}
            i.u-icon.u-mr0 right

          span()
            span {{name}}

      .c-item-profile
        profile(:in_data="info")

        tabs-sections(:in_data="info")

    carrousel(:category="info.categoryId")

    item-detail()
    subscription()
    app-footer()
</template>

<script>
  import Profile from './Profile'
  import TabsSections from './TabsSections'
  import Carrousel from './Carrousel'
  import axios from 'axios'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'ProductsScreen',
    components: { Profile, TabsSections, Carrousel },

    data () {
      return {
        businessCategory: 'MODA',
        name: 'Polo',
        items: [],
        info: {
          businessCategorySlug: 'undefined'
        }
      }
    },

    created () {
      this.requestItemProfile()
    },

    methods: {
      ...mapActions([
        'fillPhotosItemDetails', 'fillPriceItemDetails'
      ]),
      requestItemProfile () {
        axios({
          method: 'get',
          url: `${window.API_URL}/items/${this.$route.params.productSlug}/profile`,
          headers: {
            'Content-Type': 'application/json'
          }
        })
        .then(({ data }) => {
          this.businessCategory = data.data.businessCategory
          this.name = data.data.name
          this.info = data.data
          this.fillPhotosItemDetails(data.data.photos)
          this.fillPriceItemDetails(data.data.prices)
        })
        .catch(({response}) => {})
      }
    },

    computed: {
      ...mapGetters([
      ])
    }
  }
</script>
