<template lang="pug">
  .c-item-profile__tab-sections
    ul.c-item-profile__tabs
      div(v-show="maxWidth700")
        swiper(:options="swiperOptionsTab")
          swiper-slide()
            li.c-item-profile__tabs__item(
              :class="{'is-active': tab=='description'}",
              @click="tab = 'description'")
              |DESCRIPCIÓN
          swiper-slide()
            li.c-item-profile__tabs__item(
              :class="{'is-active': tab=='features'}",
              @click="tab = 'features'")
              |CARACTERÍSTICAS
          swiper-slide()
            li.c-item-profile__tabs__item(
              :class="{'is-active': tab=='aboutCompany'}",
              @click="tab = 'aboutCompany'")
              |SOBRE LA EMPRESA
          swiper-slide()
            li.c-item-profile__tabs__item(
              :class="{'is-active': tab=='information'}",
              @click="tab = 'information'")
              |INFORMACIÓN ADICIONAL

      .u-flex.u-justify-center(v-show="!maxWidth700")
        li.c-item-profile__tabs__item(
          :class="{'is-active': tab=='description'}",
          @click="tab = 'description'")
          |DESCRIPCIÓN
        li.c-item-profile__tabs__item(
          :class="{'is-active': tab=='features'}",
          @click="tab = 'features'")
          |CARACTERÍSTICAS
        li.c-item-profile__tabs__item(
          :class="{'is-active': tab=='aboutCompany'}",
          @click="tab = 'aboutCompany'")
          |SOBRE LA EMPRESA
        li.c-item-profile__tabs__item(
          :class="{'is-active': tab=='information'}",
          @click="tab = 'information'")
          |INFORMACIÓN ADICIONAL

    .c-item-profile__description(
      class="u-pt3",
      v-html="description")
</template>

<script>
  export default {
    data () {
      return {
        tab: 'description',
        description: '',
        maxWidth700: window.innerWidth <= 700,
        swiperOptionsTab: {
          slidesPerView: 3,
          speed: 700
        }
      }
    },

    props: {
      in_data: {
        type: Object,
        default () {
          return {}
        }
      }
    },

    watch: {
      in_data (newVal) {
        this.description = newVal.description
      },
      tab (newVal) {
        switch (newVal) {
          case 'description':
            this.description = this.in_data.description
            break
          case 'features':
            this.description = this.in_data.features
            break
          case 'aboutCompany':
            this.description = this.in_data.aboutCompany
            break
          case 'information':
            this.description = this.in_data.information
        }
      }
    }
  }
</script>
