<template lang="pug">
.MapRegisterScreen
  .c-map-register
    .c-map-register__cover-page
      img(src="/defaults/location2.png")
      .right
        .hashtag #geolocaliza tu negocio
        h3.title Ahora geolocaliza tu negocio en Tacna
        p.subtitle
          |Enccuentra <strong>lo que buscas cerca de ti</strong>

    .c-map-register__section
      .o-container.u-flex.u-items-center(
        style="max-width:1024px")
        div.left
          h3.title Geolocaliza y posiciona tu negocio en <strong>Internet</strong>
          ul
            li.item Mejora tu posicionamiento en Internet, con el servicio gratuito de google maps
            li.item Facilita al máximo la localización de tu negocio
            li.item Haz que te encuentren fácilmente!, optimizado para resultados móviles.
        figure.right
          img(src="/defaults/location.png")

    .c-map-register__form
      .o-container(style="max-width:750px")
        h2.title
          |Solicita <strong>tu registro de geolocalización <span class="u-color-primary">GRATIS!</span></strong>
        .two
          div
            input.u-mt3(v-model="dataJson.nameCompany",
              placeholder="Nombre de tu negocio")
            span.message(
              v-show="validations.nameCompany === false")
              |Por favor complete este campo!

            input.u-mt3(v-model="dataJson.email",
              placeholder="Tu correo electrónico")
            span.message(
              v-show="validations.email === false") Por favor complete este campo!

            select.u-mt3(v-model="province")
              option(:value="false") Provincia
              option(
                v-for="(element, index) in provinces",
                :key="`provinces${index}`",
                :value="element") {{element.name}}
            span.message(
              v-show="validations.provinceId === false") Por favor complete este campo!

            select.u-mt3(v-model="dataJson.activityId")
              option(:value="0") ¿Cuál es la actividad de tu negocio?
              option(
                v-for="(element, index) in activities",
                :key="`activities${index}`",
                :value="element.id") {{element.name}}
            span.message(
              v-show="validations.activityId === false") Por favor complete este campo!

          div
            input.u-mt3(v-model="dataJson.fullname",
              placeholder="Nombres y apellidos")
            span.message(
              v-show="validations.fullname === false") Por favor complete este campo!

            input.u-mt3(v-model="dataJson.whatsapp",
              placeholder="Tu whatsapp o celular")
            span.message(
              v-show="validations.whatsapp === false") Por favor complete este campo!

            select.u-mt3(v-model="dataJson.districtId")
              option(:value="0") Distrito
              option(
                v-for="(element, index) in districts",
                :key="`districts${index}`",
                :value="element.id") {{element.name}}
            span.message(
              v-show="validations.districtId === false") Por favor complete este campo!

            input.u-mt3(v-model="dataJson.address",
              placeholder="Dirección de tu negocio")
            span.message(
              v-show="validations.address === false") Por favor complete este campo!

        textarea.u-mt3(v-model="dataJson.description",
          placeholder="Describe a que se dedica tu negocio, también que productos y servicios ofreces...")
        span.message(
          v-show="validations.description === false") Por favor complete este campo!

        .two.u-mt3.u-items-center
          label(for="attach__image")
            .button.u-width-100
              span Adjuntar imagen
              input(type="file",
                    style="display:none",
                    id="attach__image",
                    v-on:change="onFileChange",
                    accept="image/*")
          div.u-flex.u-mt1.u-align-center
            p.u-mt0.u-mb0(v-show="!imageResource",
              style="opacity:0.6") Sube una imagen de 500 x 500 px del local de tu negocio (Máx. 2MB en .jpg o .png)
            .c-map-register__section.u-pt0.u-pb0(
              v-show="imageResource")
              .left(style="margin-right:0")
                .item(style="margin-top:0")
            p.u-mt0.u-mb0.u-flex.u-items-center(v-show="imageResource",
              style="opacity:0.6") {{imageName}}
        .two
          div
            input.u-mt3(v-model="dataJson.schedule",
              placeholder="Horario de atención")
            span.message(
              v-show="validations.schedule === false") Por favor complete este campo!
          div
            input.u-mt3(v-model="dataJson.website",
              placeholder="Sitio Web")
        button.button.u-mt3(@click="submitForm")
          |REGISTRARME
        p.footer Te llegará un correo de confirmación de tu registro

  subscription()
  app-footer()
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import axios from 'axios'

export default {
  name: 'MapRegisterScreen',
  data () {
    return {
      dataJson: {
        nameCompany: '',
        fullname: '',
        email: '',
        whatsapp: '',
        provinceId: 0,
        districtId: 0,
        activityId: 0,
        address: '',
        description: '',
        image: {
          base64: '',
          extension: ''
        },
        schedule: '',
        website: ''
      },
      validations: {
        nameCompany: undefined,
        fullname: undefined,
        email: undefined,
        whatsapp: undefined,
        provinceId: undefined,
        districtId: undefined,
        activityId: undefined,
        address: undefined,
        description: undefined,
        schedule: undefined
      },
      emailRegex: /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i,
      cellPhoneRegex: /\+?[0-9]+-?\d{8}$/,

      imageExtension: '',
      imageResource: '',
      imageName: '',

      province: false,
      provinces: [],
      districts: [],
      activities: []
    }
  },
  created () {
    this.requestProvinces()
    this.requestActivities()
  },
  watch: {
    province (newVal) {
      this.dataJson.provinceId = newVal.id
      this.dataJson.districtId = 0
      this.districts = newVal.districts
    },
    imageResource (newVal) {
      this.dataJson.image.base64 = newVal
      this.dataJson.image.extension = this.imageExtension
    },
    'dataJson.nameCompany' (newVal) {
      if (newVal.length > 2) {
        this.validations.nameCompany = true
      } else {
        this.validations.nameCompany = false
      }
    },
    'dataJson.fullname' (newVal) {
      if (newVal.length > 2) {
        this.validations.fullname = true
      } else {
        this.validations.fullname = false
      }
    },
    'dataJson.email' (newVal) {
      if (this.emailRegex.test(newVal)) {
        this.validations.email = true
      } else {
        this.validations.email = false
      }
    },
    'dataJson.whatsapp' (newVal) {
      if (this.cellPhoneRegex.test(newVal)) {
        this.validations.whatsapp = true
      } else {
        this.validations.whatsapp = false
      }
    },
    'dataJson.provinceId' (newVal) {
      if (newVal !== 0) {
        this.validations.provinceId = true
      } else {
        this.validations.provinceId = false
      }
    },
    'dataJson.districtId' (newVal) {
      if (newVal !== 0) {
        this.validations.districtId = true
      } else {
        this.validations.districtId = false
      }
    },
    'dataJson.activityId' (newVal) {
      if (newVal !== 0) {
        this.validations.activityId = true
      } else {
        this.validations.activityId = false
      }
    },
    'dataJson.address' (newVal) {
      if (newVal.length > 3) {
        this.validations.address = true
      } else {
        this.validations.address = false
      }
    },
    'dataJson.description' (newVal) {
      if (newVal.length > 3) {
        this.validations.description = true
      } else {
        this.validations.description = false
      }
    },
    'dataJson.schedule' (newVal) {
      if (newVal.length > 3) {
        this.validations.schedule = true
      } else {
        this.validations.schedule = false
      }
    }
  },
  methods: {
    ...mapActions([
    ]),
    onFileChange (e) {
      let files
      files = e.target.files || e.dataTransfer.files
      if (!files.length) { return false }
      files = files[0]

      let tmpFileType = typeFile(files.type)
      if (tmpFileType === 'image') {
        // this.fileType = tmpFileType
        this.imageName = files.name
        this.saveType(files.name)
        this.createImage(files)
      } else {
        window.toastr.warning('Solo se permiten Imagenes', 'COMPROENTACNA')
      }

      function typeFile (varType) {
        let posicion = varType.lastIndexOf('/')
        let whatType = varType.substr(0, posicion)

        if (whatType === 'image') {
          return whatType
        } else {
          return 'unknown'
        }
      }
    },
    saveType (name) {
      let posicion = name.lastIndexOf('.')
      let ancho = name.length
      this.imageExtension = name.substr(posicion + 1, ancho)
    },
    createImage (file) {
      let reader = new window.FileReader()
      let vm = this

      reader.onload = function (e) {
        vm.imageResource = e.target.result
      }
      reader.readAsDataURL(file)
    },
    submitForm () {
      if (this.dataJson.nameCompany.length > 2) {
        if (this.dataJson.fullname.length > 2) {
          if (this.emailRegex.test(this.dataJson.email)) {
            if (this.cellPhoneRegex.test(this.dataJson.whatsapp)) {
              if (this.dataJson.provinceId !== 0) {
                if (this.dataJson.districtId !== 0) {
                  if (this.dataJson.activityId) {
                    if (this.dataJson.address.length > 3) {
                      if (this.dataJson.description.length > 3) {
                        if (this.dataJson.schedule.length > 3) {
                          this.postRegister()
                        } else {
                          this.validations.schedule = false
                        }
                      } else {
                        this.validations.description = false
                      }
                    } else {
                      this.validations.address = false
                    }
                  } else {
                    this.validations.activityId = false
                  }
                } else {
                  this.validations.districtId = false
                }
              } else {
                this.validations.provinceId = false
              }
            } else {
              this.validations.whatsapp = false
            }
          } else {
            this.validations.email = false
          }
        } else {
          this.validations.fullname = false
        }
      } else {
        this.validations.nameCompany = false
      }
    },
    requestProvinces () {
      axios({
        method: 'get',
        url: `${window.API_URL}/provinces`,
        headers: {'Content-Type': 'application/json'},
        data: {}
      })
      .then(({data}) => {
        this.provinces = data.data
      })
    },
    requestActivities () {
      axios({
        method: 'get',
        url: `${window.API_URL}/activities`,
        headers: {'Content-Type': 'application/json'},
        data: {}
      })
      .then(({data}) => {
        this.activities = data.data
      })
    },
    postRegister () {
      window.toastr.warning('Enviando tus datos', 'COMPROENTACNA')
      axios({
        method: 'post',
        url: `${window.API_URL}/geolocation-register`,
        headers: {'Content-Type': 'application/json'},
        data: this.dataJson
      })
        .then(() => {
          window.toastr.success('Registro completo', 'COMPROENTACNA')
          this.dataJson = {
            nameCompany: '',
            fullname: '',
            email: '',
            whatsapp: '',
            provinceId: 0,
            districtId: 0,
            activityId: 0,
            address: '',
            description: '',
            image: {
              base64: '',
              extension: ''
            },
            schedule: '',
            website: ''
          }
          this.$router.push({
            name: 'MapWelcome'
          })
        })
    }
  },

  computed: {
    ...mapGetters([
    ])
  }
}
</script>
