<template lang="pug">
  .OrderLists
    panel-grid()
      div.u-width-100.u-height-100(slot="column-one")
        h2.c-panel-grid__title.u-mb4
          |Mi guía de compras

        .c-order-lists.u-mt3(
          v-for="(element, index) in dataList",
          :key="`OrderLists${index}`")
          div
            span.c-order-lists__header Guía
            h2.c-order-lists__title
              |Nro. {{index+1 < 9 ? '0'+(index+1) : index+1}}
            a.c-order-lists__link(
              :href="`/listas/${element.uuid}`",
              @click.prevent="$router.push({name:'Lists', params:{listCode: element.uuid}})")
              span Ver guía
              i.u-icon.u-icon--right
          div
            span.c-order-lists__header Productos
            h2.c-order-lists__title {{element.items}}
          div.u-flex.u-flex-column.u-height-100
            span.c-order-lists__header Tiendas
            .c-order-lists__list
              a(:href="`/tiendas/${ele.slug}`",
              @click.prevent="$router.push({name:'ShopProfile', params:{shopSlug: ele.slug}})",
              v-for="(ele, indx) in element.stores",
              :key="`c-order-lists__list${indx}`")
                |{{ele.name}}
</template>

<script>
  import { mapGetters } from 'vuex'
  import axios from 'axios'

  export default {
    name: 'OrderLists',
    data () {
      return {
        dataList: []
      }
    },
    mounted () {
      this.requestList()
    },
    methods: {
      requestList () {
        axios({
          method: 'get',
          url: `${window.API_URL}/profile/lists`,
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${this.accessToken}`
          }
        })
        .then(({ data }) => {
          this.dataList = data.data
        })
      }
    },
    computed: {
      ...mapGetters([
        'accessToken'
      ])
    }
  }
</script>

<style lang="stylus">
  .OrderLists
    .c-panel-grid__column-one
      width: 100%
      margin: 0
      & > *
        padding: 2.5rem 3rem
</style>
