.c-item-profile

  &__images
    display: flex
    & > *:nth-child(1)
      margin-right: 1rem

  &__array-images
    margin: -2px 0 0 0
    & > *
      margin-top: 0.5rem
    & > *:nth-child(1)
      margin-top: 0
    .figure
      align-items: center
      border: 2px solid transparent
      cursor: pointer
      display: flex
      height: 60px
      justify-content: center
      overflow: hidden
      transition: border 0.4s ease
      width: 50px
      &:hover
        border: 2px solid $color-primary
      img
        height: auto
        width: 100%

  &__main-photo
    align-items: center
    background-color: #fff
    cursor: zoom-in
    display: flex
    height: 500px
    justify-content: center
    overflow: hidden
    width: 575px
    img
      display: block
      height: auto
      width: 100%
    @media (max-width: 1100px) {
      height: 400px
      width: 100%
    }



  .c-item-profile__tab-sections
    margin: 0 auto
    max-width: 800px
    padding: 3rem 0
  .c-item-profile__tabs
    border-bottom: 1px solid #ddd
    border-top: 1px solid #ddd
    margin: 0
    .c-item-profile__tabs__item
      border-bottom: 2px solid transparent
      cursor: pointer
      font-size: 0.9rem
      font-weight: 600
      padding: 1rem 1rem
      transition: 0.5s ease border-bottom
      &.is-active
        border-bottom: 2px solid $color-primary

  .c-item-profile__description
    opacity: 0.7

  .c-item-profile__profile
    display: flex
    @media (max-width: 1100px)
      flex-direction: column


  .c-item-profile__data
    background-color: #fff
    padding: 1.5rem 2rem
    margin-left: 1.5rem
    width: 100%
    &__company
      color: $color-primary;
      display: inline-block;
      margin-left: 0.2rem;
    &__company:hover
      text-decoration: underline;
    @media (max-width: 1100px)
      margin-left: 0
      margin-top: 1.5rem

  .c-item-profile__title
    margin: 0
  .c-item-profile__subtitle
    font-size: 0.9rem
    font-weight: 300
    margin: 0
    color: #aaa
    span
      color: $color-primary

  .c-item-profile__hr
    border-bottom: 1px solid #ddd
    width: 100%
    padding-top: 0.5rem
    margin-bottom: 0.5rem

  .c-item-profile__shareds
    text-align: center;
    font-size: 0.9rem
    color: #666
    margin-top: 1.5rem
    .u-icon
      border-radius: 50%
      height: 1.85rem
      width: 1.85rem
      display: flex;
      justify-content: center;
      align-items center
      margin: 0 0.25rem
      color: #fff
      cursor: pointer;
      font-size: 1rem
      padding-top: 1px
    .u-icon--facebook
      background-color: #2B5998
    .u-icon--twitter
      background-color: #4099FF
    .u-icon--google-plus
      background-color: #DD4C3B
      font-size: 1.1rem
    .u-icon--whatsapp
      background-image: url('http://icons.illustrake.com/wp-content/uploads/2016/08/whatsapp-circle-logo-vector.png')
      background-size: 115% auto;
      background-position: center;
