.c-item-detail {
  display: flex;
  height: 100%;
  height: 568px;
  width: calc(80vw - 5rem);
  @media screen and (max-width: 650px) {
    height: 96vh;
    width: 93vw;
  }

  &__close {
    color: rgba($color-secondary, .8);
    font-size: 1.2rem;
    font-weight: 800;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
    z-index: 2;

    i {
      cursor: pointer;
    }
  }

  &__image {
    flex: 1;
    height: 100%;
    width: 40%;
    @media (max-width: 1100px) {
      width: initial;
    }
  }

  .color-item {
    border-radius: 50%;
    border: 1px dashed rgba(black, .2);
    line-height: 1;
    margin-right: .5rem;
    padding: 3px;
    button {
      border-radius: 50%;
      border: 1px solid rgba($color-secondary, .2);
      color: transparent !important;
      display: block;
      height: 22px;
      width: 22px;
    }
    &.is-active {
      border: 2px dashed $color-primary3;
    }
  }


  .size-item {
    margin-right: .7rem;
    button {
      border-radius: 4px;
      color: $color-tertiary;
      height: 30px;
      text-align: center;
      width: 40px;
    }
    &.is-active {
      button {
        border: 2px solid $color-primary3;
      }
    }
  }

  .brand-item {
    margin-right: .7rem;
    button {
      border-radius: 4px;
      color: $color-tertiary;
      font-family: 'Aladin', cursive;
      height: 40px;
      text-align: center;
    }
    &.is-active {
      button {
        border: 2px solid $color-primary3;
      }
    }
  }


  &__info {
    flex: 1;
    &__company {
      color: $color-primary;
      display: inline-block;
      margin-left: 0.2rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__next,
  &__previus {
    position: fixed;
    top: 50%;
    z-index: 3;
    @media screen and (max-width: 650px) {
      display: none;
    }
  }

  &__next {
    right: 1.5rem;
  }

  &__previus {
    left: 1.5rem;
  }

  .btnAdd {
    font-size: 1.5rem;

    @media (max-width: 800px) {
      font-size: 1.5rem;
    }
    @media (max-width: 600px) {
      font-size: 1rem;
    }
  }
}



.c-item-detail {
  // @media screen and (max-width: 1282px) {
  @media screen and (max-width: 1100px) {
    flex-direction: column;

    .c-item-detail__info {
      flex: none;
      padding-top: 4rem;
      margin: 0 auto;
      max-width: 38rem;
      width: 100%;
    }

    .c-item-detail__close {
      color: rgba($color-primary, .8);
    }

    .u-scroll-light {
      height: initial !important;
      margin-bottom: 2rem;
    }
  }
}
