.c-item {
  background-color: #fff;
  border-radius: $border-radius;
  cursor: pointer;
  // overflow: hidden;
  position: relative;
  width: 100%;
  // border: 2px solid rgba(#000, 0.04);
  // border: 2px solid rgba(#fff,1);
  &__content {
    transition: all 0.4s ease;
  }

  &:hover{
    // border: 2px solid rgba($color-primary, 0.8);
    .c-item__content {
      box-shadow: 3px 3px 10px rgba(#000, 0.25);
      transform: scale(1.03);
    }
    .c-item__promotion {
      transform: translateX(3px);
    }
  }
}

  .c-item__promotion {
    position: absolute;
    right: 0;
    top: 16px;
    z-index: 2;
    transition: 0.4s ease transform;

    &::before {
      content: '';
      height: 0;
      // right: calc(100% - 2px);
      right: 100%;
      display: block;
      position: absolute;
      top: 0;
      border-right: 7px solid $color-primary;
      border-top: 14px solid transparent;
      border-bottom: 14px solid transparent;
    }

    &__text {
      // border-top-left-radius: 4px;
      // border-bottom-left-radius: 4px;
      align-items: center;
      background-color: $color-primary;
      color: #fff;
      display: flex;
      font-size: 11px;
      font-weight: 600;
      height: 28px;
      justify-content: center;
      padding: 0 8px;
      position: relative;
      z-index: 2;
    }
  }

  .c-item__figure {
    margin: 0;
    overflow: hidden;
    padding-top: 70.5%;
    position: relative;
    width: 100%;
    // background-color: #ddd;

    & > *{
      left: 50%;
      position:absolute !important;
      top: 0;
      transform: translateX(-50%);
      height: 100%;
    }
    .progressive-image {
      width: 100%;
      .progressive-image-wrapper {
        padding-bottom: 0 !important;
        height: 100%;
        img {
          height: 100%;
          width: auto;
          display: block;
          position: static;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }

  .c-item__title {
    padding: 0.8rem;
    border-top: 1px solid #eee;

    &__name {
      color: #333;
      font-size: 14px;
      font-weight: 700;
      line-height: 1rem;
      margin: 0;
      text-transform: uppercase;
    }

    &__company {
      color: $color-secondary;
      font-size: 13px;
      font-weight: 300;
      margin: 0;
      opacity: 0.7;
    }
  }
