<template lang="pug">
  .c-attributes.u-flex-1.u-scroll-light
    div(v-for="(element, index) in printItem.attributes")
      label(class="u-uppercase u-fz-h4 u-tertiary")
        |{{ element.title }}

      ul(class='u-flex u-wrap u-mt2 u-mb3')

        li(v-for="option in element.options",
        :class="{'color-item': element.format===1, 'size-item': element.format===2, 'brand-item': element.format===3, 'is-active': attrSelected[index]===option.id}")

          button(v-if="element.format===1",
                @click="update_attr_selected(element, option)",
                :style="{backgroundColor: option.value, color: option.value}")
            |{{option.value}}
          button(v-if="element.format!==1",
                @click="update_attr_selected(element, option)")
            |{{option.value}}
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'attributes',
    props: {
      out_attr: {
        type: Array,
        default () {
          return []
        }
      },
      update_out_attr: {
        type: Function
      },
      modalStatus: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        attrSelected: [],
        cantAttributes: 1
      }
    },
    // mounted () {
    //   if (this.attrSelected[0] !== undefined) {
    //     if (this.prevPath === '/') {
    //       this.loadInventory({
    //         idItem: window.itemId,
    //         attrSelected: this.attrSelected
    //       })
    //     } else {
    //       this.loadInventory({
    //         idItem: this.idItem,
    //         attrSelected: this.attrSelected
    //       })
    //     }
    //   }
    // },
    watch: {
      printItem () {
        this.init_attr_selected()
      },
      modalStatus (newVal) {
        if (!newVal) {
          this.attrSelected = []
          this.cantAttributes = 1
        }
      },
      attrSelected (newVal) {
        this.fillPhotosItemDetails([{url: ''}])
        this.loadInventory({
          idItem: this.itemDetailId,
          attrSelected: this.attrSelected
        })
      },
      cantAttributes (newVal) {
        if (newVal >= this.printItem.attributes.length) {
          this.fillPhotosItemDetails([{url: ''}])
          this.loadInventory({
            idItem: this.itemDetailId,
            attrSelected: this.attrSelected
          })
        }
      }
      // printAttributes (newVal) {
      //   if (this.attrSelected.length > 0) {
      //     this.update_attr_selected(newVal[this.attrSelected.length - 1], newVal[this.attrSelected.length - 1].options[0])
      //   }
      // }
    },
    methods: {
      ...mapActions([
        'loadInventory',
        'updateAttributes',
        'fillPhotosItemDetails'
      ]),
      init_attr_selected () {
        for (var i = 0; i < this.printItem.attributes.length; i++) {
          this.attrSelected[i] = this.printAttributes[i].options[0].id
          this.cantAttributes += 1
        }

        let outTmp = this.out_attr
        for (var j = 0; j < this.printItem.attributes.length; j++) {
          outTmp[j] = {
            'title': this.printItem.attributes[j].title,
            'type': this.printItem.attributes[j].type,
            'option': this.printItem.attributes[j].options.find(op => op.id === this.attrSelected[j])
          }
        }
        this.update_out_attr(outTmp)
      },
      update_attr_selected (Attr, option) {
        let n = 0
        let url = ''

        for (var i = 0; i < this.printItem.attributes.length; i++) {
          if (this.printItem.attributes[i].type === Attr.type) {
            n = i
            break
          }
        }

        let tmp = this.attrSelected
        tmp[n] = option.id
        this.attrSelected = []
        this.attrSelected = tmp

        for (var y = 0; y < this.printItem.attributes.length; y++) {
          url += 'optionId[' + y + ']=' + this.attrSelected[y]
          if (this.printItem.attributes[y].type === Attr.type) {
            break
          }
          url += '&'
        }

        let outTmp = this.out_attr
        for (var j = 0; j < this.printItem.attributes.length; j++) {
          outTmp[j] = {
            'title': this.printItem.attributes[j].title,
            'type': this.printItem.attributes[j].type,
            'option': this.printItem.attributes[j].options.find(op => op.id === this.attrSelected[j])
          }
        }
        this.update_out_attr(outTmp)

        if (n !== (this.printItem.attributes.length - 1)) {
          this.updateAttributes(url)
        }
      }
    },
    computed: {
      ...mapGetters([
        'printItem',
        'itemDetailId',
        'printAttributes',
        'prevPath',
        'initialCompletion'
      ])
    }
  }
</script>
