<template lang="pug">
  .c-gallery
    .buttons
      figure(v-for="(element, index) in itemDetailimages",
            :key="`gallery${index}`",
            @click="update_index(index)")
        img(v-bind:src="element.urlThumb")

    figure.figure
      img(v-show="imgUrl", :src="imgUrl")
      loading(v-show="!imgUrl")
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'gallery',
    props: {
      modal_status: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        imgUrl: '',
        index: 0
      }
    },
    watch: {
      itemDetailimages (newVal) {
        this.udpate_img(this.index)
      },
      index (newVal) {
        this.imgUrl = ''
        setTimeout(() => {
          this.udpate_img(newVal)
        }, 300)
      },
      modal_status (newVal) {
        if (!newVal) {
          this.imgUrl = ''
        }
      }
    },
    methods: {
      udpate_img (index) {
        if (this.itemDetailimages[index]) {
          this.imgUrl = this.itemDetailimages[index].url
        } else {
          this.index = 0
        }
      },
      update_index (index) {
        this.index = index
      }
    },
    computed: {
      ...mapGetters([ 'itemDetailimages' ])
    }
  }
</script>
