<template lang="pug">
  transition(name="modal")
    .c-modal(v-show="modalItemDetail")
      .c-modal__container(@click="hiddenItemDetail")
      .c-modal__content.u-scroll-light()

        .c-item-detail
          .c-item-detail__previus(
            v-show="enablePreviusItem",
            @click="previousItem")
            btn(:selectbutton="3", :disable="enablePreviusItem")
          .c-item-detail__next(
            v-show="enableNextItem",
            @click="nextItem")
            btn(:selectbutton="4", :disable="enableNextItem")

          .c-item-detail__close(@click="hiddenItemDetail")
            i(class="u-icon") close

          .c-item-detail__image
            gallery-component(
              :modal_status="modalItemDetail")

          .c-item-detail__info.u-flex-column.u-px4.u-py4
            h1(class='u-primary u-line u-mt0 u-mb0 u-uppcercase')
              |{{ printItem.name }}

            //- span(class="u-capitalize u-secondary u-light u-opacity-0-8")
            //-   |{{ printItem.companyName }}

            p.u-mb1.u-clr-secondary(style="font-size:0.9rem")
              |Publicado por
              //- a.u-clr-primary.u-ml1(href="#")
              a.c-item-detail__info__company(
                :href="`/${printItem.companySlug}`",
                @click.prevent="$router.push({name:'ShopProfile', params: {shopSlug: printItem.companySlug}})")
                |{{printItem.companyName}}

            //- p(class='u-secondary u-light')
            //-   |{{ printItem.description }}

            div.u-mb3
              a(
                class="u-my0 u-py2 u-clr-tertiary",
                style="font-size:0.9rem;border-bottom:1px dotted #aaa;display:inline-block",
                :href="'/productos/' + printItem.slug",
                @click.prevent="to_item_profile")
                |Ver más detalles
                i.u-icon right

            attributes-component(
              v-show="printAttributes.length > 0",
              :out_attr="out_attr",
              :modalStatus="modalItemDetail",
              :update_out_attr="update_out_attr")

            price-total-component(
              style="margin-top: auto;",
              :out_attr="out_attr")
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  // --- COMPONENTS ---
  import AttributesComponent from './Attributes.vue'
  import PriceTotalComponent from './PriceTotal.vue'
  import GalleryComponent from './Gallery.vue'

  // --- CODE ----
  export default {
    components: {
      AttributesComponent,
      PriceTotalComponent,
      GalleryComponent
    },
    data () {
      return {
        out_attr: []
      }
    },
    watch: {
      modalItemDetail (newVal) {
        if (newVal) {
          this.loadItemDetails()
        }
      },
      itemDetailId (newVal) {
        // this.loadItemDetails()
        this.updateActionsItem()
      }
    },
    methods: {
      ...mapActions([
        'loadItemDetails',
        'nextIdItem',
        'previousIdItem',
        'hiddenItemDetail',
        'updateActionsItem'
      ]),
      nextItem () {
        this.nextIdItem()
      },
      previousItem () {
        this.previousIdItem()
      },
      update_out_attr (tmp) {
        this.out_attr = tmp
      },
      update_attr_selected () {},
      to_item_profile () {
        this.hiddenItemDetail()
        this.$router.push({
          name: 'Products',
          params: { productSlug: this.printItem.slug }
        })
      }
    },
    computed: {
      ...mapGetters([
        'enableNextItem',
        'enablePreviusItem',
        'itemDetailId',
        'itemDetailSlug',
        'modalItemDetail',
        'printAttributes',
        'printItem'
      ])
    }
  }
</script>
