<template lang="pug">
  div
    .u-flex.u-justify-between
      div(class='u-mb3')
        label.u-uppercase.u-fz-h3.u-tertiary cantidad
        input-number(
          class='u-fz-h3',
          :on-change="update_quantity",
          :quantity="quantity")

      div(class='u-flex-column u-items-end')
        label(class="u-uppercase u-fz-h3 u-tertiary") precio unit.
        price(:in_price="subtotal", :in_addclass="['gray', 'normal', 'miniSymbol']")


    div(class='u-flex u-justify-between u-items-center')
      //- div(class='u-mb2')
      //-   label(class="u-uppercase u-fz-h3 u-tertiary") total
      //-   price(:in_price="total", :in_addclass="['noneCode', 'miniSymbol', 'big']")

      div
        button(@click="to_order(parseInt(quantity), priceId)", class='c-btn u-fz-h1 u-py2 u-flex u-items-center btnAdd')
          //- i(class='icomoon') cart
          | PEDIR
        a(
          class="u-my0 u-py2 u-clr-tertiary",
          style="font-size:0.9rem;border-bottom:1px dotted #aaa;display:inline-block",
          href="/order",
          @click.prevent="add_to_cart(parseInt(quantity), priceId)")
          |Agregar a la lista
          i.u-icon right
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'price-total',
    props: {
      out_attr: {
        type: Array,
        default () {
          return []
        }
      }
    },
    data () {
      return {
        quantity: 1,
        priceId: 1,
        subtotal: {
          currencyId: 1,
          value: '00.00'
        },
        total: {
          currencyId: 1,
          value: '00.00'
        }
      }
    },
    watch: {
      quantity (newVal) {
        this.update_price()
      },
      prices (newVal) {
        this.update_price()
      },
      modalItemDetail (newVal) {
        if (!newVal) {
          this.quantity = 1
        }
      }
    },
    methods: {
      ...mapActions([
        'addToCart',
        'hiddenItemDetail',
        'hiddenItemDetail',
        'enableShoppingCart'
      ]),
      update_price () {
        for (var i = 0; i < this.prices.length; i++) {
          if (parseInt(this.prices[i].purchaseVolumen) <= parseInt(this.quantity)) {
            this.subtotal = {
              'currencyId': this.prices[i].currencyId,
              'value': this.prices[i].value
            }
            this.total = {
              'currencyId': this.prices[i].currencyId,
              'value': this.prices[i].value * this.quantity
            }
            this.priceId = this.prices[i].id
          }
        }
      },
      add_cart () {
        this.hiddenItemDetail()

        let itemCart = {
          product: {
            companyName: this.printItem.companyName,
            id: this.itemDetailId,
            imgURL: this.inventory.photos[0].urlThumb,
            name: this.printItem.name
          },
          feature: [
            {
              attributes: this.out_attr,
              inventory: {
                companyId: parseInt(this.printItem.companyId),
                inventoryId: this.inventory.id,
                priceId: this.priceId,
                quantity: parseInt(this.quantity)
              },
              price: {
                currencyId: this.subtotal.currencyId,
                value: parseFloat(this.subtotal.value)
              }
            }
          ]
        }
        this.addToCart(itemCart)
      },
      add_to_cart (qua, pri) {
        this.add_cart(qua, pri)
        this.enableShoppingCart()
      },
      to_order (qua, pri) {
        this.add_cart(qua, pri)
        this.$router.push({name: 'Order'})
      },
      update_quantity (tmp) {
        this.quantity = tmp
      }
    },
    computed: {
      ...mapGetters([
        'inventory',
        'itemDetailId',
        'modalItemDetail',
        'prevPath',
        'prices',
        'printItem'
      ])
    }
  }
</script>
