<template lang="pug">
  transition(name="modal")
    .ModalDescription.c-modal(v-show="value")
      .c-modal__container(@click="$emit('input', false)")
      .c-modal__content.o-modal-cart__content(
        style="width:100;max-width:700px;")
        .u-scroll-light.u-flex.u-p4
          div.u-width-100.u-mr3
            h2.u-mb0(style="line-height:1") {{title}}
            span(style="color:#888;font-size:0.9rem")
              |{{companyName}}
            p()
              |{{description}}
          div.u-ml3(style="width:275px;flex:none")
            h5 REALIZA TU CONSULTA
            input.u-mt2(v-model="dataJson.whatsapp",
              type="text",
              placeholder="Tu celular")
            textarea.u-mt2(v-model="dataJson.message",
              style="height:5rem",
              placeholder="¿Deseas escribir algún mensaje?")
            button.u-mt1(class="c-btn u-fz-h3 u-width-100 u-py2 u-flex u-justify-center u-items-center btnAdd")
              |ENVIAR
</template>

<script>
  import axios from 'axios'
  import { mapGetters } from 'vuex'
  export default {
    props: {
      value: {
        type: Boolean,
        default: true
      },
      title: {
        type: String,
        default: 'Servicios de costura en Presa'
      },
      companyName: {
        type: String,
        default: ''
      },
      description: {
        type: String,
        default: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat'
      },
      id: {
        type: Number,
        default: 0
      }
    },
    data () {
      return {
        dataJson: {
          whatsapp: '',
          message: ''
        }
      }
    },
    watch: {
      userData (newVal) {
        this.dataJson.whatsapp = newVal.whatsapp
      }
    },
    computed: {
      ...mapGetters([ 'accessToken', 'userData' ])
    },
    methods: {
      postQuote () {
        window.toastr.warning('Tu consulta se esta procesando, espere un momento', 'COMPROENTACNA')
        this.$emit('input', false)
        axios({
          method: 'post',
          url: `${window.API_URL}/quote`,
          headers: {
            'Content-Type': 'application/json',
            'Authorization': `Bearer ${this.accessToken}`
          },
          data: {
            ...this.dataJson,
            id: this.id
          }
        })
          .then(() => {
            window.toastr.success('Consulta enviada', 'COMPROENTACNA')
          })
      }
    }
  }
</script>

<style lang="stylus" scope>
  .ModalDescription
    input, textarea
      width: 100%
      text-align: center;
      border: 1px solid #eee
      background-color: #eee
      outline: none
      border-radius: 1rem
      padding: 0.5rem 1rem
      font-size: 0.9rem
      &:focus
        background-color: #fff
</style>
