<template lang="pug">
.ServicesDefault.c-shop-profile.u-pt5.u-pb4.o-container
  .c-shop-profile__wrapper
    .c-shop-profile__services()
      h3.c-shop-profile__title(style="font-size:2rem")
        span.u-color-primary Servicios&#32
        |del MALL DIGITAL
      ul.list
        li.item(v-for="(element, index) in dataJson",
          :key="`Services${index}`")
          figure
            img(:src="element.imageUrl")
          div.content
            h3.u-mt0.u-mb0 {{element.name}}
            span.company {{element.companyName}}
            p.u-pt1.u-mt0.u-mb0 {{element.summary}}
          div.price
            price.u-mb2(
              v-if="element.price",
              :in_price="element.price",
              :in_addclass="['code-none', 'blue']")
            button.c-btn.u-flex(
              @click="openModal(index)",
              style="align-items:flex-end")
              span(style="font-size:0.9rem") Consultar
              i.u-icon.u-ml1(style="font-size:0.5rem") right


  .c-shop-profile__aside
    .c-blog__subscription
      h3.c-blog__subscription__title
        |Suscríbete y recibe descuentos exclusivos.
      input.c-blog__subscription__input(
        type="text",
        v-model="formJson.name",
        placeholder="Tu nombre")
      input.c-blog__subscription__input(
        type="text",
        v-model="formJson.email",
        placeholder="Tu correo electrónico")
      button.c-blog__subscription__submit(
        @click="submitSubscription",
        type="button")
        |Suscribirme
      p.c-blog__subscription__footer
        |Te puedes dar de baja en cualquier momento
    .c-shop-profile__news.u-mt4
      h3.c-shop-profile__title
        |Últimas publicaciones
      a.notice(v-for="(element, index) in news",
        :key="`news${index}`",
        :href="`/blog/${element.slug}`")
        figure.image
          img(:src="element.imageUrlThumb")
        .u-flex.u-flex-column.u-justify-center
          h3.title {{element.title}}
          p.date {{element.date}}

  modal-description(v-model="modal",
    :title="title",
    :description="description",
    :company-name="companyName",
    :id="id")
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import axios from 'axios'
  import ModalDescription from './ModalDescription'

  export default {
    name: 'ServicesDefault',
    components: { ModalDescription },
    data () {
      return {
        formJson: { name: '', email: '' },
        dataJson: [],
        news: [],
        modal: false,

        title: '',
        companyName: '',
        description: '',
        id: 0
      }
    },
    created () {
      this.requestServices()
      this.requestNews()
    },
    methods: {
      ...mapActions([
      ]),
      requestServices () {
        axios({
          method: 'get',
          url: `${window.API_URL}/services`,
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.dataJson = data.data
        })
      },
      requestNews () {
        axios({
          method: 'get',
          url: `${window.API_URL}/news?max_elements=3`,
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.news = data.data
        })
      },
      submitSubscription () {
        if (this.formJson.name) {
          if (this.formJson.email) {
            this.postSubscription()
          } else {
            window.toastr.warning('Ingrese su email para continuar con la suscripción', 'COMPROENTACNA')
          }
        } else {
          window.toastr.warning('Ingrese su nombre para continuar con la suscripción', 'COMPROENTACNA')
        }
      },
      openModal (indx) {
        if (this.tokenState) {
          this.title = this.dataJson[indx].title
          this.description = this.dataJson[indx].description
          this.companyName = this.dataJson[indx].companyName
          this.id = this.dataJson[indx].id || 0
          this.modal = true
        } else {
          this.$router.push({name: 'LogIn'})
        }
      }
    },

    computed: {
      ...mapGetters([ 'tokenState' ])
    }
  }
</script>
