<template lang="pug">
  .ServiceProfileScreen.u-pt5.u-pb4.o-container
    h2.u-mt0.u-mb0 Service Profile
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  // import axios from 'axios'

  export default {
    name: 'ServiceProfileScreen',
    data () {
      return {
      }
    },

    methods: {
      ...mapActions([
      ])
    },

    computed: {
      ...mapGetters([
      ])
    }
  }
</script>
