.c-shop-profile
  display: flex;
  margin-right: 1rem
  @media(max-width: 1024px)
    flex-direction: column;
  &__wrapper
    width: 100%
    margin-right: 2rem
  &__title
    border-bottom: 1px solid #bbb
    font-size: 0.9rem
    margin-top: 0
    padding-bottom: 1rem
  &__company
    display: flex;
    figure
      border 3px solid #ddd
      height: 16rem
      width: 15rem
      flex: none
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      margin-right: 2rem
      img
        width: 100%
        height: auto;
    .title
      width: 100%
      line-height: 1
    .description
      width: 100%
    .info
      display: flex;
    @media (max-width: 700px)
      flex-direction: column;
      margin-bottom: 4rem
      align-items: center;
      text-align: center;
      figure
        height: 10rem
        width: 10rem
        border-radius: 50%
        overflow: hidden;
        border-width: 10px
      .title
        margin-top: 0.5rem
      .info
        margin: 0.5rem 0 0 0
        justify-content: center;
        flex-wrap: wrap;
        line-height: 1;
  &__services
    .list
      & > *
        margin-top: 0.5rem
      & > *::nth-child(1)
        margin-top: 0
    .item
      padding: 1rem 1.2rem
      background-color: #eee
      display: flex;
      align-items: center;
      figure
        height: 5rem
        width: 5rem
        flex: none
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        margin-right: 1rem
        background-color: #fff
        border-radius: 5px
        overflow: hidden;
        img
          width: auto;
          height: 100%;
    .content
      font-size: 0.85rem
      margin-right: auto;
      & > *
        margin: 0
        opacity: 0.75
    .company
      font-size: 0.8rem
      color: #666
    .price
      color: $color-primary3
      font-size: 1.1rem
      font-weight: 700
      a
        color: $color-primary
        font-size: 0.8rem
        font-weight: 600
        padding-top: 0.3rem
        text-align: right;
      i
        margin-right: 0
  &__items
    .list
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      & > *
        width: 250px
        flex none
        padding: 0.5rem 0
  &__aside
    width: 320px
    flex: none
    @media(max-width: 1024px)
      width: 100%
      max-width: 500px
      margin: 3rem auto 0 auto;
  &__news
    .notice
      display: flex;
      margin-top: 1.25rem
    .notice:nth-child(1)
      margin-top: 0
    .image
      display: flex;
      justify-content: center;
      align-items: center;
      width: 5rem
      height: 5rem
      overflow: hidden;
      flex: none
      margin-right: 1rem
      img
        height: 100%
        width: auto;
    .title
      font-size: 0.9rem
      line-height: 1
      margin: 0
      opacity: 0.8
    .date
      font-size: 0.9rem
      opacity: 0.5
      margin: 0.25rem 0 0 0
  &__adverts
    .item
      width: 100%
      display: block;
      img
        display: block;
        width: 100%
        height: auto;

  // @media (max-width: 1024px)
  //
