.c-shops
  &__up
    display: flex
    margin-bottom: 2rem
    align-items: center;
  &__title
    font-size: 1.1rem
    margin: 0 auto 0 0
  &__search
    background-color: $color-background
    border 1px solid #ddd
    border-radius: 5px
    color: #444
    font-size: 0.9rem
    margin-right: 1rem
    padding: 0.4rem 1rem
    height: 40px
  &__multiselect
    max-width: 12rem
  &__default
    text-decoration: underline;
    margin-left: 0.75rem
    cursor: pointer;
    font-size: 0.9rem
  &__list
    margin: 0
  &__item
    border: 1px solid #eee
    cursor: pointer;
    &__image
      align-items: center;
      background-color: #fff
      display: flex;
      height: 200px
      justify-content: center;
      margin: 0 auto;
      max-width: 12rem;
      overflow: hidden;
      width: 100%
      img
        width: 100%
        height: auto;
    &__title
      align-items: center;
      background: $color-primary3
      color: #fff
      display: flex;
      font-size: 0.9rem
      height: 2.75rem
      justify-content: center;
      line-height: 1
      margin: 0
      padding-left: 0.5rem
      padding-right: 0.5rem
      transition: 0.4s ease background
      width: 100%
    &:hover
      .c-shops__item__title
        background: $color-primary

  @media (max-width: 800px)
    &__up
      flex-wrap: wrap;
    &__title
      width: 100%
      margin-bottom: 0.75rem
