.c-shopping-list
  padding-left: 1.5rem
  padding-right: 1.5rem

  &__title,
  &__list
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px
  &__title
    color: $color-primary3
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem
    padding-top: 1.5rem
    @media (max-width: 650px)
      flex-direction: column;
  .hr
    border-top: 1px dashed #ccc
  &__name
    line-height: 1
    & > *
      margin: 0
    .name
      font-size: 2rem
    .pharse
      font-size: 1.4rem
      font-weight: 500
    @media (max-width: 750px)
      .name
        font-size: 1.5rem
      .pharse
        font-size: 1rem
  &__code
    color: #777
    & > *
      font-size: 1.2rem
      font-style: italic;
      font-weight: 600
      margin: 0
      text-align: right
      @media (max-width: 750px)
        font-size: 1rem
    @media (max-width: 650px)
      margin-top: 1rem
      & > *
        text-align: left;
  &__list
    padding-top: 2rem
    overflow: auto;
    & > *
      min-width: 519px
  &__item
    border-top: 1px solid #eee
    color: #777
    cursor: pointer;
    display: flex;
    padding: 1rem 1rem
    & > *
      display: flex;
      flex-direction: column;
      font-size: 1.1rem
      font-weight: 600
      min-width: 6rem
      text-align: right;
      @media (max-width: 750px)
        font-size: 1rem
        min-width: 5rem
    & > *:nth-child(1)
      width: 100%
      text-align: left;
    &--title
      border-top: none
      color: $color-primary
      padding: 0 1rem 1rem 1rem
    &.is-active
      background-color: #eee
      border-bottom: 1px solid #ddd
      border-top: 1px solid #ddd

  &__company
    background-color: #eee
    max-height: 0
    overflow: hidden;
    transition: max-height 0.5s ease
    & > *
      padding: 1.5rem 3rem
    &__map
      img
        display: block;
        height: auto;
        margin-left: auto;
        max-width: 300px
        width: 100%
    &.is-displayed
      max-height: 250px
    @media (max-width: 750px)
      & > *
        font-size: 0.9rem
        padding: 1.5rem 2rem
      .address
        color: $color-primary3
        cursor: pointer;
        &:hover
          text-decoration: underline;
      &__map
        display: none
