.c-shopping-cart

  &__background,
  &__wrapper
    position: fixed;
    top: 0;
    z-index: 99;

  &__background
    background-color: rgba(#000, 0.75);
    height: 100vh
    left: 0
    width: 100vw

  &__wrapper
    display: flex;
    height: 100%;
    right: 0
    right: 0;
    transform: translateX(380px);
    transition: transform 0.74s ease
    &.is-visible
      transform: translateX(0);

  &__content
    background-color: lighten($color-background, 80%)
    display: flex;
    flex-direction: column;
    flex: none
    height: 100%
    height: 100vh
    padding: 0 0 1rem 0;
    width: 380px
    & > *
      padding-left: 1rem;
      padding-right: 1rem;
    @media(max-width: 450px)
      width: 320px
      & > *
        padding-left: 0.5rem
        padding-right: 0.5rem

  &__title
    align-items: center
    background-color: #fff
    border-bottom: 1px solid rgba($color-tertiary, .075);
    display: flex;
    flex: none;
    height: 60px
    justify-content: space-between;
    padding: 0
    .text,
    .button
      margin 0
    .text
      font-weight: 600
      font-size: 1.2rem
      color: #444
      margin-left: 1rem
      // color: $color-primary
    .button
      background: $color-primary
      border: none
      color: #fff
      height: 60px
      padding: 0
      width: 60px
    .button > *
      margin-right: 0
      font-size: 1.3rem

  &__items
    height: 100%
    overflow: auto;
    .c-order-item
      border-top: 1px solid #ddd;
    .c-order-item:nth-child(1)
      border-top: none

  &__footer
    // border-top: 1px solid #ddd
    padding-top: 0.5rem
    .price
      align-items: center;
      display: flex;
      justify-content: center;



.c-shopping-cart__tag
  align-items: center;
  cursor: pointer;
  display: flex;
  flex: none;
  justify-content: center;
  position: relative;
  text-align: center;
  transition: 0.7s ease all;
  margin-right: 0 !important;

  .number
    align-items: center;
    background: yellow;
    border-radius: 50%;
    color: $color-primary;
    display: flex
    font-weight: 600;
    font-size: 0.7rem;
    height: 1rem;
    justify-content: center;
    right: 3px;
    transform: translateY(-45%);
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 55%;
    width: 1rem;
  .u-icon
    color: #fff;
    font-size: 1.7rem;
    margin-right: 0;

.c-shopping-cart__not-found
  padding: 4rem 0
  text-align: center;
  .emojin
    color: $color-primary
    display: inline-block;
    font-size: 3.5rem
    font-weight: 600
    transform: rotateZ(90deg);
  p
    font-size: 1.2rem
    font-weight: 600
    line-height: 1
    margin: 0
    opacity: 0.7


/* .expand-enter defines the starting state for entering */
/* .expand-leave defines the ending state for leaving */
.shopping-cart__background-enter-active, .shopping-cart__background-leave-active {
  opacity: 1;
  transition: 0.5s ease all;
}
.shopping-cart__background-enter, .shopping-cart__background-leave-to {
  opacity: 0;
}
