<template lang="pug">
  .BlogScreen
    app-top()
    shopping-cart()

    router-view()

    //- subscription()
    //- app-footer()
</template>

<script>
  export default {
    name: 'BlogScreen'
  }
</script>
