<template lang="pug">
  .MapWelcomeScreen
    .c-map-register
      .c-map-register__section
        .o-container.u-flex.u-items-center(
          style="max-width:1024px")
          div.left
            h3.title ¡Felicidades!<br/><strong>Bienvenido al directorio geolocalizado de Tacna</strong>
            ul
              li.item Ahora tus clientes te ubicarán mas rápido.
            .c-map-register__form(style="padding:0")
              button.button(@click="$router.push({name:'Catalog'})")
                |IR AL CATÁLOGO
          figure.right.u-mt4
            img(src="/defaults/location.png")
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  // import axios from 'axios'

  export default {
    name: 'MapWelcomeScreen',
    data () {
      return {}
    },

    methods: {
      ...mapActions([
      ])
    },

    computed: {
      ...mapGetters([
      ])
    }
  }
</script>
