<template lang="pug">
  .c-order-item(:class="{'is-active': stateList}")
    .c-order-item__wrapper
      figure.c-order-item__image(@click="toggleList")
        img(:src="item.product.imgURL")

      div.c-order-item__content(@click="toggleList")
        p.c-order-item__title {{ item.product.name }}
        span.c-order-item__company {{ item.product.companyName }}
        price(:in_price="item.subTotal", :in_addclass="['gray']")
        .c-order-item__items
          span {{ item.feature.length }} Items
          button.c-order-item__btn-select.u-border-none(
            class="u-ml2 u-color-primary")
            i.u-icon.icon.u-fz-h3 right

      div.c-order-item__buttons
        button.c-order-item__btn-select.close.u-border-none(
          @click="removeProductCart(item.product.id)")
          i.u-icon.icon.u-mr0.u-fz-h2.u-clr-primary close-circle

    ul.c-order-feature__list(:style="maxHeightList")
      order-feature(
        v-for="(element, index) in item.feature",
        :key="`order-feature${index}`",
        :index_cart="index_cart",
        :index_feature="index",
        :fea="element")
</template>

<script>
  import { mapActions } from 'vuex'
  import OrderFeature from './OrderFeature'

  export default {
    name: 'order-item',
    components: { OrderFeature },
    props: {
      item: {
        type: Object,
        default () {
          return {}
        }
      },
      index_cart: {
        type: Number,
        default: 0
      }
    },
    data () {
      return {
        stateList: false,
        maxHeightList: {
          maxHeight: '0px'
        }
      }
    },
    watch: {
      item (newVal) {
        this.defaultMaxHeight()
      },
      stateList (newVal) {
        if (newVal) {
          this.defaultMaxHeight()
        } else {
          this.noneMaxHeight()
        }
      }
    },
    methods: {
      ...mapActions([ 'removeProductCart' ]),
      toggleList () {
        this.stateList = !this.stateList
      },
      defaultMaxHeight () {
        this.maxHeightList.maxHeight = (this.item.feature.length * 123) + 'px'
      },
      noneMaxHeight () {
        this.maxHeightList.maxHeight = '0px'
      }
    }
  }
</script>
