<template lang="pug">
  li(
    :class="{ active: index_elements === indx, displayed: objStyle.maxHeight }",
    :style="objStyle",
    @mouseover="change_index(indx)")

    //- .content(@click="toggleActive")
    .content(@click="$emit('click-cat', bc)")
      figure(v-show="bc.image")
        img(:src="bc.image")
      span {{ bc.name }}
      i.u-icon right

    ul.businessCategories__categories
      li(v-for="element in bc.categories")
        //- :to="{path: '/' + element.bcSlug + '/' + element.slug}",
        div(@click="disabled_category_menu")
          router-link(
            :to="{name: 'Category', params: {business_category: element.bcSlug, category: element.slug}}")
            |{{ element.name }}
</template>

<script>
  export default {
    props: {
      bc: {
        type: Object,
        default () {
          return {}
        }
      },
      change_index: {
        type: Function
      },
      disabled_category_menu: {
        type: Function
      },
      index_elements: {
        type: [String, Number],
        default: 0
      },
      indx: {
        type: [String, Number],
        default: 0
      }
    },
    data () {
      return {
        objStyle: {}
      }
    },
    methods: {
      toggleActive () {
        let tmp = true
        let i
        for (i in this.objStyle) {
          i = i + ' '
          tmp = false
        }

        if (tmp) {
          this.objStyle = {
            maxHeight: '20rem'
          }
        } else {
          this.objStyle = {}
        }
      }
    }
  }
</script>
