<template lang="pug">
  .c-category-menu()
    .bg(@click="disabled_category_menu")
    .container.u-scroll-light
      ul.businessCategories
        cats-components(
          v-for="(element, index) in categoriesSlug",
          :key="`categories${index}`",
          :bc="element",
          :indx="index",
          :change_index="changeIndex",
          :disabled_category_menu="disabled_category_menu",
          :index_elements="indexElements",
          @click-cat="toCategory")

      ul.categories
        //- h4 {{ categoriesAll[indexElements].name }}
        li(v-for="element in subElements",
          @click="disabled_category_menu")
          router-link(
            :to="{name: 'Category', params: {business_category: element.bcSlug, category: element.slug}}")
            |{{ element.name }}
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import CatsComponents from './cats'

  export default {
    components: { CatsComponents },
    props: {
      disabled_category_menu: {
        type: Function
      }
    },

    data () {
      return {
        subElements: [],
        pathLink: '',
        indexElements: 0
      }
    },

    created () { this.loadCategories() },
    mounted () { this.changeSub() },

    watch: {
      categoriesSlug (newVal) {
        this.changeSub()
      },
      indexElements (newVal) {
        this.changeSub()
      }
      // show (newVal) {
      //   if (newVal) {
      //     window.$('body').css({overflow: 'hidden'})
      //     this.enableModal()
      //   } else {
      //     window.$('body').css({overflow: 'auto'})
      //     this.disableModal()
      //   }
      // }
    },

    methods: {
      ...mapActions([
        'enableModal', 'disableModal', 'loadCategories'
      ]),
      toCategory (params) {
        this.disabled_category_menu()
        this.$router.push({
          name: 'BusinessCategory',
          params: {
            business_category: params.slug
          }
        })
      },
      changeIndex (index) {
        this.indexElements = index
      },
      changeSub () {
        if (this.categoriesSlug.length > 0) {
          this.subElements = this.categoriesSlug[this.indexElements].categories
          this.pathLink = this.categoriesSlug[this.indexElements].slug + '/'
        }
      },
      redirectItem () {
        this.$router.push({path: '/'})
      }
    },

    computed: {
      ...mapGetters([
        'categoriesSlug', 'categoriesAll'
      ])
    }
  }
</script>
