<template lang="pug">
  .c-modal-google-maps
    transition(name="modalFather")
      .c-modal(v-show="active")
        transition(name="modalExpandBG")
          .c-modal__container(v-show="active", @click="$emit('close')")
        transition(name="modal")
          .c-modal__content.u-flex-column-900(
            style="max-width: 750px;overflow: auto;max-height: 80vh;width: 100vw;",
            v-show="active")
            .u-bg-primary.u-flex.u-justify-center.u-items-center.u-absolute-tl(
              @click="$emit('close')",
              style="border-radius:50%;height:2rem;width:2rem;cursor:pointer")
              i.u-icon.u-mr0 close
            div.u-px4.u-py4(
              style="font-size:0.9rem;height:100%")
              figure.u-flex.u-items-center(
                style="height:10rem;overflow:hidden")
                img.u-height-100(:src="in_data.imageUrl")
              h4.u-mt0.u-mb0(style="height:16px") {{in_data.name}}
              div.u-mb2
                i {{in_data.activityName}}
              p.u-mt0.u-mb0
                |{{in_data.description}}
              h4.u-mb0 Contacto
              p.u-mt0.u-mb0(v-show="in_data.cellphone")
                i.u-icon.u-color-primary phone
                |{{in_data.cellphone}}
              p.u-mt0.u-mb0(v-show="in_data.phone")
                i.u-icon.u-color-primary phone
                |{{in_data.phone}}
              p.u-mt0.u-mb0
                i.u-icon.u-color-primary location
                |{{in_data.address}}
              p.u-mt0.u-mb0(v-show="in_data.schedules")
                i.u-icon.u-color-primary clock
                |{{in_data.schedules}}
            div
              gmap-map(
                :center="{lat:in_data.latitude, lng:in_data.longitude}",
                :zoom="16",
                map-type-id="terrain",
                style="width: 100%; height: 100%")
                gmap-marker(
                  :position="{lat:in_data.latitude, lng:in_data.longitude}",
                  :clickable="true",
                  :draggable="false",
                  @click="info = !info")
                  gmap-info-window(
                    :position="{lat:in_data.latitude, lng:in_data.longitude}",
                    :opened="info")
                    div(v-html="in_data.name")
</template>

<script>
  import Vue from 'vue'
  export default {
    props: {
      active: {
        type: Boolean,
        default: true
      },
      in_data: {
        type: Object,
        default () {
          return {
            latitude: -18.014314,
            longitude: -70.251426
          }
        }
      }
    },
    data () {
      return {
        info: true
      }
    },
    watch: {
      active (newVal) {
        Vue.$gmapDefaultResizeBus.$emit('resize')

        if (newVal) {
          window.$('html, body').css('overflow', 'hidden')
        } else {
          window.$('html, body').css('overflow', 'visible')
        }
      }
    }
  }
</script>
