<template lang="pug">
.MapDefault
  .c-map-screen
    .c-map-screen__top
      .o-container
        .c-map-screen__title
          i.u-icon location
          h2.text Encuentra <strong>lo que buscas cerca de ti</strong>
          button.button(
            @click="$router.push({name:'MapRegister'})")
            |REGISTRA TU EMPRESA GRATIS!

        .c-map-screen__filters(:class="{'is-active': modalFilters}")
          h2.title
            span GEOLOCALIZANDO NEGOCIOS
            .u-bg-primary.u-flex.u-justify-center.u-items-center.u-absolute-tl(
              @click="modalFilters = false",
              style="font-size:0.8rem;border-radius:50%;height:2rem;width:2rem;cursor:pointer")
              i.u-icon.u-mr0 close
          .search
            input(
              v-model="text",
              placeholder="Busca empresa por nombre",
              @keyup.enter="searchCompanies(1)")
            button(
              @click="searchCompanies(1)")
              i.u-icon search
              span BUSCAR
          .u-flex.u-justify-center.u-items-center
            p.u-mt0.u-mb0.u-mr2 <strong>POR SECTOR:</strong>
            select(v-model="activity")
              option(style="display:none",
                :value="false")
                |TODAS LA ACTIVIDADES
              option(v-for="(element, index) in activities",
                :key="`activities${index}`",
                :value="element")
                |{{element.name}}
          .u-flex.u-justify-center.u-items-center
            p.u-mt0.u-mb0.u-mr2 <strong>POR DISTRITO:</strong>
            select(v-model="dictrict")
              option(style="display:none",
                :value="false")
                |TODO TACNA
              option(v-for="(element, index) in districts",
                :key="`activities${index}`",
                :value="element")
                |{{element.name}}
          .u-flex.u-justify-center.u-items-center(
            v-show="activity || dictrict || search")
            a(href="#", @click.prevent="defaultFilters")
              |Ver todos

    .c-map-screen__content
      .c-map-screen__list
        .c-map-screen__item(
          v-for="(element, index) in dataJson",
          :key="`map-screen-items${index}`",
          @click="changedForItem(element)")
          figure
            img(:src="element.imageUrl")
          .content
            span.number {{index + 1}}
            h4.title {{element.name}}
            i.activities {{element.activityName}}
            p.location.u-flex
              i.u-icon.u-pt1 location
              |{{element.address}}
            p.schedules.u-flex
              i.u-icon.u-pt1 clock
              |Atención de {{element.schedules}}
        .c-map-screen__pages.u-mt3
          .u-flex(v-show="page.last !== 0")
            button(
              v-for="(element, index) in page.last",
              :key="`pages${index}`",
              :class="{'is-active': (index + 1) === page.current}",
              @click="changedPage(index + 1)")
              |{{index + 1}}
            button(
              @click="changedPage(page.last)")
              i.u-icon right
          p.footer {{page.from}} - {{page.to}} de {{page.total}} negocios

      .c-map-screen__map(:class="{'is-active': mapGeneral}")
        h2.title
          span GEOLOCALIZANDO NEGOCIOS
          .u-bg-primary.u-flex.u-justify-center.u-items-center.u-absolute-tl(
            @click="mapGeneral = false",
            style="font-size:0.8rem;border-radius:50%;height:2rem;width:2rem;cursor:pointer")
            i.u-icon.u-mr0 close
        gmap-map(
          :center="{lat:-18.014314, lng:-70.251426}",
          :zoom="15",
          map-type-id="terrain",
          style="width: 100%; height: 100%")
          gmap-marker(
            v-for="(element, index) in markers",
            :key="`gmap-marker${index}`",
            :position="element.position",
            :clickable="true",
            :draggable="false",
            @click="info = !info")
            gmap-info-window(
              :position="element.position",
              :opened="true")
              div(v-html="element.text")

    .c-map-screen__footer-btns(v-show="!modalFilters")
      button(@click="mapGeneral = !mapGeneral")
        |{{mapGeneral ? 'VER LISTA' : 'VER MAPA'}}
      button(@click="modalFilters = true")
        |FILTRO

  modal-map(
    @close="modalMap = false",
    :in_data="modalData",
    :active="modalMap")
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import ModalMap from './ModalMap'
  import axios from 'axios'

  export default {
    name: 'MapDefault',
    components: { ModalMap },
    data () {
      return {
        dataJson: [],
        text: '',
        search: false,

        markers: [],
        mapGeneral: false,
        modalFilters: false,
        modalMap: false,
        modalData: {
          latitude: -18.014314,
          longitude: -70.251426
        },

        activities: [],
        activity: false,
        districts: [],
        dictrict: false,

        page: {
          current: 0,
          from: 0,
          next: true,
          to: 0,
          total: 0,
          last: 0
        }
      }
    },

    mounted () {
      this.requestCompanies()
      this.requestActivities()
      this.requestDisticts()
    },

    computed: {
      ...mapGetters([
      ])
    },

    watch: {
      activity (newVal) {
        if (newVal) {
          this.dictrict = false
          this.text = ''
          this.filterActivities()
        }
      },
      dictrict (newVal) {
        if (newVal) {
          this.filterActivities()
        }
      }
    },

    methods: {
      ...mapActions([]),
      changedPage (page) {
        if (page <= this.page.last) {
          if (this.text) {
            this.searchCompanies(page)
          } else {
            if (this.activity || this.district) {
              this.filterActivities(page)
            } else {
              this.requestCompanies(page)
            }
          }
        }
      },
      changedForItem (element) {
        this.modalData = element
        this.modalMap = true
      },
      defaultFilters () {
        this.text = ''
        this.activity = false
        this.dictrict = false
        this.search = false
        this.modalFilters = false
        this.requestCompanies()
      },
      thenCompanies (data) {
        this.dataJson = data.data
        let tmp = []
        for (var i = 0; i < data.data.length; i++) {
          tmp.push({
            position: {
              lat: parseFloat(data.data[i].latitude),
              lng: parseFloat(data.data[i].longitude)
            },
            text: data.data[i].name
          })
        }
        this.markers = tmp

        this.page.current = data.currentPage
        this.page.from = data.from || 0
        this.page.next = !!data.nextPageUrl
        this.page.to = data.to || 0
        this.page.total = data.total
        this.page.last = data.lastPage
      },
      requestCompanies (page = 1) {
        axios({
          method: 'get',
          url: `${window.API_URL}/companies`,
          params: {
            page: page
          },
          headers: {'Content-Type': 'application/json'}
        })
          .then(({ data }) => {
            this.thenCompanies(data)
          })
          .catch(({response}) => {})
      },
      filterActivities (page = 1) {
        this.modalFilters = false
        axios({
          method: 'get',
          url: `${window.API_URL}/companies`,
          params: {
            activity_id: this.activity.id,
            district_id: this.dictrict.id,
            page: page
          },
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.thenCompanies(data)
        })
      },
      searchCompanies (page = 1) {
        this.activity = false
        this.dictrict = false
        this.modalFilters = false
        axios({
          method: 'get',
          url: `${window.API_URL}/companies`,
          params: {
            search: this.text,
            page: page
          },
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.search = true
          this.thenCompanies(data)
        })
      },
      requestActivities () {
        axios({
          method: 'get',
          url: `${window.API_URL}/activities`,
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.activities = data.data
        })
      },
      requestDisticts () {
        axios({
          method: 'get',
          url: `${window.API_URL}/districts`,
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.districts = data.data
        })
      }
    }
  }
</script>
