@font-face {
  font-family: 'icomoon';
  src:
    url('fonts/icomoon.ttf?uma9mb') format('truetype'),
    url('fonts/icomoon.woff?uma9mb') format('woff'),
    url('fonts/icomoon.svg?uma9mb#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.u-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.u-icon--heart:before {
  content: "\e911";
}
.u-icon--tag2:before {
  content: "\e900";
}
.u-icon--location:before {
  content: "\e901";
}
.u-icon--shopping-cart:before {
  content: "\e902";
}
.u-icon--coins:before {
  content: "\e903";
}
.u-icon--phone:before {
  content: "\e904";
}
.u-icon--mail:before {
  content: "\e905";
}
.u-icon--tag:before {
  content: "\e906";
}
.u-icon--arrow-left:before {
  content: "\e907";
}
.u-icon--calendar:before {
  content: "\e908";
}
.u-icon--clock:before {
  content: "\e909";
}
.u-icon--eye:before {
  content: "\e90a";
}
.u-icon--facebook:before {
  content: "\e90b";
}
.u-icon--right:before {
  content: "\e90c";
}
.u-icon--google-plus:before {
  content: "\e90d";
}
.u-icon--down:before {
  content: "\e90e";
}
.u-icon--left-circle:before {
  content: "\e90f";
}
.u-icon--right-circle:before {
  content: "\e910";
}
.u-icon--category:before {
  content: "\e912";
}
.u-icon--check:before {
  content: "\e913";
}
.u-icon--close-circle:before {
  content: "\e914";
}
.u-icon--close:before {
  content: "\e915";
}
.u-icon--tacna:before {
  content: "\e916";
}
.u-icon--mail-white:before {
  content: "\e917";
}
.u-icon--coins-white:before {
  content: "\e918";
}
.u-icon--tag-white:before {
  content: "\e919";
}
.u-icon--search:before {
  content: "\e91a";
}
.u-icon--instagram:before {
  content: "\e91b";
}
.u-icon--map-marker:before {
  content: "\e91c";
}
.u-icon--mail-circle:before {
  content: "\e91d";
  color: #000;
}
.u-icon--menu:before {
  content: "\e91e";
}
.u-icon--padlock:before {
  content: "\e91f";
}
.u-icon--play-button:before {
  content: "\e920";
}
.u-icon--shopping-list:before {
  content: "\e921";
}
.u-icon--store:before {
  content: "\e922";
}
.u-icon--phone-circle:before {
  content: "\e923";
  color: #000;
}
.u-icon--gear:before {
  content: "\e924";
}
.u-icon--twitter:before {
  content: "\e925";
}
.u-icon--location-circle:before {
  content: "\e926";
  color: #000;
}
.u-icon--user:before {
  content: "\e927";
}
.u-icon--youtube:before {
  content: "\e928";
}
