<template lang="pug">
.ShopProfileScreen
  app-top()
  shopping-cart()

  .c-shop-profile.u-pt5.u-pb4.o-container
    .c-shop-profile__wrapper
      .c-shop-profile__company
        figure
          img(:src="dataJson.logotype")
        div(style="opacity:0.75")
          h2.title.u-mt0.u-mb0 {{dataJson.name}}
          .info.u-mt2
            p.u-mt0.u-mb0.u-mr3
              i.u-icon.u-icon--gear.u-clr-primary categories
              span {{dataJson.activity.name}}
            p.u-mt0.u-mb0.u-mr3
              i.u-icon.u-icon--map-marker.u-clr-primary
              span {{dataJson.address}}
          p.u-mt0.u-mb0.u-pb3
            i.u-icon.u-icon--calendar.u-clr-primary
            span Horario de Atención: {{dataJson.schedules}}
          p.description.u-mt0.u-mb0(style="text-align: justify;")
            |{{dataJson.description}}
      .c-shop-profile__services.u-mt4(
        v-show="dataJson.services.length > 0")
        h3.c-shop-profile__title Servicios de {{dataJson.name}}
        ul.list
          li.item(
            v-for="(element, index) in dataJson.services",
            :key="`services${index}`")
            figure
              img(:src="element.imageUrl")
            div.content
              h3 {{element.name}}
              p {{element.description}}
            div.price(v-show="element.price")
              price(
                :in_price="element.price",
                :in_addclass="['code-none', 'blue']")
              //- a(href="#!", target="_blank")
              //-   |Consultar
              //-   i.u-icon(style="font-size:0.5rem") right
      .c-shop-profile__items.u-mt4(
        v-show="dataJson.items.length > 0")
        h3.c-shop-profile__title Productos de {{dataJson.name}}
        ul.list
          li(v-for="(element, index) in dataJson.items",
            :key="`item-list${index}`")
            .element(@click="$router.push({name: 'Products', params: {productSlug: element.slug}})")
              item(:in_item="element")

    .c-shop-profile__aside
      .c-blog__subscription
        h3.c-blog__subscription__title
          |Suscríbete y recibe descuentos exclusivos.
        input.c-blog__subscription__input(
          type="text",
          v-model="formJson.name",
          placeholder="Tu nombre")
        input.c-blog__subscription__input(
          type="text",
          v-model="formJson.email",
          placeholder="Tu correo electrónico")
        button.c-blog__subscription__submit(
          @click="submitSubscription",
          type="button")
          |Suscribirme
        p.c-blog__subscription__footer
          |Te puedes dar de baja en cualquier momento
      .c-shop-profile__news.u-mt4
        h3.c-shop-profile__title
          |Últimas publicaciones
        //- a.notice(v-for="(element, index) in news",
        //-   :key="`news${index}`",
        //-   :href="`/blog/${element.slug}`",
        //-   @click.stop="$router.push({name:'BlogProfile', params: {noticeSlug: element.slug}})")
        a.notice(v-for="(element, index) in news",
          :key="`news${index}`",
          :href="`/blog/${element.slug}`")
          figure.image
            img(:src="element.imageUrlThumb")
          .u-flex.u-flex-column.u-justify-center
            h3.title {{element.title}}
            p.date {{element.date}}
      //- .c-shop-profile__adverts.u-mt4
      //-   h3.c-shop-profile__title
      //-     |Anuncios
      //-   .swiper-container.swiper-adverts
      //-     .swiper-wrapper
      //-       .swiper-slide(v-for="(element, index) in adverts",
      //-                   :key="`cover-page${index}`")
      //-         a.item(:href="element.link", target="_blank")
      //-           img(:src="element.imageUrl")

  subscription()
  app-footer()
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import axios from 'axios'
  import Item from 'components/ItemList/Item'

  export default {
    name: 'ShopProfileScreen',
    components: { Item },
    data () {
      return {
        dataJson: {
          services: [],
          items: [],
          name: '',
          activity: { name: '' }
        },
        formJson: { name: '', email: '' },
        news: [],
        adverts: [
          {
            imageUrl: 'https://media.licdn.com/mpr/mpr/shrinknp_800_800/AAEAAQAAAAAAAAMYAAAAJDg1YmI1NmYxLTM4NDYtNDIwYy1iODViLTNkMDdjZGE0OTQxYg.png',
            link: '#!'
          }, {
            imageUrl: 'https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/4a66f333332919.56a84344447ec.jpg',
            link: '#!'
          }
        ],
        swiperOptions: {
          autoplay: 4000,
          // loop: true,
          // nextButton: '.c-item-detail__next',
          // prevButton: '.c-item-detail__previus',
          effect: 'fade',
          slidesPerView: 1,
          speed: 1000
        }
      }
    },

    created () {
      this.requestShopProfile()
      this.requestNews()
      // this.requestAdverts()
    },

    mounted () {
      this.initCarousel()
    },

    methods: {
      ...mapActions([
      ]),
      requestShopProfile () {
        axios({
          method: 'get',
          url: `${window.API_URL}/stores/${this.$route.params.shopSlug}`,
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.dataJson = data.data
        })
      },
      requestNews () {
        axios({
          method: 'get',
          url: `${window.API_URL}/news?max_elements=3`,
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.news = data.data
        })
      },
      requestAdverts () {
        axios({
          method: 'get',
          url: `${window.API_URL}/advertisements/landscape`,
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.adverts = data.data
        })
      },
      initCarousel (tmp) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-adverts', this.swiperOptions)
          if (tmp) { console.log(swiper) }
        }, 300)
      },
      submitSubscription () {
        if (this.formJson.name) {
          if (this.formJson.email) {
            this.postSubscription()
          } else {
            window.toastr.warning('Ingrese su email para continuar con la suscripción', 'COMPROENTACNA')
          }
        } else {
          window.toastr.warning('Ingrese su nombre para continuar con la suscripción', 'COMPROENTACNA')
        }
      },
      postSubscription () {
        axios({
          method: 'post',
          url: `${window.API_URL}/subscribe`,
          data: this.formJson,
          headers: {'Content-Type': 'application/json'}
        })
          .then(({ data }) => {
            window.toastr.success('Suscripción exitosa', 'COMPROENTACNA')
            this.formJson = {
              name: '',
              email: ''
            }
          })
      }
    },

    computed: {
      ...mapGetters([
      ])
    }
  }
</script>
