<template lang="pug">
  .SearchScreen.o-background-pattern
    app-top()
    shopping-cart()

    item-detail()

    .o-container.u-margin-top-2.u-margin-bottom-2()
      p.u-margin--0(style="color:#777")
        span.u-weight-300.u-mr1 Ofertas relacionas con:
        span.u-color-primary {{$route.query.q}}

    .o-container.u-pb4
      item-list(:in_items="searchResponse")

    subscription()
    app-footer()
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'SearchScreen',
    mounted () {
      if (this.searchRequest === '') {
        this.loadSearch(this.$route.query.q)
      }
    },

    methods: {
      ...mapActions([ 'loadSearch' ])
    },
    computed: {
      ...mapGetters([ 'searchResponse', 'searchRequest' ])
    }
  }
</script>
