.c-price-range {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  .title {
    flex: none;
    padding-right: 0.75rem;
  }
}

.c-price-range__range {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  & > * {
    width: 100%;
  }
}
