.c-price {
  font-size: 1.8rem
}

    .c-price__code {
      color: lighten(black, 50%);
      font-size: 0.81em;
      font-weight: 300;
      margin-right: 0.3rem;
    }

    .c-price__symbol {
      color: $color-primary;
      font-size: 1em;
      font-weight: 600;
      margin-right: 0.2rem;
    }

    .c-price__number {
      color: $color-primary;
      font-size: 1em;
      font-weight: 600;
    }

    .c-price__annulled {
      color: $color-secondary;
      opacity: 0.5;
      text-decoration:line-through;
      font-weight: 300;
      margin-left: 5px;
    }



// .c-price--gray {}
  .c-price--gray .c-price__code {
    display: none;
  }

  .c-price--gray .c-price__symbol {
    color: lighten(black, 30%);
    font-size: 0.85em;
  }

  .c-price--gray .c-price__number {
    color: lighten(black, 30%);
    font-size: 0.85em;
  }


.c-price--mini {
  font-size: 17px
}
  .c-price--mini .c-price__code {
    font-size: 1em;
  }

  .c-price--mini .c-price__symbol {
    font-size: 1em;
  }

  .c-price--mini .c-price__number {
    font-size: 1em;
  }


// .c-price--light {}
  .c-price--light .c-price__code {}

  .c-price--light .c-price__symbol {
    font-weight: 200;
  }

  .c-price--light .c-price__number {
    font-weight: 200;
  }


// .c-price--normal {}
  .c-price--normal .c-price__code {}

  .c-price--normal .c-price__symbol {
    font-weight: 400;
  }

  .c-price--normal .c-price__number {
    font-weight: 400;
  }


// .c-price--miniSymbol {}
  .c-price--miniSymbol .c-price__code {}

  .c-price--miniSymbol .c-price__symbol {
    font-size: 0.5em
  }

  .c-price--miniSymbol .c-price__number {}


// .c-price--noneCode {}
  .c-price--noneCode .c-price__code {
    display: none;
  }

  .c-price--noneCode .c-price__symbol {}

  .c-price--noneCode .c-price__number {}


.c-price--big {
  font-size: 3rem;
}
  .c-price--big .c-price__code {}

  .c-price--big .c-price__symbol {}

  // .c-price--big .c-price__number {
  //   font-size: 1em;
  // }

.c-price--big.c-price--miniSymbol,
.c-price--miniSymbol.c-price--big  {

  .c-price__symbol {
    font-size: 0.4em;
  }
}


// .c-price--1 {}
  .c-price--1 .c-price__code {}

  .c-price--1 .c-price__symbol {
    font-size: 1rem;
  }

  .c-price--1 .c-price__number {
    font-size: 1rem;
  }

// .c-price--white {}
  .c-price--white .c-price__code {
    color: #fff;
  }

  .c-price--white .c-price__symbol {
    color: #fff;
  }

  .c-price--white .c-price__number {
    color: #fff;
  }

// .c-price--code-none {}
  .c-price--code-none .c-price__code {
    display: none;
  }

// .c-price--blue {}
  .c-price--blue .c-price__code {
    color: $color-primary3;
  }

  .c-price--blue .c-price__symbol {
    color: $color-primary3;
  }

  .c-price--blue .c-price__number {
    color: $color-primary3;
  }
