<template lang="pug">
  .o-container
    //- item-list(:in_items="filterItemsBusinessCategories")
    loading(v-show="items.length < 1")
    item-list(:in_items="items")
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'ScreenDefault',
    methods: {
      ...mapActions([
        'loadNextItems', 'loadItems', 'cleanItems'
      ]),
      handleScroll () {
        let win = window.$(window)
        let body = window.$('body').height()
        if (win.scrollTop() >= (body - win.height() - 140)) {
          this.loadNextItems()
        }
      }
    },
    created () {
      this.cleanItems()
      this.loadItems()
    },
    watch: {
      $route () {
        this.cleanItems()
        this.loadItems()
      }
    },
    computed: {
      // ...mapGetters([
      //   'filterItemsBusinessCategories', 'isLoading', 'nextPage'
      // ])
      ...mapGetters([ 'items' ])
    }

    // watch: {
    //   isLoading (newVal) {
    //     if (!newVal) {
    //       window.addEventListener('scroll', this.handleScroll)
    //     }
    //   },
    //   nextPage (newVal) {
    //     if (newVal) {
    //       window.addEventListener('scroll', this.handleScroll)
    //     } else {
    //       window.removeEventListener('scroll', this.handleScroll)
    //     }
    //   }
    // }
  }
</script>
