<template lang="pug">
  div(class="CategoryPage", style="position:relative")
    //- transition(:name="'fade'")
    router-view(transition="modalExpandBG")
</template>

<script>
  // import { mapActions, mapGetters } from 'vuex'
  import { mapActions } from 'vuex'

  export default {
    name: 'CategoryScreen',
    methods: {
      ...mapActions([
        'loadNextItems', 'loadItems', 'cleanItems'
      ]),

      handleScroll () {
        let win = window.$(window)
        let body = window.$('body').height()
        if (win.scrollTop() >= (body - win.height() - 140)) {
          this.loadNextItems()
        }
      }
    },
    created () {
      this.cleanItems()
      this.loadItems()
    },
    watch: {
      $route () {
        this.cleanItems()
        this.loadItems()
      }
    }
    // computed: {
    //   ...mapGetters([
    //     'isLoading', 'nextPage'
    //   ])
    // }

    // watch: {
    //   isLoading (newVal) {
    //     if (!newVal) {
    //       window.addEventListener('scroll', this.handleScroll)
    //     }
    //   },
    //   nextPage (newVal) {
    //     if (newVal) {
    //       window.addEventListener('scroll', this.handleScroll)
    //     } else {
    //       window.removeEventListener('scroll', this.handleScroll)
    //     }
    //   }
    // }
  }
</script>
