<template lang="pug">
  .c-modal-google-maps
    transition(name="modalFather")
      .c-modal(v-show="active")
        transition(name="modalExpandBG")
          .c-modal__container(v-show="active", @click="$emit('close')")
        transition(name="modal")
          .c-modal__content.u-vertical-center(
            style="width:100%;height:400px;max-width:550px",
            v-show="active")
            gmap-map(
              :center="{lat:marker.lat, lng:marker.lng}",
              :zoom="16",
              map-type-id="terrain",
              style="width: 100%; height: 100%")
              gmap-marker(
                :position="marker",
                :clickable="true",
                :draggable="false",
                @click="info = !info")
                gmap-info-window(
                  :position="marker",
                  :opened="info")
                  div(v-html="text")
</template>

<script>
  import Vue from 'vue'
  export default {
    props: {
      active: {
        type: Boolean,
        default: true
      },
      text: {
        type: String,
        default: 'Av. Siempre viva 2454'
      },
      marker: {
        type: Object,
        default () {
          return {lat: 10.0, lng: 10.0}
        }
      }
    },
    data () {
      return {
        info: true
      }
    },
    watch: {
      active () {
        Vue.$gmapDefaultResizeBus.$emit('resize')
      }
    }
  }
</script>
