<template lang="pug">
  .MallsScreen
    app-top()
    shopping-cart()

    .c-malls
      .c-malls__cover-page
        .swiper-container.swiper-images
          .swiper-wrapper
            .swiper-slide(v-for="(element, index) in coverPictures",
                        :key="`coverPictures${index}`")
              .c-malls__cover-page__wrapper-image
                img.u-width-100(:src="element.imageUrl")
            //- .swiper-slide(v-for="(element, index) in 3",
            //-             :key="`coverPictures${index}`")
            //-   .c-malls__cover-page__wrapper-image
            //-     img(src="http://lorempixel.com/1350/350/sports/")
        .swiper--next
          i.u-icon.u-icon--right
        .swiper--prev
          i.u-icon.u-icon--left

      .o-container
        .c-malls__section
          .c-malls__title
            h2
              span.u-mr1 Conoce los
              strong centros comerciales de Tacna
          ul.c-malls__list
            li.c-malls__item(v-for="element in malls")
              figure.c-malls__item__figure
                img(:src="element.imageUrlThumb")
              .c-malls__item__content
                h3.c-malls__item__title
                  |{{element.name}}
                div.c-malls__item__info
                  i.u-icon location
                  span {{element.address}}
                div.c-malls__item__info
                  i.u-icon clock
                  span Atención: {{element.schedules}}
                button.c-malls__item__button(
                  @click="changedTextMap(element)")
                  |VER MAPA
        .c-malls__section
          .c-malls__title
            h2
              span.u-mr1 Entérate de las
              strong Actividades
              span.u-ml1 que se realizan en Tacna
          ul.c-malls__news
            router-link.c-blog__item(
              v-for="(element, index) in newsAll",
              :key="`blog__item${index}`",
              :to="{name: 'BlogProfile', params:{noticeSlug: element.slug}}")
              .c-blog__item__image
                img(:src="element.imageUrlThumb")
              span.c-blog__item__date
                |{{element.date}}
              h3.c-blog__item__title
                |{{element.title}}

    item-detail()
    app-footer()
    modal-google-maps(
      @close="activeModal = false",
      :text="text",
      :marker="marker",
      :active="activeModal")
</template>

<script>
  import axios from 'axios'
  import ModalGoogleMaps from './ModalGoogleMaps'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'MallsScreen',
    components: { ModalGoogleMaps },
    data () {
      return {
        malls: [],
        coverPictures: [],
        activeModal: false,

        swiperOptions: {
          // autoplay: 4000,
          // loop: true,
          speed: 600,
          slidesPerView: 1,
          spaceBetween: 15,
          nextButton: '.swiper--next',
          prevButton: '.swiper--prev'
        },
        text: 'Tacna',
        marker: {lat: 10.0, lng: 10.0}
      }
    },

    created () {
      this.requestCoverPictures()
      this.requestMalls()
      this.requestThreeNews()
    },

    methods: {
      ...mapActions([ 'requestThreeNews' ]),
      changedTextMap (element) {
        this.text = `<span class="u-weight-800">`
        this.text += element.name
        this.text += `</span><br/>`
        this.text += element.address
        this.marker = {
          lat: element.latitude,
          lng: element.longitude
        }
        this.activeModal = true
      },
      requestMalls () {
        axios({
          method: 'get',
          url: `${window.API_URL}/malls`,
          headers: { 'Content-Type': 'application/json' }
        })
        .then(({ data }) => {
          this.malls = data.data
        })
      },
      requestCoverPictures () {
        axios({
          method: 'get',
          url: `${window.API_URL}/cover-pictures`,
          headers: { 'Content-Type': 'application/json' }
        })
        .then(({ data }) => {
          this.coverPictures = data.data
          this.initSwiper()
        })
      },

      initSwiper (tmp) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-images', this.swiperOptions)
          if (tmp) { console.log(swiper) }
        }, 500)
      }
    },

    computed: { ...mapGetters([ 'newsAll' ]) }
  }
</script>
