<template lang="pug">
  .ShopsDefault.u-pt5.u-pb4.o-container
    .c-shops
      .c-shops__up
        h2.c-shops__title
          i.u-icon.u-clr-primary store
          |Tiendas del Mall digital
        input.c-shops__search(
          v-model="textSearch",
          placeholder="Buscar Empresa")
        multiselect(
          :options="activities",
          :show-labels="false",
          class="c-shops__multiselect",
          label="name",
          placeholder="Actividad",
          v-model="activity"
        )
        span.c-shops__default(
          v-show="activity.id",
          @click="activity = {}")
          |Mostrar Todos

      ul.c-shops__list.o-grilla
        li.c-shops__item(
          v-for="(element, index) in shops",
          :key="`shops-carousel${index}`",
          @click="toShopProfile(index)")
          figure.c-shops__item__image
            img(:src="element.logotype")
          h3.c-shops__item__title {{element.name}}
</template>

<script>
  import Multiselect from 'vue-multiselect'
  import { mapActions, mapGetters } from 'vuex'
  import axios from 'axios'

  export default {
    components: { Multiselect },
    name: 'ShopsDefault',
    data () {
      return {
        shops: [],
        shopsAll: [],
        activities: [],
        activity: {},
        textSearch: ''
      }
    },

    created () {
      this.requestShops()
      this.requestActivities()
    },

    watch: {
      activity (newVal) {
        if (newVal.id) {
          this.filterActivity()
        } else {
          this.shops = this.shopsAll
        }
      },
      textSearch (newVal) {
        if (newVal === '') {
          this.shops = this.shopsAll
        } else {
          this.filterTextSearch()
        }
      }
    },

    methods: {
      ...mapActions([
      ]),

      requestShops () {
        axios({
          method: 'get',
          url: `${window.API_URL}/stores`,
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.shops = data.data
          this.shopsAll = data.data
        })
      },
      requestActivities () {
        axios({
          method: 'get',
          url: `${window.API_URL}/activities`,
          headers: {'Content-Type': 'application/json'}
        })
        .then(({data}) => {
          this.activities = data.data
        })
      },
      toShopProfile (index) {
        this.$router.push({
          name: 'ShopProfile',
          params: {
            shopSlug: this.shops[index].slug
          }
        })
      },
      filterActivity () {
        this.shops = this.shopsAll.filter((element) => {
          return element.activityId === this.activity.id
        })
      },
      filterTextSearch () {
        this.shops = this.shopsAll.filter((element) => {
          let name = element.name.toLowerCase()
          return name.search(this.textSearch) > -1
        })
      }
    },

    computed: {
      ...mapGetters([
      ])
    }
  }
</script>
