/*------------------------------------*\
  Custom scroll
\*------------------------------------*/

*::-webkit-scrollbar
  width: 8px
  height: 7px

*::-webkit-scrollbar-track
  background: darken($color-background, 10%)

*::-webkit-scrollbar-thumb
  background: rgba(#000, .5)
