<template lang="pug">
  .c-associates__benefits#c-associates__benefits
    h2.title.wow.fadeInUp(
      data-wow-duration="1.25s")
      |Beneficios

    ul.list
      li.item.wow.bounceInUp(
        v-for="(element, index) in in_data.benefits",
        data-wow-duration="1.25s",
        :data-wow-delay="`${(index*0.25)+0.25}s`")
        img(:src="element.imageUrl")
        p {{ element.description }}
</template>

<script>
  export default {
    props: {
      in_data: {
        type: Object,
        default () {
          return {
            benefits: []
          }
        }
      }
    }
  }
</script>
