<template lang="pug">
  .c-associates__cover-page
    .swiper-container
      .swiper-wrapper
        .swiper-slide(v-for="(element, index) in coverPage",
                    :key="`cover-page${index}`")
          .item
            .item__container
              h2.title.wow.bounceInLeft
                |{{ element.title }}
            //- img.image(:src="element.imageUrl")
            progressive-background(
              class="image",
              :blur="30",
              :src="element.imageUrl",
              :placeholder="element.imageUrl")
</template>

<script>
  export default {
    props: {
      in_data: {
        type: Object,
        default () { return {} }
      }
    },
    data () {
      return {
        coverPage: [],
        swiperOptions: {
          autoplay: 4000,
          // loop: true,
          // nextButton: '.c-item-detail__next',
          // prevButton: '.c-item-detail__previus',
          // effect: 'fade',
          slidesPerView: 1,
          speed: 1000
        }
      }
    },

    mounted () { this.initCarousel() },

    watch: {
      in_data (newVal) {
        this.coverPage = newVal.coverPage
      }
    },

    methods: {
      initCarousel (tmp) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-container', this.swiperOptions)
          if (tmp) { console.log(swiper) }
        }, 300)
      }
    }
  }
</script>
