<template lang="pug">
  .c-associates__footer#c-associates__footer
    .c-associates__footer__white
    .c-associates__footer__wrapper
      .c-associates__footer__content.wow.fadeInUp(
        data-wow-duration="1.25s")
        .c-associates__footer__form
          h2.title Registra tu empresa en el Mall Digital de Tacna
          input(
            placeholder="Nombres y a pellidos",
            v-model="dataForm.name")
          input(
            placeholder="Whatsapp",
            v-model="dataForm.whatsapp")
          input(
            placeholder="Correo electrónico",
            v-model="dataForm.email")
          input.u-mb3(
            placeholder="Dirección de la empresa",
            v-model="dataForm.address")
          vue-recaptcha(
            @verify="verefyCapcha",
            :sitekey="sitekey")
          button.c-associates__footer__button(
            @click="submitForm")
            |ENVIAR
        .c-associates__footer__contact
          h2.title Contáctanos
          p.paragraph
            |Escríbenos y nuestro departamento comercial se pondrá en contacto para brindarle toda la información que requerias.
          ul.list
            li.item
              i.u-icon.u-icon--circle(style="font-size:20px")
                |mail-circle
              |{{in_data.email}}
            li.item
              i.u-icon.u-icon--circle(style="font-size:20px")
                |phone-circle
              |{{in_data.celphone}}
            li.item
              i.u-icon.u-icon--circle(style="font-size:20px")
                |location-circle
              |{{in_data.address}}
          p.u-italic
            |Redes sociales
          .u-flex
            a.u-mr3(:href="in_data.facebook")
              i.u-icon.u-mr0 facebook
            a.u-mr3(:href="in_data.twitter")
              i.u-icon.u-mr0 twitter
            a.u-mr3(:href="in_data.googleplus")
              i.u-icon.u-icon--google-plus.u-mr0
            a.u-mr3(:href="in_data.instagram")
              i.u-icon.u-mr0 instagram
            a.u-mr3(:href="in_data.youtube")
              i.u-icon.u-mr0 youtube

      div.u-pt3.u-pb4.u-align-center(
        style="font-size:0.8rem;color:#fff")
        p.u-mt0.u-mb0
          |© 2017 <strong>Comproentacna.com</strong>
        p.u-mt0.u-mb0
          |Todos los derechos reservados
</template>

<script>
  import axios from 'axios'
  import VueRecaptcha from 'vue-recaptcha'

  export default {
    components: { VueRecaptcha },
    props: {
      in_data: {
        type: Object,
        default () {
          return {}
        }
      }
    },
    data () {
      return {
        dataForm: {
          name: '',
          whatsapp: '',
          email: '',
          address: '',
          recaptcha: ''
        },
        sitekey: '6LdA-g8UAAAAAEvHOIl8vXLSz9sIsDSe4VgkvMPB'
      }
    },

    methods: {
      submitForm () {
        if (this.dataForm.recaptcha !== '') {
          if (this.dataForm.name !== '') {
            if (this.dataForm.Whatsapp !== '') {
              if (this.dataForm.email !== '') {
                this.postForm()
              }
            }
          }
        }
      },
      postForm () {
        axios({
          method: 'post',
          url: `${window.API_URL}/contact`,
          data: this.dataForm,
          headers: { 'Content-Type': 'application/json' }
        })
        .then(() => {
          this.dataForm = {
            name: '',
            whatsapp: '',
            email: '',
            address: '',
            recaptcha: ''
          }
          window.toastr.success('Datos enviados exitosamente', 'COMPROENTACNA')
        })
      },
      verefyCapcha (tmp) {
        this.dataForm.recaptcha = tmp
      }
    }
  }
</script>
