<template lang="pug">
  .c-associates__header.wow.fadeInDown(
    data-wow-delay="1s",
    data-wow-duration="1.5s")
    .c-associates__header__wrapper
      .c-associates__header__logo
        img(:src="in_data.logoUrl")
      button.c-associates__header__menu(
        @click="menu = !menu")
        i.u-icon menu
      .c-associates__header__links(
        :class="{'is-displayed': menu}")
        button.c-associates__header__button(
          @click.prevent="toCoverPage")
          |LA OPORTUNIDAD
        button.c-associates__header__button(
          @click.prevent="toWhatIsIt")
          |¿QUÉ ES?
        button.c-associates__header__button(
          @click.prevent="toBenefits")
          |BENEFICIOS
        button.c-associates__header__button(
          @click.prevent="toMall")
          |CÓMO SER SOCIO
        button.c-associates__header__button(
          @click.prevent="toPartners")
          |ALIADOS
        button.c-associates__header__button(
          @click.prevent="toInscription")
          |INSCRÍBETE
</template>

<script>
  export default {
    props: {
      in_data: {
        type: Object,
        default () {
          return {
            logoUrl: ''
          }
        }
      }
    },

    data () {
      return {
        menu: false
      }
    },

    methods: {
      toCoverPage () {
        this.menu = false
        window.$('html, body').animate({
          scrollTop: 0
        }, 700)
      },
      toWhatIsIt () {
        this.menu = false
        let scrollTop = window.$('#c-associates__what-is-it').offset().top
        window.$('html, body').animate({
          scrollTop: scrollTop - 80
        }, 700)
      },
      toBenefits () {
        this.menu = false
        let scrollTop = window.$('#c-associates__benefits').offset().top
        window.$('html, body').animate({
          scrollTop: scrollTop - 80
        }, 700)
      },
      toMall () {
        this.menu = false
        let scrollTop = window.$('#c-associates__mall').offset().top
        window.$('html, body').animate({
          scrollTop: scrollTop - 80
        }, 700)
      },
      toPartners () {
        this.menu = false
        let scrollTop = window.$('#c-associates__partners').offset().top
        window.$('html, body').animate({
          scrollTop: scrollTop - 80
        }, 700)
      },
      toInscription () {
        this.menu = false
        let scrollTop = window.$('#c-associates__footer').offset().top
        window.$('html, body').animate({
          scrollTop: scrollTop - 80
        }, 700)
      }
    }
  }
</script>
