<template lang="pug">
  .c-associates__mall#c-associates__mall
    .c-associates__mall__wrapper
      h2.c-associates__mall__title.wow.fadeIn(
        data-wow-duration="1.5s")
        span Únete al
        span Mall
        span digital

      ul.c-associates__mall__list.wow.fadeInLeft(
        data-wow-delay="1s")
        li.c-associates__mall__item(
          v-for="(element, index) in in_data.steps")
          |{{element}}

      button.c-associates__mall__button.wow.fadeInUp(
        @click="to_inscription",
        data-wow-delay="1.5s")
        |INSCRÍBETE
</template>

<script>
  export default {
    props: {
      in_data: {
        type: Object,
        default () {
          return {
            steps: []
          }
        }
      }
    },

    methods: {
      to_inscription () {
        let scrollTop = window.$('#c-associates__footer').offset().top
        window.$('html, body').animate({
          scrollTop: scrollTop - 80
        }, 700)
      }
    }
  }
</script>
