<template lang="pug">
  .c-associates__partners#c-associates__partners
    h2.c-associates__partners__title.wow.fadeInUp(
      data-wow-duration="1.25s")
      |Ellos ya se unieron
    .c-associates__partners__list
      .swiper-container.swiper-parnerts
        .swiper-wrapper
          .swiper-slide(
            v-for="(element, index) in in_data.partners",
            :key="`parnerts${index}`")
            a.c-associates__partners__img(
              :href="element.link",
              target="_blank",
              :style="{background: `url('${element.imageUrl}')`}")

    .c-associates__partners__hr

    h2.c-associates__partners__title.wow.fadeInUp(
      data-wow-delay="1.25s",
      data-wow-duration="1.25s")
      |Colaboran

    .c-associates__partners__list
      .swiper-container.swiper-sponsors
        .swiper-wrapper
          .swiper-slide(
            v-for="(element, index) in in_data.sponsors",
            :key="`sponsors${index}`")
            a.c-associates__partners__img(
              :href="element.link",
              target="_blank",
              :style="{background: `url('${element.imageUrl}')`}")
</template>

<script>
  export default {
    props: {
      in_data: {
        type: Object,
        default () {
          return {
            partners: [],
            sponsors: []
          }
        }
      }
    },
    data () {
      return {
        swiperOptions: {
          autoplay: 4000,
          // nextButton: '.c-item-detail__next',
          // prevButton: '.c-item-detail__previus',
          // effect: 'fade',
          loop: true,
          slidesPerView: 3,
          speed: 1000,
          breakpoints: {
            1024: { slidesPerView: 3 },
            600: { slidesPerView: 2 },
            420: { slidesPerView: 1 }
          }
        }
      }
    },
    watch: {
      in_data (newVal) {
        this.initCarousel()
      }
    },
    methods: {
      initCarousel (tmp) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-parnerts', this.swiperOptions)
          if (tmp) { console.log(swiper) }
        }, 300)
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-sponsors', this.swiperOptions)
          if (tmp) { console.log(swiper) }
        }, 300)
      }
    }
  }
</script>
