<template lang="pug">
  .AssociatesScreen
    .c-associates
      app-header(:in_data="dataJson")

      carousel(:in_data="dataJson")

      section-tacna()

      what-is-it(:in_data="dataJson")

      benefits(:in_data="dataJson")

      mall(:in_data="dataJson")

      partners(:in_data="dataJson")

      app-footer(:in_data="dataJson")
</template>

<script>
  import AppFooter from './Footer'
  import AppHeader from './Header'
  import Benefits from './Benefits'
  import Carousel from './Carousel'
  import Mall from './Mall'
  import Partners from './Partners'
  import SectionTacna from './SectionTacna'
  import WhatIsIt from './WhatIsIt'
  import axios from 'axios'

  export default {
    name: 'AssociatesScreen',
    components: {
      AppFooter,
      AppHeader,
      Benefits,
      Carousel,
      Mall,
      Partners,
      SectionTacna,
      WhatIsIt
    },

    data () {
      return {
        dataJson: {}
      }
    },

    created () {
      this.requestassociates()
    },

    methods: {
      requestassociates () {
        axios({
          method: 'get',
          url: `${window.API_URL}/associates`,
          headers: { 'Content-Type': 'application/json' }
        })
        .then(({ data }) => {
          this.dataJson = data.data
        })
        .catch(({ response }) => {})
      }
    }
  }
</script>
