<template lang="pug">
  .c-associates__section-tacna
    h2.title.wow.fadeInUp(
      data-wow-duration="1.25s")
      |Tacna es la ciudad frontera mas visitada del Perú.
    p.description.wow.fadeInUp(
      data-wow-delay="0.5s",
      data-wow-duration="1.25s")
      |Más de 20000 extranjeros visitan diariamente la ciudad. Más del 80% de las personas buscan productos por internet. Internet no te limita a un espacio físico.
    h3.subtitle.wow.fadeInUp(
      data-wow-delay="1s",
      data-wow-duration="1.25s")
      |¿Por qué no aprovecharlo?
</template>

<script>
  export default {
  }
</script>
