<template lang="pug">
  .c-associates__what-is-it#c-associates__what-is-it
    div
      //- .tag
      //-   span La oportunidad

      h2.title.wow.bounceInLeft(
        data-wow-duration="1.25s")
        span ¿Qué es<br />
        span comproentacna.com?

      .content.wow.bounceInLeft(
        data-wow-duration="1.25s")
        p
          |{{ description }}

      button.button.wow.fadeInUp(
        data-wow-delay="1.25s",
        @click="to_inscription")
        |INSCRÍBETE
    div.video.wow.bounceInRight(
      data-wow-duration="1.5s",
      data-wow-delay="1s",
      @click="modal = true")
      img(:src="image")
      img.play(src="https://lh3.googleusercontent.com/N-JyvZjqZhnvydN9Q7Hbzwh6aAQmvnAmf1TjlvqHpCnvVl5zwSU7jlJH0uLFpNiRFw=w170")

    transition(name="modal")
      .c-modal(v-if="modal")
        .c-modal__container(@click="modal = false")
        .c-modal__content
          iframe(width="560", height="315",
            :src="`https://www.youtube.com/embed/${in_data.whatIsIt.videoUrl}`",
            frameborder="0",
            allowfullscreen)
</template>

<script>
  export default {
    props: {
      in_data: {
        type: Object,
        default () {
          return {
            whatIsIt: {
              content: '',
              videoImageUrl: '',
              videoUrl: ''
            }
          }
        }
      }
    },
    data () {
      return {
        description: '',
        image: '',
        modal: false
      }
    },
    watch: {
      in_data (newVal) {
        this.description = this.in_data.whatIsIt.content
        this.image = this.in_data.whatIsIt.videoImageUrl
      }
    },
    methods: {
      to_inscription () {
        let scrollTop = window.$('#c-associates__footer').offset().top
        window.$('html, body').animate({
          scrollTop: scrollTop - 80
        }, 700)
      }
    }
  }
</script>
