<template lang="pug">
  .c-footer.u-bg-primary(v-if="$route.path != '/order'")
    .c-footer__contact.o-container

      ul.u-flex.u-justify-center.u-width-100
        li.u-flex.u-items-center.u-mx3.u-mb2(
          style="cursor:pointer",
          @click="$router.push({ name: 'Associates' })")
          i.u-icon tag
          span Publica tu Producto

        li.u-flex.u-items-center.u-mx3.u-mb2(
          @click="$router.push({name: 'Malls'})",
          style="cursor:pointer")
          i.u-icon(aria-hidden="true") tacna
          span Centro Comerciales de Tacna

        li(class="c-contact--strong u-mx3 u-weight-600")
          span +51 995 921 377 | +51 952 917 079 | comproentacna@gmail.com

    .c-footer__complaints.o-container
      span
        |Términos & Condiciones | Buzón de quejas y sugerencias
</template>

<script>
  export default {
    name: 'footer',
    data () {
      return {
        logoUrl: ''
      }
    },
    mounted () {
      this.logoUrl = window.location.href + 'img/logo.png'
    }
  }
</script>
