<template lang="pug">
  ul.c-app-menu
    li
      .c-app-menu__item
        i.u-icon tacna
        span SOBRE TACNA
      ul.c-app-menu__sublist
        li(@click="toCatalog") Ver Catálogo
        li(@click="toServices") Ver Servicios
        li(@click="toShops") Ver Tiendas
        li(@click="toBlog") Ver Publicaciones
        li(@click="toMalls") Centros Comerciales
        li(@click="toMap") Ver Mapa de Tacna
    li.c-app-menu__item(@click="toHome")
      i.u-icon tag
      span PUBLICA TU PRODUCTO
    li
      .c-app-menu__item
        i.u-icon coins
        span TIPO DE CAMBIO
      ul.c-app-menu__sublist
        li(v-for="element in currencies",
          :class="{ active: element.id===currencySelected.id }",
          @click="changesCurrency(element.id)")
          |{{ element.code }}&#32{{ element.symbol }}&#32{{ element.name }}
    li.c-app-menu__item(
      v-show="tokenState",
      @click="toHome")
      i.u-icon padlock
      span Ingresar
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  export default {
    methods: {
      ...mapActions([
        'changeCurrencySelected'
      ]),
      toCatalog () {
        this.$emit('close')
        this.$router.push({ name: 'Catalog' })
      },
      toServices () {
        this.$emit('close')
        this.$router.push({ name: 'Services' })
      },
      toShops () {
        this.$emit('close')
        this.$router.push({ name: 'Shops' })
      },
      toBlog () {
        this.$emit('close')
        this.$router.push({ name: 'Blog' })
      },
      toMalls () {
        this.$emit('close')
        this.$router.push({ name: 'Malls' })
      },
      toHome () {
        this.$emit('close')
        this.$router.push({ name: 'Home' })
      },
      toMap () {
        this.$emit('close')
        this.$router.push({ name: 'Map' })
      },
      changesCurrency (id) {
        this.changeCurrencySelected(id)
        this.$emit('close')
      }
    },
    computed: {
      ...mapGetters([
        'currencies',
        'currencySelected',
        'tokenState'
      ])
    }
  }
</script>
