<template lang="pug">
  div
    app-header(
      :toggle_category_menu="toggle_category_menu",
      @toggle-menu="activeMenu = !activeMenu")

    category-menu(
      v-show="activeCategoryMenu",
      :disabled_category_menu="disabled_category_menu")

    app-menu(
      :class="{'is-active': activeMenu}",
      @close="activeMenu = false")
</template>

<script>
  export default {
    data () {
      return {
        activeCategoryMenu: false,
        activeMenu: false
      }
    },
    methods: {
      toggle_category_menu (params) {
        this.activeCategoryMenu = !this.activeCategoryMenu
        // if (params) {
        //   if (window.innerWidth > 700) {
        //     this.activeCategoryMenu = true
        //   }
        // } else {
        // }
      },
      disabled_category_menu () {
        this.activeCategoryMenu = false
      }
    }
  }
</script>
