<template lang="pug">
  div.c-attach-image
    div.container
      div.figure(v-if="!resource")
        img(src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/user_male-512.png")

      figure.figure(v-if="resource")
        img(v-bind:src="resource")

      label.btn(for="attach__image")
        span Cambiar Imagen

      input(type="file",
            id="attach__image",
            v-on:change="onFileChange"
            accept="image/*")

      div(class="")
        div(class="spinner-outer", v-if='loading')
          div(class="spin")
</template>

<script>
  // import { camelizeKeys, decamelizeKeys } from 'humps'

  export default {
    name: 'attach-image',
    props: {
      update_func: {
        type: Function,
        default () {
          return false
        }
      },
      in_resource: {
        type: String,
        default: ''
      }
    },
    data () {
      return {
        extension: '',
        fileType: '',
        resource: '',

        loading: false,
        notFile: true
      }
    },
    watch: {
      in_resource (newVal) {
        if (newVal) {
          this.resource = newVal
          this.extension = ''
          this.notFile = false
        }
      },
      resource (newVal) {
        if (this.extension) {
          this.update_func(newVal, this.extension)
        }
      }
    },
    methods: {
      onFileChange (e) {
        let files
        files = e.target.files || e.dataTransfer.files
        if (!files.length) { return false }
        files = files[0]

        let tmpFileType = typeFile(files.type)
        if (tmpFileType === 'image') {
          this.fileType = tmpFileType
          this.saveType(files.name)
          this.createImage(files)
        } else {
          window.toastr.warning('Solo se permiten Imagenes', 'COMPROENTACNA')
        }

        function typeFile (varType) {
          let posicion = varType.lastIndexOf('/')
          let whatType = varType.substr(0, posicion)

          if (whatType === 'image') {
            return whatType
          } else {
            return 'unknown'
          }
        }
      },
      saveType (name) {
        let posicion = name.lastIndexOf('.')
        let ancho = name.length
        this.extension = name.substr(posicion + 1, ancho)
      },
      createImage (file) {
        let reader = new window.FileReader()
        let vm = this

        reader.onload = function (e) {
          vm.resource = e.target.result
        }
        reader.readAsDataURL(file)
      }
    }
  }
</script>
