<template lang="pug">
  div(class="u-vertical-center")
    button.c-btn.publica(
            v-if="selectbutton === 'all' || selectbutton === 0 || selectbutton === 1",
            v-on:click="func_exe")
      i.icon.icomoon(aria-hidden="true")
        |tag
      |PUBLICA TU PRODUCTO


    button.c-btn.c-btn--large(
            v-on:click="func_exe"
            v-if="selectbutton === 'all' || selectbutton === 0 || selectbutton === 2")
      span REALIZAR PEDIDO

    button.c-btn.c-btn--rounded(
      :class="{disable: !disable, 'u-no-pointer': !disable}",
      v-if="selectbutton === 'all' || selectbutton === 0 || selectbutton === 3 || selectbutton === 4")
      i(class="u-icon u-icon--left-circle",
        aria-hidden="true",
        v-if="selectbutton === 3")
      i(class="u-icon u-icon--right-circle",
        aria-hidden="true",
        v-if="selectbutton === 4")

    button.c-btn.c-btn--submit(
            v-on:click="func_exe(ob)",
            v-if="selectbutton === 'all' || selectbutton === 0 || selectbutton === 5")
      span {{ text }}
</template>

<script>
  export default {
    name: 'btn',
    props: {
      selectbutton: {
        type: [String, Number],
        default () {
          return 0
        }
      },
      disable: {
        type: Boolean,
        default: true
      },
      text: {
        type: String,
        default: 'Button 5'
      },
      func_exe: {
        type: Function
      },
      ob: {
        type: Object,
        default () {
          return {}
        }
      }
    }
  }
</script>
