<template lang="pug">
  .c-input(:class="{'c-input--gray':bg==='gray', 'c-input--white': (bg!=='gray) || validated}")
    input.input(
          :class="{ validated: validated }",
          :type="type",
          v-model="value",
          autocomplete="on",
          :placeholder="placeholder")

    i.icon.icomoon(:class="{ validated: validated }")
      |{{ validated ? validated : '' }}
</template>

<script>
  import Validator from 'validatorjs'

  export default {
    name: 'Input',
    props: {
      bg: {
        type: String,
        default: 'gray'
      },
      type: {
        type: String,
        default: 'text'
      },
      placeholder: {
        type: String,
        default: 'Ingresa un texto'
      },
      validated: {
        type: [Boolean, String],
        default: false
      },
      validation: {
        type: [String, Array],
        default: 'alpha'
      },
      value: {
        type: String,
        default: ''
      },
      value_confirmation: {
        type: String,
        default: ''
      }
    },
    watch: {
      value (newVal) {
        if (newVal === '') {
          this.validated = false
        } else {
          let tmpValue = newVal
          let mv = this

          setTimeout(() => {
            if (tmpValue === mv.value) {
              let tmp = new Validator({
                value: tmpValue,
                value_confirmation: mv.value_confirmation
              }, {value: mv.validation})

              if (tmp.passes()) {
                mv.validated = 'check_circle'
              } else {
                mv.validated = 'alert'
              }
            }
          }, 300)
        }
      }
    }
  }
</script>

<style lang="stylus">

  .c-input
    align-items stretch
    color #727276
    display flex
    height 2.5rem
    justify-content center
    position relative

    .input
      border-radius 4px
      border-style solid
      border-width 1px
      font-size 0.9rem
      font-weight 300
      outline none
      padding-left 0.8rem
      padding-right 0.8rem
      transition 0.4s ease all
      width 100%

      &:focus
        background-color #fff
        border-color darken(#eceef0, 10%)

      &.alert
        border 1px solid #f00 !important

      &.alert::-webkit-input-placeholder
        color #f00 !important
        font-weight 300
        opacity 0.7
      &.alert::-moz-placeholder
        color #f00 !important
        font-weight 300
        opacity 0.7
      &.alert:-ms-input-placeholder
        color #f00 !important
        font-weight 300
        opacity 0.7
      &.alert:-moz-placeholder
        color #f00 !important
        font-weight 300
        opacity 0.7

    .icon
      position absolute
      right 0.5rem

      &.check_circle
        top 30%
        top calc(50% - 9px)
        color lighten(#18963D, 10%)
        font-size 18px

      &.alert
        top 30%
        top calc(50% - 9px)
        color #f00
        font-size 18px

  .c-input--gray
    input
      background-color #eceef0
      border-color #eceef0

  .c-input--white
    input
      background-color #fff
      border-color darken(#fff, 5%)

</style>
