<template lang="pug">
  .c-input-number
    button.c-input-number__minus(@click="down", type="button")
      i(class="u-icon u-mr0", aria-hidden="true")
        |down

    //- input.c-input-number__number(
    //-   v-model="dataQuantity",
    //-   @input="handleChange | debounce debounceDelay",
    //-   type="text", value="1")
    input.c-input-number__number(
      v-model="dataQuantity",
      type="text", value="1")

    button.c-input-number__plus(@click="up", type="button")
      i(class="u-icon u-mr0", aria-hidden="true",
        style="transform: rotate(180deg)")
        |down
</template>

<script>
  export default {
    name: 'input-number',
    props: {
      debounceDelay: {
        type: [Number, String],
        default () {
          return 0
        }
      },
      quantity: {
        type: [Number, String],
        default () { return 1 }
      },
      onChange: {
        type: Function,
        default () { return false }
      },
      minQuantity: {
        type: [Number, String],
        default: 1
      }
    },
    data () {
      return {
        dataQuantity: 1
      }
    },
    mounted () {
      this.dataQuantity = this.quantity
    },
    methods: {
      handleChange () {
        this.onChange(this.dataQuantity)
      },
      down () {
        if (this.dataQuantity > 0) {
          this.dataQuantity = parseInt(this.dataQuantity) - 1
          this.handleChange()
        }
      },
      up () {
        this.dataQuantity = parseInt(this.dataQuantity) + 1
        this.handleChange()
      }
    },
    watch: {
      dataQuantity (newVal, oldVal) {
        if (parseInt(newVal) < parseInt(this.minQuantity)) {
          this.dataQuantity = parseInt(this.minQuantity)
          this.handleChange()
        }
      },
      quantity (newVal) {
        if (parseInt(newVal) >= parseInt(this.minQuantity)) {
          this.dataQuantity = newVal
        } else {
          this.dataQuantity = parseInt(this.minQuantity)
        }
        this.handleChange()
      }
    }
  }
</script>
