<template lang="html">
  <div class="wrapper">
  	<div class="loader">
  		<div class="table">
  			<div class="cell">
  				<span class="inner" aria-label="cargando"></span>
  			</div>
  		</div>
  	</div>
    <p class="u-fz-h3 u-center u-mt4 u-mb0" v-if="message">
      {{ message }}
    </p>
  </div>
</template>

<script>
  export default {
    props: {
      message: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style lang="less">
  .transition-properties(...) {
      -webkit-transition: @arguments;
      -moz-transition: @arguments;
      -o-transition: @arguments;
      -ms-transition: @arguments;
      transition: @arguments;
  }

  .transition(@what,@time) {
      .transition-properties(~"@{what} @{time}");
  }

  .transition-timing(@string) {
      -webkit-transition-timing-function: @string;
      transition-timing-function: @string;
  }
  .rounded-base(@arguments) {
      -webkit-border-radius: @arguments;
      -moz-border-radius: @arguments;
      border-radius: @arguments;
  }
  .rounded(@radius) {
      .rounded-base(@radius);
  }

  .rounded(@top,@bottom) {
      .rounded-base(~"@{top} @{top} @{bottom} @{bottom}");
  }

  .rounded(@topLeft,@topRight,@bottomLeft,@bottomRight) {
      .rounded-base(~"@{topLeft} @{topRight} @{bottomRight} @{bottomLeft}");
  }

  @prefixes: '-webkit-', '-o-', '-ms-', '';




  .animation-play-state(@state) {
      -webkit-animation-play-state: @state;
      -moz-animation-play-state: @state;
      -ms-animation-play-state: @state;
      -o-animation-play-state: @state;
      animation-play-state: @state;
  }

  .animation(@args) {
      -webkit-animation: @args; /* Safari 4+ */
      -moz-animation: @args; /* Fx 5+ */
      -o-animation: @args; /* Opera 12+ */
      animation: @args; /* IE 10+ */
  }

  .anim-delay(@delay) {
      animation-delay: @delay;
      -webkit-animation-delay: @delay; /* Safari and Chrome */
  }

  .animation-iteration-count(@args) {
      -webkit-animation-iteration-count: @args;
      -moz-animation-iteration-count: @args;
      -o-animation-iteration-count: @args;
      -ms-animation-iteration-count: @args;
      animation-iteration-count: @args;
  }


  .transform(@string) {
      -webkit-transform: @string;
      -moz-transform: @string;
      -ms-transform: @string;
      -o-transform: @string;
      transform: @string;
  }


  .keyframes(@name, @a, @b, @c, @d, @e, @f) {

  	@-webkit-keyframes ~"@{name}" {
  		0% {
  			@a();
  		}
  		/* Frame 3 */
  		6.66% {
  			@b();
  		}
  		/* Frame 11 */
  		33.33% {
  			@c();
  		}
  		/* Frame 14 */
  		43.33% {
  			@d();
  		}
  		/* Frame 15 */
  		46.66% {
  			@e();
  		}
  		100% {
  			@f();
  		}
  	}
  }

  .keyframes(expand,{
  	width: 0;
  	height: 0;
  	border-width: 0;
  },{
  	/* Frame 3 */
  	width: 0;
  	height: 0;
  	border-width: 0;
  },{
  	/* Frame 11 */
  	width: 30px;
  	height: 30px;
  	border-width: 15px;
  },{
  	/* Frame 14 */
  	width: 42px;
  	height: 42px;
  	border-width: 18px;
  },{
  	/* Frame 15 */
  	border-width: 20px;
  	width: 50px;
  	height: 50px;
  },{
  	/* Frame 100% */
  	width: 90px;
  	height: 90px;
  	border-width: 0;
  });

  .wrapper {
  	padding: 5rem 0;
  	width: 100%;
  	text-align: center;

    @media screen and (max-width: 600px) {
      padding: 2.5rem 0;
    }
  }

  * {
  	box-sizing: border-box;
  }

  .loader {
  	display: inline-block;
  	width: 90px;
  	height: 90px;
  	background: red;
  	position: relative;
  	.rounded(50%);
  	//overflow: hidden;

  	.table {
  		display: table;
  		width: 100%;
  		height: 100%;
  		position: absolute;
  		top: 0;
  		left: 0;
  		table-layout: fixed;

  		.cell {
  			display: table-cell;
  			vertical-align: middle;
  			text-align: center;
  			font-size: 0;
  		}
  	}


  	.inner {
  		display: inline-block;
  		.rounded(50%);
  		width: 0;
  		height: 0;
  		border-width: 0;
  		border-style: solid;
  		border-color: #FFF;

  		.animation(~"expand linear 900ms infinite");
  		//.animation(~"expand cubic-bezier(0.000, 0.600, 0.715, 0.680) 800ms  infinite");
  	}
  }
</style>
