<template lang="pug">
  .u-flex.u-justify-center
    .loader#loader-4
      <span></span>
      <span></span>
      <span></span>
</template>

<script>
  export default {
  }
</script>

<style lang="stylus">
  #loader-4 span
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin: 35px 5px;
    opacity: 0;

  #loader-4 span:nth-child(1)
    background-color: #034AA6
    animation: opacitychange 1.5s ease-in-out infinite;

  #loader-4 span:nth-child(2)
    background-color: #732B82
    animation: opacitychange 1.5s ease-in-out 0.33s infinite;

  #loader-4 span:nth-child(3)
    background-color: #ff0351
    animation: opacitychange 1.5s ease-in-out 0.66s infinite;

  @keyframes opacitychange
    0%
      opacity: 0.1
      width: 20px;
      height: 20px;
    10%
      opacity: 0.1
      width: 20px;
      height: 20px;
    60%
      opacity: 1
      width: 25px;
      height: 25px;
    90%
      opacity: 0.1
      width: 20px;
      height: 20px;
    100%
      opacity: 0.1
      width: 20px;
      height: 20px;
</style>
