<template lang="pug">
  .c-login(:class="{vertical: orientation==vertical, horizontal: orientation!==vertical}")
    input-component(style="min-width:200px; max-width: 250px;",
                    bg="white",
                    placeholder="RUC de la Empresa",
                    validation="min:8|max:15|regex:/^[a-zA-Z0-9ñÑ._\-]+$/",
                    :validated.sync="username.validation",
                    :value.sync="username.value")
    input-component(style="min-width:200px; max-width: 250px;",
                    bg="white",
                    placeholder="Contraseña",
                    validation="min:6|alpha_num",
                    type="password",
                    :validated.sync="password.validation",
                    :value.sync="password.value",
                    v-on:keyup.enter="submit_func")
</template>

<script>
  import { authCredentials } from 'webpack/.configkeys'

  import axios from 'axios'
  import { decamelizeKeys } from 'humps'

  export default {
    name: 'login',
    props: [
      {
        name: 'orientation',
        type: String,
        default: 'vertical'
      }, {
        name: 'submit',
        type: Boolean,
        default () {
          return false
        }
      }
    ],
    data () {
      return {
        username: {
          validation: false,
          value: ''
        },
        password: {
          validation: false,
          value: ''
        }
      }
    },
    methods: {
      submit_func () {
        if (this.checkValidation()) {
          let json = {
            ...authCredentials,
            username: this.username.value,
            password: this.password.value
          }

          // axios.post('oauth/token', decamelizeKeys(tmp))
          axios.post(`${window.PATH}/oauth/token`, decamelizeKeys(json))
          .then((response) => {
            this.redirectDashboard(response.status, response.data)
            this.submit = false
          })
          .catch((error) => {
            this.redirectDashboard(error.response.status, {})
            this.submit = false
          })
        } else {
          this.submit = false
        }
      },
      redirectDashboard (status, saveData) {
        if (parseInt(status) === 200) { // status = OK
          window.sessionStorage.setItem('ACCESS_TOKEN', JSON.stringify(saveData))
          window.location = '/panel'
        } else if (parseInt(status) === 401) { // status = Unauthorized
          this.username.validation = 'alert'
          this.password.validation = 'alert'
          window.toastr.error('El usuario y/o la contraseña son incorrectos.', 'Fallo')
        } else {
          window.toastr.error('Ocurrió un error al iniciar sesión', 'Fallo')
        }
      },
      checkValidation () {
        let tmpValidation = true

        if (this.username.validation === false || this.username.validation === 'alert') {
          tmpValidation = false
          this.username.validation = 'alert'
        }

        if (this.password.validation === false || this.password.validation === 'alert') {
          tmpValidation = false
          this.password.validation = 'alert'
        }

        return tmpValidation
      }
    },
    watch: {
      submit (newVal) {
        if (newVal) {
          this.submit_func()
        }
      }
    }
  }
</script>

<style lang="stylus">

  .c-login
    &.vertical
      & > *:nth-child(1)
        margin-bottom 0.6rem
        width 100%

    &.horizontal
      display flex

      & > *
        width 100%

      & > *:nth-child(1)
        margin-right 0.6rem

      @media (max-width:700px)
        & > *:nth-child(1)
          margin-right 0
          margin-bottom 0.6rem

</style>
