<template lang="pug">
  .ModalCart()
    transition(name="modalFather")
      .c-modal(v-show="active")
        //- .c-modal__container(v-show="active", @click="activeFalse")
        transition(name="modalExpandBG")
          .c-modal__container(v-show="active")
        transition(name="modalExpand")
          .c-modal__content.o-modal-cart__content.u-margin-right-0.u-border-radius-0.u-vertical-center(
            style="width:initial;max-width:450px;height: 100vh",
            v-show="active")
            .u-scroll-light()
              order-list()
              .u-align-center()
                p.u-italic.u-weight-300.u-secondary
                  |Antes de comprar revisa todo lo que está comprando
                btn(:func_exe="func_order", :selectbutton="2")

    button.o-modal-cart__close(
      type="button",
      v-show="active",
      @click="activeFalse")
      i(class="icomoon") close

    .o-modal-cart__btn(
      :class="{ 'o-model-cart__btn--active': active }",
      @click="activeUpdate",
      v-if="$route.params.product_slug === undefined")

      span.number(style="line-height:1.5") {{ cartCount }}
      i.icomoon cart
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'ModalCart',
    data () {
      return {
        active: false
      }
    },
    methods: {
      ...mapActions([
        'enableModal',
        'disableModal',
        'updatePreviousPath'
      ]),
      activeUpdate () {
        if (!this.active) {
          this.enableModal()
        } else {
          this.disableModal()
        }

        this.active = !this.active
      },
      activeFalse () {
        this.disableModal()
        this.active = false
      },
      func_order () {
        this.activeFalse()
        this.updatePreviousPath(this.$route.path)
        this.$router.push({'name': 'Order'})
      }
    },

    computed: {
      ...mapGetters([ 'cartCount' ])
    }
  }
</script>
