<template lang="pug">
  .c-panel-grid
    .c-panel-grid__options
      ul
        li(:class="{'is-active': active == 0}",
          @click="clickAccount")
          i.u-icon.u-icon--user
          span Mi cuenta
        li(:class="{'is-active': active == 1}",
          @click="clickLists")
          i.u-icon.u-icon--shopping-list
          span Mis listas

    .c-panel-grid__content
      slot(name="content")

      .c-panel-grid__column-one
        slot(name="column-one")

      .c-panel-grid__column-two
        slot(name="column-two")
</template>

<script>
  export default {
    data () {
      return {
        active: 0
      }
    },
    mounted () {
      if (this.$route.name === 'Profile') {
        this.active = 0
      } else {
        this.active = 1
      }
    },
    methods: {
      clickAccount () {
        this.$router.push({ name: 'Profile' })
      },
      clickLists () {
        this.$router.push({ name: 'OrderLists' })
      }
    }
  }
</script>
