<template lang="pug">
  .c-price(:class="addclass")

    span.c-price__code
      |{{ code }}

    span.c-price__symbol
      |{{ symbol }}

    span.c-price__number(v-if="!promotion")
      |{{ price }}

    span.c-price__number(v-if="promotion")
      |{{ promotionalValue }}

    span.c-price__annulled(v-if="promotion")
      |{{ symbol + ' ' + price }}
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'price',
    props: {
      in_price: {
        type: Object,
        default () {
          return {
            currencyId: 1,
            value: '00.00'
          }
        }
      },
      in_addclass: {
        type: Array,
        default () {
          return []
        }
      }
    },

    data () {
      return {
        addclass: '',
        code: 'PEN',
        price: '999.999',
        symbol: 's/.',
        promotionalValue: 999,
        promotion: false
      }
    },

    mounted () {
      if (this.currencySelected !== undefined) {
        this.transform_coins()
      }

      let tmp = ''
      for (var i = 0; i < this.in_addclass.length; i++) {
        tmp = tmp + 'c-price--' + this.in_addclass[i] + ' '
      }
      this.addclass = tmp
    },

    watch: {
      in_addclass (val) {
        let tmp = ''
        for (var i = 0; i < val.length; i++) {
          tmp = tmp + 'c-price--' + val[i] + ' '
        }

        this.addclass = tmp
      },
      currencySelected (val) {
        if (this.currencySelected !== undefined) {
          this.transform_coins()
        }
      },
      in_price (val) {
        if (this.currencySelected !== undefined) {
          this.transform_coins()
        }
      }
    },

    methods: {
      transform_coins () {
        if (parseInt(this.currencySelected.id) === parseInt(this.in_price.currencyId)) {
          this.price = this.in_price.value
          if (this.in_price.promotion) {
            this.promotionalValue = this.in_price.promotionalValue
            this.promotion = true
          }
        } else {
          let tmp = parseInt(this.currencySelected.exchangeRate)
          tmp = tmp * parseInt(this.in_price.value)
          this.price = Math.round(tmp * 100) / 100

          if (this.in_price.promotion) {
            tmp = parseInt(this.currencySelected.exchangeRate)
            tmp = tmp * parseInt(this.in_price.promotionalValue)
            this.promotionalValue = Math.round(tmp * 100) / 100
            this.promotion = true
          }
        }

        this.symbol = this.currencySelected.symbol
        this.code = this.currencySelected.code
      }
    },

    computed: {
      ...mapGetters([
        'currencySelected'
      ])
    }
  }
</script>
