<template lang="pug">
  .c-shopping-cart
    transition(name="shopping-cart__background")
      .c-shopping-cart__background(v-if="visible", @click="falseVisible")

    .c-shopping-cart__wrapper(:class="{ 'is-visible': visible }")
      //- .c-shopping-cart__tag(@click="toggleVisible")
      //-   span.number {{ cartCount }}
      //-   i.icomoon.icon cart

      .c-shopping-cart__content
        .c-shopping-cart__title
          h2.text Lista de compras
          //- div.u-flex
          //-   span.u-mr2 TOTAL:
          //-   price(
          //-     :in_price="cartItems.total",
          //-     :in_addclass="['code-none', 'mini']")
          button.button(@click="falseVisible", type="button")
            i.u-icon close

        .c-shopping-cart__items(
          v-show="cartItems.items.length > 0")
          order-item(
            v-for="(element, index) in cartItems.items",
            :key="`order-item${index}`",
            :item="element",
            :index_cart="index")
        .c-shopping-cart__not-found(
          v-show="cartItems.items.length < 1")
          .emojin : (
          p
            |NO HAY PRODUCTOS<br/>EN TU LISTA

        .c-shopping-cart__footer
          //- p.u-italic.u-weight-300.u-secondary
          //-   |Antes de comprar revisa todo lo que está comprando

          btn(
            v-show="cartItems.items.length > 0",
            :func_exe="func_order",
            :selectbutton="2")
          div.u-mt2.u-align-center
            a(
              class="u-my0 u-py2 u-clr-tertiary",
              style="font-size:0.9rem;border-bottom:1px dotted #aaa;display:inline-block",
              href="/catalogo",
              @click.prevent="to_catalog")
              i.u-icon.u-icon--arrow-left
              |Agregar mas Productos
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'

  export default {
    data () {
      return {
        active: false,
        visible: false
      }
    },

    watch: {
      visible (newVal) {
        if (newVal) {
          window.$('body').css({overflow: 'hidden'})
        } else {
          window.$('body').css({overflow: 'auto'})
          this.disableShoppingCart()
        }
      },
      stateShoppingCart (newVal) {
        if (newVal) {
          this.visible = true
        }
      }
    },

    methods: {
      ...mapActions([
        'enableShoppingCart',
        'disableShoppingCart',
        'updatePreviousPath',
        'disableShoppingCart',
        'clearCart'
      ]),
      trueVisible () { this.visible = true },
      falseVisible () { this.visible = false },
      toggleVisible () { this.visible = !this.visible },
      activeUpdate () {
        if (!this.active) {
          this.enableShoppingCart()
        } else {
          this.disableShoppingCart()
        }

        this.active = !this.active
      },
      activeFalse () {
        this.disableShoppingCart()
        this.active = false
      },
      func_order () {
        this.activeFalse()
        this.updatePreviousPath(this.$route.path)
        this.falseVisible()
        this.$router.push({'name': 'Order'})
      },
      to_catalog () {
        this.disableShoppingCart()
        this.falseVisible()
        window.$('body').css({overflow: 'auto'})
        this.visible = false
        this.$router.push({
          name: 'Catalog'
        })
      }
    },

    computed: {
      ...mapGetters([
        'cartCount',
        'cartItems',
        'stateShoppingCart',
        'accessToken',
        'tokenState',
        'cart'
      ])
    }
  }
</script>
