<template lang="pug">
  .c-show-category(v-show="!$route.params.product_slug")
    .c-show-category__selected
      router-link(:to="{ name: 'Home' }")
        span Inicio
        i.u-icon.u-mr0 right

      router-link(:to="{ name: 'Catalog' }")
        span Catálogo
        i.u-icon.u-mr0 right

      router-link(
        :to="{ name: 'BusinessCategory', params: { business_category: $route.params.business_category} }",
        v-show="$route.params.business_category")
        span {{ $route.params.business_category }}
        i.u-icon.u-mr0 right

      span(v-show="$route.params.category")
        span {{ $route.params.category }}
      //- p
        span(class="u-weight-400") 80
        span &#32
        span Productos encontrados
    //- .c-show-category__description(v-show="$route.params.category")
      h3(class="u-weight-500")
        |{{ $route.params.business_category || $route.params.category || ''}}
      p(class="u-weight-300")
        |Importada Mujer, USA, Blusa, otros.
</template>

<script>
  export default {
    name: 'ShowCategory'
  }
</script>
