<template lang="pug">
  .c-subcription
    .c-subcription__wrapper
      p.c-subcription__paragraph
        strong.u-mr1 ¡SUSCRÍBETE!
        span Serás el primero en enterarte de nuestras novedades
      .u-flex.u-flex-column
        input.c-subcription__input(
          v-model="dataJson.name",
          placeholder="Nombre")
        span.u-align-center(v-show="valiName",
          style="color:yellow;font-size:0.8rem")
          |Por favor complete este campo!
      .u-flex.u-flex-column
        input.c-subcription__input(
          v-model="dataJson.email",
          placeholder="Correo electrónico")
        span.u-align-center(v-show="valiEmail",
          style="color:yellow;font-size:0.8rem")
          |Por favor complete este campo!
      button.c-subcription__submit(
        @click="submitSubscription")
        |SUSCRÍBETE
</template>

<script>
  import axios from 'axios'

  export default {
    data () {
      return {
        dataJson: {
          name: '',
          email: ''
        },
        valiName: false,
        valiEmail: false
      }
    },
    watch: {
      'dataJson.name' (newVal) {
        if (newVal) {
          this.valiName = false
        } else {
          this.valiName = true
        }
      },
      'dataJson.email' (newVal) {
        let emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i
        if (emailRegex.test(this.dataJson.email)) {
          this.valiEmail = false
        } else {
          this.valiEmail = true
        }
      }
    },
    methods: {
      submitSubscription () {
        if (this.dataJson.name !== '') {
          let emailRegex = /^[-\w.%+]{1,64}@(?:[A-Z0-9-]{1,63}\.){1,125}[A-Z]{2,63}$/i
          if (emailRegex.test(this.dataJson.email)) {
            this.postSubscription()
          } else {
            this.valiEmail = true
          }
        } else {
          this.valiName = true
        }
      },
      postSubscription () {
        axios({
          method: 'post',
          url: `${window.API_URL}/subscribe`,
          data: this.dataJson,
          headers: {'Content-Type': 'application/json'}
        })
        .then(({ data }) => {
          this.dataJson = {
            name: '',
            email: ''
          }
          window.toastr.success('Suscripción exitosa', 'COMPROENTACNA')
          this.valiName = false
          this.valiEmail = false
        })
        .catch(({response}) => {})
      }
    }
  }
</script>
