<template lang="pug">
  .c-user-input
    .c-user-input__wrapper
      .c-user-input__container
        .c-user-input__content
          .u-text-center
            img(src="/defaults/logo.png")
          slot(name="content")

        .c-user-input__aside
          h2.title
            span ¿Sabes
            span quíenes somos?
          p.subtitle
            |Comproentacna.com es el primer mall digital de la región de Tacna en Perú, regístrate y podrás acceder a :
          ul.list
            li
              i.u-icon check
              span Amplía tu catálogo de productos, todo en un sólo lugar las 24 hrs.
            li
              i.u-icon check
              span Recibir ofertas exclusivas en correo electrónico.
            li
              i.u-icon check
              span Planifica tu lista de compras para facilitar tu próxima visita a los centros comerciales de Tacna.
            li
              i.u-icon check
              span Contacto directo con empresas de confianza, sin intermediarios.
            li
              i.u-icon check
              span Información actualizada de los sectores conectados de Tacna.

    .c-user-input__redsocial
      .u-flex
        a(href="/terminos-condiciones") Términos y condiciones
        span |
        a(href="/preguntas-frecuentes") Preguntas Frecuentas
        span |
        a(href="/catalogo") El mall digital
    .c-user-input__footer
      p
        |&copy; 2017 Comproentacna.com. Todos los derechos reservados
</template>

<script>
  export default {
  }
</script>
