<template lang="pug">
  .SignInScreen
    user-input()
      div(slot="content")
        p.title Ingresa los siguientes datos para tu registro
        div.u-flex(style="max-width:25rem")
          div.u-mr1
            input(placeholder="Correo electrónico",
              v-model="dataJson.email")
            input(placeholder="Nombres",
              v-model="dataJson.firstName")
            input(placeholder="Ingresa tu DNI o RUT",
              v-model="dataJson.identityDocument")
          div.u-ml1
            input(placeholder="Constraseña",
              type="password",
              v-model="dataJson.password")
            input(placeholder="Apellidos",
              v-model="dataJson.lastName")
            input(placeholder="Celular",
              v-model="dataJson.cellphone")
        .terms
          div
            input(type="checkbox", v-model="dataJson.subscribe")
            span Quiero recibir las mejores promociones
          div
            input(type="checkbox", v-model="terms")
            span Acepto los términos y condiciones
        button.submit(@click="submit")
          |REGISTRARME
        div.title.u-mt3
          router-link(
            :to="{name: 'LogIn'}")
            |Iniciar sesión
</template>

<script>
  import axios from 'axios'
  import UserInput from 'components/UserInput'

  export default {
    name: 'SignIn',
    components: { UserInput },
    data () {
      return {
        dataJson: {
          subscribe: true,
          email: '',
          firstName: '',
          lastName: '',
          cellphone: '',
          password: '',
          identityDocument: ''
        },
        terms: false
      }
    },

    methods: {
      submit () {
        if (this.terms) {
          this.postSignIn()
        } else {
          window.toastr.warning('Acepta los terminos y condiciones para continuar', 'COMPROENTACNA')
        }
      },
      postSignIn () {
        axios({
          method: 'post',
          url: `${window.API_URL}/register`,
          headers: {'Content-Type': 'application/json'},
          data: this.dataJson
        })
        .then(({ data }) => {
          window.toastr.success('Registro exitoso', 'ComproEnTacna')
          this.$router.push({
            name: 'LogIn'
          })
        })
        .catch(({response}) => {})
      }
    }
  }
</script>
