<template lang="pug">
  .o-container.u-mt4
    .c-blog__advert-horizontal()
      .swiper-container.swiper-adverts-horizontal
        .swiper-wrapper
          .swiper-slide(
            v-for="(element, index) in advertsHorizontal",
            :key="`adverts{index}`")
            img(v-if="min700",
              @click="toLink(element.link)",
              :src="element.imageUrl")
            img(v-if="!min700",
              @click="toLink(element.link)",
              :src="element.imageUrlThumb")
</template>

<script>
  import axios from 'axios'
  export default {
    data () {
      return {
        advertsHorizontal: [],
        min700: window.innerWidth > 700,
        swiperOptions: {
          autoplay: 5000,
          // loop: true,
          slidesPerView: 1,
          speed: 1000,
          spaceBetween: 15
        }
      }
    },
    created () {
      this.requestAdverts()
    },
    watch: {
      advertsHorizontal () {
        this.initCarousel()
      }
    },
    methods: {
      toLink (url) { window.open(url, '_blank') },
      requestAdverts () {
        axios({
          method: 'get',
          url: `${window.API_URL}/adverts/catalog`,
          headers: {'Content-Type': 'application/json'}
        })
          .then(({ data }) => {
            this.advertsHorizontal = data.data.horizontal
          })
          .catch(({response}) => {})
      },
      initCarousel (tmp) {
        setTimeout(() => {
          let swiper2 = new window.Swiper('.swiper-adverts-horizontal', this.swiperOptions)
          if (tmp) { console.log(swiper2) }
        }, 300)
      }
    }
  }
</script>
