<template lang="pug">
  .CatalogScreen.o-background-pattern
    app-top()

    adverts()
    .o-container()
      show-category

    item-detail()

    .o-container.u-pb4(style="position:relative;")
      loading(v-show="items.length < 1")
      item-list(:in_items="items")
    subscription()

    //- modal-cart()
    shopping-cart()

    app-footer()
</template>

<script>
  import Adverts from './Adverts'
  import { mapActions, mapGetters } from 'vuex'

  export default {
    name: 'CatalogPage',
    components: { Adverts },
    created () {
      this.cleanItems()
      this.loadItems()
    },

    watch: {
      isLoading (newVal) {
        if (!newVal) {
          window.addEventListener('scroll', this.handleScroll)
        }
      },
      nextPage (newVal) {
        if (newVal) {
          window.addEventListener('scroll', this.handleScroll)
        } else {
          window.removeEventListener('scroll', this.handleScroll)
        }
      }
    },

    methods: {
      ...mapActions([
        'loadItems', 'loadNextItems', 'cleanItems'
      ]),

      handleScroll () {
        let win = window.$(window)
        let body = window.$('body').height()
        if (win.scrollTop() >= (body - win.height() - 140)) {
          this.loadNextItems()
        }
      }
    },

    computed: {
      ...mapGetters([
        'items', 'isLoading', 'nextPage'
      ])
    }
  }
</script>
