.u-between {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.u-flex-two {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  @media (min-width: 900px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.u-flex-two-50 {
  & > * {
    width: 50%;
  }
  @media (max-width: 900px) {
    & > * {
      margin-left: 0 !important;
      margin-right: 0 !important;
      width: 100%;
    }

    & > *:nth-child(2) {
      margin-bottom: 0.6rem !important;
    }
  }
}

.u-flex-two--marginInt {
  & > *:nth-child(1) {
    margin-right: 0.3rem;
    margin-bottom: 0;
  }
  & > *:nth-child(2) {
    margin-left: 0.3rem;
  }
}
