.u-clr-primary {
  color: $color-primary;
}
.u-clr-primary3 {
  color: $color-primary3;
}
.u-clr-secondary {
  color: $color-secondary;
}
.u-clr-tertiary {
  color: $color-tertiary;
}

.u-color-malldigital {
  color: $color-malldigital
}

.u-color-white {
  color: #fff
}
