@include utility('flex') {
  display: flex;
}

@include utility('flex-column-900') {
  display: flex;
  flex-direction: column;
  & > *:nth-child(2) {
    width: 45%;
  }
  & > *:nth-child(3) {
    width: 55%;
  }
  @media (min-width: 900px) {
    flex-direction: row;
  }
  @media (max-width: 899px) {
    & > *:nth-child(2) {
      width: 100%
    }
    & > *:nth-child(3) {
      width: 100%;
      height: 25rem
    }
  }
}

@include utility('flex-wrap') {
  flex-wrap: wrap;
}


@include utility('flex-column') {
  display: flex;
  flex-direction: column;
}
// @include utility('wrap') { flex-wrap: wrap }
@include utility('flex-1') { flex: 1 }
@include utility('flex-2') { flex: 2 }

@include utility('justify-between') { justify-content: space-between }
@include utility('justify-center') { justify-content: center }
@include utility('justify-end') { justify-content: flex-end }
@include utility('wrap') { flex-wrap: wrap }

@include utility('items-end') { align-items: flex-end }
@include utility('items-start') { align-items: flex-start }
@include utility('items-center') { align-items: center }
@include utility('items-baseline') { align-items: baseline }
