.u-margin--0 {
  margin: 0;
}

.u-margin-left--0.3rem {
  margin-left: 0.3rem;
}

.u-margin-left {
  margin-left: 0.5rem;
}

.u-margin-left--1rem {
  margin-left: 1rem;
}

.u-margin-left--1.5rem {
  margin-left: 1.5rem;
}

.u-margin-left--2rem {
  margin-left: 2rem;
}





.u-margin-right--0.3rem {
  margin-right: 0.3rem;
}

.u-margin-right {
  margin-right: 0.5rem;
}

.u-margin-right--1rem {
  margin-right: 1rem;
}

.u-margin-right--1.5rem {
  margin-right: 1.5rem;
}

.u-margin-right--2rem {
  margin-right: 2rem;
}

.u-margin-right-0 {
  margin-right: 0 !important;
}
.u-margin-left-0 {
  margin-left: 0 !important;
}



.u-margin-top-1 {
  margin-top: 1rem;
}
.u-margin-top-2 {
  margin-top: 2rem;
}
.u-margin-top-3 {
  margin-top: 3rem;
}
.u-margin-bottom-1 {
  margin-bottom: 1rem;
}
.u-margin-bottom-2 {
  margin-bottom: 2rem;
}
.u-margin-bottom-3 {
  margin-bottom: 3rem;
}




.u-margin-top-form {
  & > *{
    margin-top: 0.6rem;
  }

  & > *:nth-child(1) {
    margin-top: 0;
  }
}
