.u-overflow-auto {
  overflow: auto;
}

.u-overflow-x-auto {
  overflow-x: auto;
}

.u-overflow-y-auto {
  overflow-y: auto;
}





.u-overflow-hidden {
  overflow: hidden;
}

.u-overflow-x-hidden {
  overflow-x: hidden;
}

.u-overflow-y-hidden {
  overflow-y: hidden;
}


.u-overflow-modal {
  overflow: hidden;
  height: 97vh;
}
