.u-hidden-950 {
  @media (max-width: 950px) {
    display: none !important;
  }
}
.u-hidden-700 {
  @media (max-width: 700px) {
    display: none !important;
  }
}
.u-hidden-550 {
  @media (max-width: 550px) {
    display: none !important;
  }
}
