.u-scroll-light{
  flex: none;
  // height: 12.2rem;
  overflow: auto;
}

.u-scroll-light::-webkit-scrollbar{
  width: 6px;
  border-radius: 3rem;
}
.u-scroll-light::-webkit-scrollbar-button{
  border-radius: 3rem;
}
// .u-scroll-light::-webkit-scrollbar-track-piece{
//   border-radius: 3rem;
// }
// .u-scroll-light::-webkit-scrollbar-corner{
//   border-radius: 3rem;
// }
// .u-scroll-light::-webkit-resizer{
//   border-radius: 3rem;
// }

.u-scroll-light::-webkit-scrollbar-track{
  background-color: darken(#ECF0F3, 1%);
  border-radius: 3rem;
}

.u-scroll-light::-webkit-scrollbar-thumb{
  background-color: $color-primary;
  border-radius: 3rem;
}
