<template lang="pug">
  .BlogDefault
    .c-blog
      .c-blog__advert-horizontal
        .swiper-container.swiper-adverts-horizontal
          .swiper-wrapper
            .swiper-slide(
              v-for="(element, index) in advertsHorizontal",
              :key="`adverts{index}`")
              img(v-if="min700",
                @click="toLink(element.link)",
                :src="element.imageUrl")
              img(v-if="!min700",
                @click="toLink(element.link)",
                :src="element.imageUrlThumb")
      h4.c-blog__title
        span.u-mr1 Entérate de las
        strong Actividades
        span.u-ml1 que se realizan en Tacna

      .c-blog__wrapper
        .c-blog__content
          router-link.c-blog__principal(
            v-if="newsAll.length > 0",
            :to="{name: 'BlogProfile', params:{noticeSlug: newsAll[0].slug}}")
            .c-blog__principal__image
              img(:src="newsAll[0].imageUrl")
            span.c-blog__principal__date
              |{{newsAll[0].date}}
            h3.c-blog__principal__title
              |{{newsAll[0].title}}

          .c-blog__items.u-mb4()
            router-link.c-blog__item(
              v-for="(element, index) in newsAll",
              :key="`blog__item${index}`",
              :to="{name: 'BlogProfile', params:{noticeSlug: element.slug}}")
              .c-blog__item__image
                img(:src="element.imageUrlThumb")
              span.c-blog__item__date
                |{{element.date}}
              h3.c-blog__item__title
                |{{element.title}}

        .c-blog__aside
          .c-blog__subscription
            h3.c-blog__subscription__title
              |Suscríbete y recibe descuentos exclusivos.
            input.c-blog__subscription__input(
              type="text",
              v-model="dataJson.name",
              placeholder="Tu nombre")
            input.c-blog__subscription__input(
              type="text",
              v-model="dataJson.email",
              placeholder="Tu correo electrónico")
            button.c-blog__subscription__submit(
              @click="submitSubscription",
              type="button")
              |Suscribirme
            p.c-blog__subscription__footer
              |Te puedes dar de baja en cualquier momento
          .c-bog__tags
            h3.c-bog__tags__title
              |Categorías
            ul.c-bog__tags__list
              li.c-bog__tags__tag
                router-link(:to="{name: 'Blog', params: {langCode: $route.params.langCode}}")
                  |Todas la noticias
              li.c-bog__tags__tag(
                v-for="(element, index) in allTags",
                :key="`default_tags${index}`")
                router-link(:to="{name: 'Blog', params: {langCode: $route.params.langCode}, query: {tag: element.slug}}")
                  |{{ element.name }}
          .c-blog__advert
            .swiper-container.swiper-adverts
              .swiper-wrapper
                .swiper-slide(
                  v-for="(element, index) in adverts",
                  :key="`adverts{index}`")
                  img(@click="toLink(element.link)",
                    :src="element.imageUrl")
</template>

<script>
  import { mapActions, mapGetters } from 'vuex'
  import axios from 'axios'

  export default {
    name: 'BlogDefaultScreen',

    data () {
      return {
        dataJson: { name: '', email: '' },
        adverts: [],
        advertsHorizontal: [],
        min700: window.innerWidth > 700,
        swiperOptions: {
          autoplay: 3000,
          // loop: true,
          slidesPerView: 1,
          speed: 1000,
          spaceBetween: 15
        }
      }
    },

    created () {
      this.requestNews()
      this.requestTags()
      this.requestAdverts()
    },

    watch: {
      $route () {
        this.requestNews()
      },
      adverts () {
        this.initCarousel()
      }
    },

    computed: {
      ...mapGetters([
        'allTags',
        'newsAll'
      ])
    },

    methods: {
      ...mapActions([
        'requestNews',
        'requestTags'
      ]),
      toLink (url) { window.open(url, '_blank') },
      requestAdverts () {
        axios({
          method: 'get',
          url: `${window.API_URL}/adverts/blog`,
          headers: {'Content-Type': 'application/json'}
        })
          .then(({ data }) => {
            this.adverts = data.data.vertical
            this.advertsHorizontal = data.data.horizontal
          })
          .catch(({response}) => {})
      },
      initCarousel (tmp) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-adverts', this.swiperOptions)
          let swiper2 = new window.Swiper('.swiper-adverts-horizontal', this.swiperOptions)
          if (tmp) {
            console.log(swiper)
            console.log(swiper2)
          }
        }, 300)
      },
      submitSubscription () {
        if (this.dataJson.name) {
          if (this.dataJson.email) {
            this.postSubscription()
          } else {
            window.toastr.warning('Ingrese su email para continuar con la suscripción', 'COMPROENTACNA')
          }
        } else {
          window.toastr.warning('Ingrese su nombre para continuar con la suscripción', 'COMPROENTACNA')
        }
      },
      postSubscription () {
        axios({
          method: 'post',
          url: `${window.API_URL}/subscribe`,
          data: this.dataJson,
          headers: {'Content-Type': 'application/json'}
        })
          .then(({ data }) => {
            window.toastr.success('Suscripción exitosa', 'COMPROENTACNA')
            this.dataJson = {
              name: '',
              email: ''
            }
          })
          .catch(({response}) => {})
      }
    }
  }
</script>
