<template lang="pug">
  .BlogProfileScreen.c-blog-profile
    .c-blog-profile
      .c-blog-profile__image
        img(:src="noticeProfile.imageUrl")
      .c-blog-profile__wrapper
        .c-blog-profile__content
          .c-blog-profile__date
            |{{noticeProfile.date}}
          h3.c-blog-profile__title
            |{{noticeProfile.title}}
          div.c-blog-profile__paragraph(
            v-html="noticeProfile.content")
          .c-blog-profile__shareds
            p COMPARTIR
            i.u-icon.u-icon--facebook(@click="openTabFacebook")
            i.u-icon.u-icon--twitter(@click="openTabTwitter")
            i.u-icon.u-icon--google-plus(@click="openTabGooglePlus")
            i.u-icon.u-icon--whatsapp(
              v-if="min640",
              @click="openTabWhatsapp")
          .c-blog-profile__comments.u-mt5
            .fb-comments(
              :data-href="path + $route.fullPath",
              data-numposts="3")

        .c-blog__aside
          .c-blog__subscription
            h3.c-blog__subscription__title
              |Suscríbete y recibe descuentos exclusivos.
            input.c-blog__subscription__input(
              type="text",
              v-model="dataJson.name",
              placeholder="Tu nombre")
            input.c-blog__subscription__input(
              type="text",
              v-model="dataJson.email",
              placeholder="Tu correo electrónico")
            button.c-blog__subscription__submit(
              @click="submitSubscription",
              type="button")
              |Suscribirme
            p.c-blog__subscription__footer
              |Te puedes dar de baja en cualquier momento
          .c-bog__tags
            h3.c-bog__tags__title
              |Categorías
            ul.c-bog__tags__list
              li.c-bog__tags__tag(v-for="(element, index) in allTags",
                                  :key="`default_tags${index}`")
                router-link(:to="{name: 'Blog', params: {langCode: $route.params.langCode}, query: {tag: element.slug}}")
                  |{{ element.name }}
          .c-blog__related
            h3.c-bog__tags__title
              |Relacionadas

            ul
              router-link.c-blog__item(
                class="u-width-100",
                style="display:block",
                v-for="(element, index) in relatedNews",
                :key="`blog__item${index}`",
                :to="{name: 'BlogProfile', params:{noticeSlug: element.slug}}")
                .c-blog__item__image
                  img(:src="element.imageUrl")
                span.c-blog__item__date
                  |{{element.date}}
                h3.c-blog__item__title
                  |{{element.title}}

          .c-blog__advert
            .swiper-container.swiper-adverts
              .swiper-wrapper
                .swiper-slide(
                  v-for="(element, index) in adverts",
                  :key="`adverts{index}`")
                  img(@click="toLink(element.link)",
                    :src="element.imageUrl")
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import axios from 'axios'

  export default {
    name: 'BlogProfileScreen',
    data () {
      return {
        min640: window.innerWidth < 640,
        dataJson: { name: '', email: '' },
        path: window.PATH,
        adverts: [],
        swiperOptions: {
          autoplay: 7000,
          // loop: true,
          slidesPerView: 1,
          speed: 1000,
          spaceBetween: 15
        }
      }
    },

    mounted () {
      this.requestNoticeProfile()
      this.requestTags()
      this.requestRelatedNotice()
      this.requestAdverts()
    },

    watch: {
      adverts () {
        this.initCarousel()
      }
    },

    methods: {
      ...mapActions([
        'requestNoticeProfile',
        'requestTags',
        'requestRelatedNotice'
      ]),
      toLink (url) { window.open(url, '_blank') },
      requestAdverts () {
        axios({
          method: 'get',
          url: `${window.API_URL}/adverts/blog`,
          headers: {'Content-Type': 'application/json'}
        })
          .then(({ data }) => {
            this.adverts = data.data.vertical
          })
          .catch(({response}) => {})
      },
      initCarousel (tmp) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-adverts', this.swiperOptions)
          if (tmp) { console.log(swiper) }
        }, 300)
      },
      submitSubscription () {
        if (this.dataJson.name) {
          if (this.dataJson.email) {
            this.postSubscription()
          } else {
            window.toastr.warning('Ingrese su email para continuar con la suscripción', 'COMPROENTACNA')
          }
        } else {
          window.toastr.warning('Ingrese su nombre para continuar con la suscripción', 'COMPROENTACNA')
        }
      },
      postSubscription () {
        axios({
          method: 'post',
          url: `${window.API_URL}/subscribe`,
          data: this.dataJson,
          headers: {'Content-Type': 'application/json'}
        })
          .then(({ data }) => {
            window.toastr.success('Suscripción exitosa', 'COMPROENTACNA')
            this.dataJson = {
              name: '',
              email: ''
            }
          })
          .catch(({response}) => {})
      },
      openTabFacebook (tmp) {
        let url = 'https://www.facebook.com/sharer.php?u='
        url += 'http://www.comproentacna.com' + this.$route.fullPath
        let vartmp = window.open(url, 'COMPROENTACNA - BLOG', 'menubar=1,resizable=1,width=350,height=250')
        if (!tmp) {
          console.log(vartmp)
        }
      },
      openTabTwitter (tmp) {
        let url = 'https://twitter.com/intent/tweet?url='
        url += 'http://www.comproentacna.com' + this.$route.fullPath
        url += '&text=' + this.noticeProfile.title + ' -'
        url += '&hashtags=ComproEnTacna'
        let vartmp = window.open(url, 'COMPROENTACNA - BLOG', 'menubar=1,resizable=1,width=350,height=250')
        if (!tmp) {
          console.log(vartmp)
        }
      },
      openTabGooglePlus (tmp) {
        let url = 'https://plus.google.com/share?url='
        url += 'http://www.comproentacna.com'
        url += this.$route.fullPath
        let vartmp = window.open(url, 'COMPROENTACNA - BLOG', 'menubar=1,resizable=1,width=400,height=500')
        if (!tmp) { console.log(vartmp) }
      },
      openTabWhatsapp (tmp) {
        let url = 'whatsapp://send?text='
        url += 'Hola, te invito a leer:%0A'
        url += 'http://www.comproentacna.com'
        url += this.$route.fullPath
        let vartmp = window.open(url, 'COMPROENTACNA - BLOG', 'menubar=1,resizable=1,width=400,height=500')
        if (!tmp) { console.log(vartmp) }
      }
    },

    computed: {
      ...mapGetters([
        'noticeProfile',
        'allTags',
        'relatedNews'
      ])
    }
  }
</script>
