<template lang="pug">
.HomeScreen
  app-top()

  .c-home
    .swiper-container.swiper-home
      .swiper-wrapper
        .swiper-slide(
          v-for="(element, index) in dataJson.coverImages",
          :key="`cover-page{index}`")
          div(
            @click="toLinkAdvert(element.link)"
            style="background-size: cover;height:300px;cursor:pointer"
            :style="{background: `url('${element.imageUrl}')`}")
      .c-item-detail__previus(
        style="position:absolute")
        btn(:selectbutton="3")
      .c-item-detail__next(
        style="position:absolute")
        btn(:selectbutton="4")

    h2.c-home__title
      span Todo lo que&#32
      strong buscas lo encontrarás en Tacna
      .after

    .c-home__cover-categories.o-container
      .one(:style="{background: `url('${categoriesAll[0].coverImage}')`}")
        .footer(@click="toLink(categoriesAll[0].slug)")
          h3.title {{categoriesAll[0].name}}
          p.button
            span Ver <i class="u-icon">right</i>
      .one(:style="{background: `url('${categoriesAll[1].coverImage}')`}")
        .footer(@click="toLink(categoriesAll[1].slug)")
          h3.title {{categoriesAll[1].name}}
          p.button
            span Ver <i class="u-icon">right</i>
      .two
        div(:style="{background: `url('${categoriesAll[2].coverImage}')`}")
          .footer(@click="toLink(categoriesAll[2].slug)")
            h3.title {{categoriesAll[2].name}}
            p.button
              span Ver <i class="u-icon">right</i>
        div(:style="{background: `url('${categoriesAll[3].coverImage}')`}")
          .footer(@click="toLink(categoriesAll[3].slug)")
            h3.title {{categoriesAll[3].name}}
            p.button
              span Ver <i class="u-icon">right</i>

    .c-blog
      .c-blog__advert-horizontal
        .swiper-container.swiper-adverts-horizontal
          .swiper-wrapper
            .swiper-slide(
              v-for="(element, index) in advertsHorizontal",
              :key="`adverts{index}`")
              img(v-if="min700",
                @click="toLinkAdvert(element.link)",
                :src="element.imageUrl")
              img(v-if="!min700",
                @click="toLinkAdvert(element.link)",
                :src="element.imageUrlThumb")

    .o-background-pattern.u-pb4(
      v-if="items")
      .o-container
        h2.c-home__title
          span Lo último en&#32
          strong Comproentacna.com
          .after
        item-list(:in_items="items")
        button.c-subcription__submit.u-block.u-mt4(
          @click="$router.push({name: 'Catalog'})",
          style="margin-left:auto;margin-right:auto")
          span VER CATÁLOGO

    .c-home__business-categories
      h2.c-home__title
        span Encuentra lo que buscas en&#32
        strong Nuestras Categorías
        .after

      ul.list.o-container
        li.item(v-for="(element, index) in categoriesAll",
                :key="`categories${index}`")
          img(:src="element.image")
          h3.title {{element.name}}
          a.link(v-for="(ele, indx) in element.categories"
            :href="`/c/${element.slug}/${ele.slug}`",
            @click.prevent="toCategory(element.slug, ele.slug)") {{ele.name}}

    .c-home__features.o-container
      h2.c-home__title
        span Conoce más sobre&#32
        strong Comproentacna.com&#32
        span - El mall digital
        .after

      .content.u-mt3
        .u-mb4
          p.u-weight-700 {{dataJson.featureTitle}}
          p {{dataJson.featureDescription}}
        .items
          div(v-for="(element, index) in dataJson.features",
            :key="`features${index}`")
            img(:src="element.imageUrl")
            p {{element.text}}
    .o-container.u-mt4.u-mb4
      hr
    .c-home__payments.o-container
      .title
        img(src="/defaults/protected.png")
        p
          strong Pagar es facil, cómodo y seguro<br/>
          span Contacta con el proveedor<br />
          span Elige el que más te convenga
      .items
        div(v-for="(element, index) in dataJson.paymentsMethods")
          img(:src="element.imageUrl")
          p {{element.title}}


    .o-container.u-mt4.u-mb4
      hr

  subscription()

  shopping-cart()

  app-footer()
</template>

<script>
  import axios from 'axios'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    data () {
      return {
        items: [],
        dataJson: {},
        advertsHorizontal: [],
        min700: window.innerWidth > 700,
        swiperOptions: {
          autoplay: {
            delay: 5000,
            disableOnInteraction: false
          },
          // loop: true,
          slidesPerView: 1,
          speed: 1500,
          spaceBetween: 0,
          navigation: {
            nextEl: '.c-item-detail__next',
            prevEl: '.c-item-detail__previus'
          }
        },
        swiperOptionsAdverts: {
          autoplay: {
            delay: 3000,
            disableOnInteraction: false
          },
          // loop: true,
          slidesPerView: 1,
          speed: 1500,
          spaceBetween: 20
        }
      }
    },
    created () {
      this.requestHome()
      this.requestAdverts()
      this.requestItems()
    },
    watch: {
      dataJson () { this.initCarousel() },
      advertsHorizontal () { this.initCarouselAdverts() }
    },
    methods: {
      ...mapActions(['loadItems']),
      requestHome () {
        axios({
          method: 'get',
          url: `${window.API_URL}/home`,
          headers: {'Content-Type': 'application/json'}
        })
          .then(({ data }) => {
            this.dataJson = data.data
          })
          .catch(({response}) => {})
      },
      requestAdverts () {
        axios({
          method: 'get',
          url: `${window.API_URL}/adverts/home`,
          headers: {'Content-Type': 'application/json'}
        })
          .then(({ data }) => {
            this.advertsHorizontal = data.data.horizontal
          })
          .catch(({response}) => {})
      },
      requestItems () {
        axios({
          method: 'get',
          url: `${window.API_URL}/items/last`,
          headers: {'Content-Type': 'application/json'}
        })
          .then(({ data }) => {
            this.items = data.data
          })
          .catch(({response}) => {})
      },
      initCarousel (tmp) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-home', this.swiperOptions)
          if (tmp) { console.log(swiper) }
        }, 300)
      },
      initCarouselAdverts (tmp) {
        setTimeout(() => {
          let swiper = new window.Swiper('.swiper-adverts-horizontal', this.swiperOptionsAdverts)
          if (tmp) { console.log(swiper) }
        }, 300)
      },
      toLink (slug) {
        // window.location = '/c/' + slug
        this.$router.push({
          name: 'BusinessCategory',
          params: {
            business_category: slug
          }
        })
      },
      toCategory (bcSlug, catSlug) {
        this.$router.push({
          name: 'Category',
          params: {
            business_category: bcSlug,
            category: catSlug
          }
        })
      },
      toLinkAdvert (url) {
        if (url) {
          window.open(url, '_blank')
        }
      }
    },
    computed: {
      ...mapGetters(['categoriesAll'])
    }
  }
</script>
