/*------------------------------------*\
  #Project settings
\*------------------------------------*/

$color-primary    : #ff0351;
$color-primary2   : #b50850;
// $color-primary3   : #2b4ba2;
$color-primary3   : #034AA6;

$color-malldigital: #551180;
$color-secondary  : darken(#8E8E8E, 8%);
$color-tertiary   : lighten(#353535, 12%);



/*------------------------------------*\
#beakpoints
\*------------------------------------*/
$breakpoint-sm: 450px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;

$breakpoints: (
  'mobile': 450px, // 20em
  'tablet': 768px, // 48em
  'laptop': 1024px // 64em
) !default;

// tell the rest of framework that we have this module
// $wocss-settings-breakpoints: true;
$wocss-tools-bem-constructor: true;



/*------------------------------------*\
#Project settings
\*------------------------------------*/

$border-radius: 0.3rem;



/*------------------------------------*\
  #Trumps settings
\*------------------------------------*/

$icomoon-font-path: '~fonts/icons/fonts';





/*------------------------------------*\
#Fonts settings
\*------------------------------------*/

$name-font-family: 'Source Sans Pro', sans-serif;
